[2015-08-26 00:26] bleonard opened #1 "Sample Project"
Maybe some documentation on the sample react project?

I did an npm install then launched the xcode proj
It's still giving me a build  error

![screen shot 2015-08-25 at 5 25 45 pm](https://cloud.githubusercontent.com/assets/36106/9482901/5b47d0ac-4b4e-11e5-9d33-65e8b461148d.png)

Thoughts on that?

[2015-09-01 23:15] #1 closed, assigned to nobody

[2015-09-03 01:08] bleonard opened #2 "Can't find variable: RealmType"
Something is happening that prevents the injection of the `Realm` and `RealmType` globals in to the JS framework when you upgrade react to the current version.

You can see the issue in the example app if you change the `package.json` to:

[code]

[2015-09-03 03:03] #2 closed, assigned to nobody

[2015-09-03 03:50] bleonard opened #3 "Support migrations / reloading during developement"
One really great thing about React Native is the ability to reload (cmd + R).
I've just noticed that (understandably) this causes some problems when fiddling around with the schema.

The first thing I noticed is that it doesn't take effect until a hard relaunch of the app from XCode.
The second is that it then requires a migration (maybe because I changed a column type - not sure about adding a co

[2015-09-03 03:54] bleonard opened #4 "Query Syntax"
I might be a good idea to take a in an object (key value pairs) for querying instead of having people put together a string.

It would work for single parameter queries. If there are multiple it would assume `AND` -- these seems to be the most common case.

Notes;
- allow empty query or null to be no filters
- auto escape strings and such
- ideally on a string or int column, i should be able to gi

[2015-09-03 04:11] bleonard opened #5 "Support optional properties"
some of the issues that I'm seeing could be attributed to crashing if the value is undefined.

I'm calling `realm.create(data)`
let's say the table has a column named `title` but I leave it off the `data` object.

I think it's crashing with "should be a string"
I was expecting it to set the value to NULL if left off.

[2015-09-03 04:29] bleonard opened #6 "sort order"
i don't see an api for sorting. current use cases involve int columns.

[2015-09-03 04:46] bleonard opened #7 "assert on mass delete."
I have a table with about 30 rows or so. I was trying to simulate the "delete with a query" method I'd like.

[code]

This causes the crash below.
Another note: At one point I was deleting them one at a time in the loop. This did  not crash but also did not actually delete them all.

[code]

[2015-09-03 22:47] #6 closed, assigned to nobody

[2015-09-03 23:28] #7 closed, assigned to nobody

[2015-09-04 03:56] bleonard opened #8 "Storing JSON"
React uses [AsyncStorage](https://facebook.github.io/react-native/docs/asyncstorage.html) and we can just write an object (json) to disk.

I'm thinking I want to do that in Realm. That is, any given table would have a "document" column and I'd put a bunch of JSON in there. The other columns would only be things I wanted to filter or sort by.

Is that crazy? Here are some of the benefits
- I can ac

[2015-09-04 05:49] bleonard opened #9 "Partial updates"
say i know the primary key - is there a way to update just a few of the properties?
right now it all goes through `create` (with the `true` flag) and it crashes if all the properties are not set.

[2015-09-04 15:48] bleonard opened #10 "Can not run React example on phone"
Selecting plugged in iPhone as target (after compiling jS and changing app delegate.

[code]

[code]

[2015-09-04 17:15] #10 closed, assigned to nobody

[2015-09-04 18:03] #8 closed, assigned to nobody

[2015-09-04 18:10] #4 closed, assigned to nobody

[2015-09-04 18:21] alazier opened #11 "Optimize Realm.delete when deleting array/results objects"
We can delete row indexes directly operating on table_view/link_view rather than creating a wrapping object for each object.

[2015-09-04 22:25] #9 closed, assigned to nobody

[2015-09-04 22:26] bleonard opened #12 "mass updates"
is there a way to `UPDATE table_name SET prop1=14 WHERE prop2='key'` ?

[2015-09-04 23:19] bleonard opened #13 "reset db"
For tests, we need to clear/truncate all the tables.
What's the best what to do that?
I'm currently iterating through each and `realm.objects(name).delete(results);`

Is there one method to start over the whole db?

[2015-09-08 21:07] #13 closed, assigned to nobody

[2015-09-16 00:36] bleonard opened #14 "Does Not build in react-native 0.11.0"
[code]

[2015-09-16 08:02] #14 closed, assigned to nobody

[2015-09-17 23:53] bleonard opened #15 "React 0.11.0 still broken when debugging in chrome"
I don't expect it to work, but the whole app crashes during Obj-C load.

Stack track of crash...
![screen shot 2015-09-17 at 4 27 08 pm](https://cloud.githubusercontent.com/assets/36106/9948930/965d3036-5d5c-11e5-9b00-560c12bdd7a2.png)

[2015-09-23 08:29] alazier opened #16 "Support react-native android"
Steps needed to make this happen:
- [x] Build a [native module](https://facebook.github.io/react-native/docs/native-modules-android.html#content) which includes all the cpp files here https://github.com/realm/realm-js/tree/al-android/src - If the JSCore apis are really the same then everything here should pretty much just work
- [x] Implement the platform specific methods for java/android - empty

[2015-09-23 08:31] alazier opened #17 "New query engine"
We need a query engine that works cross platform and does not rely on objc.

Here are the notes on the subject from Realmstravaganza:
- What do we do for javascript?
  - NSPredicate?
  - Builder pattern like java?
  - LINQ like system?
- Java - builder pattern - can fail at runtime with type mismatches
  - people asking for limit/distinct
  - location of sort method this confusing - strict orderin

[2015-09-23 08:34] alazier opened #18 "Support all applicable JS Array methods on List and Results"
From @appden :

[2015-09-23 08:40] alazier opened #19 "Better handle object property comparison/equality/identity"
If you get a non primitive property it will not be the same object that was set. From @appden :

[2015-09-23 08:41] alazier opened #20 "Change schema definition format"
@appden :

[2015-09-23 08:44] alazier opened #21 "Realm apis should follow JS Conventions"
@appden :

@appden feel free to suggest alternatives here.

[2015-09-23 08:46] alazier opened #22 "REPL for development/api experiementation"
From @appden :

[2015-09-23 08:52] alazier opened #23 "Improve example app ui/Add query support"
The example app should use as many of the api features as is reasonable.

[2015-09-23 18:42] #15 closed, assigned to nobody

[2015-09-28 22:30] alazier opened #25 "Implement custom ListView DataSource for Realm.Results"
We should have our own DataSource implementation that works with Realm.Results and Realm.List in a way that data is not copied unnecessarily.

[2015-09-28 23:01] appden opened #26 "The splice method should return an array of the removed objects"

[2015-09-28 23:08] appden opened #28 "Test failures don't report correct location in Xcode sidebar"
They instead always report the same location in `RealmJSTests.mm`.

[2015-09-28 23:28] appden opened #30 "Test suite should run in all supported environments"
I wanted to be sure this was tracked. I really like that the current tests run inside Xcode and now will report the exact failure location in JS (see #29). However, we also will need to run these tests inside all of our supported platforms: iOS/Android devices, inside Chrome (once we get that working), Node, etc.

I propose that we migrate our existing test suite to use [Mocha](https://mochajs.org

[2015-09-29 00:58] #26 closed, assigned to appden

[2015-09-29 01:12] #28 closed, assigned to appden

[2015-09-29 17:41] alazier opened #31 "Try to get our JS code running in chrome tab"

[2015-09-29 17:47] alazier opened #32 "Get CI working"

[2015-09-29 21:56] #32 closed, assigned to alazier

[2015-09-30 17:39] alazier opened #36 "Actually test that the ReactExample loads propertly"
Our single test currently waits for a few seconds to make sure no exceptions are thrown. We should change the test to make sure the UI actually loads property. I was unable to get the current check to work in the few minutes I spent on it so commented out the relevant check.

[2015-09-30 17:46] #21 closed, assigned to alazier

[2015-10-04 19:23] alazier opened #38 "Run tests from ReactNative"
We need to be able to do this both with and without chrome debugging.

For ci, we need to be able to run the tests from the commandline either through XCode or another test harness.

[2015-10-04 19:25] alazier opened #39 "All tests should pass when run in chrome debugging mode"
Need an object cache for all realm objects with persistent ids

[2015-10-07 23:16] appden opened #40 "Setting property on Object outside transaction fails silently"
I wasn't getting an exception for this. It wasn't obvious to me where the check for transaction is missing in the code either.

[2015-10-08 18:27] alazier opened #42 "Make sure react rpc server is stopped between refreshes"
Right now we never stop the rpc server.

[2015-10-12 17:06] #31 closed, assigned to appden

[2015-10-12 17:41] alazier opened #44 "Support/Test Migrations"
At the moment there is no testing of our migration functionality

[2015-10-12 20:03] #40 closed, assigned to nobody

[2015-10-12 20:05] appden opened #45 "Support list index item setter"

[2015-10-12 20:14] appden opened #48 "Consolidate/Cleanup object_store code"
Right now we check for `realm->is_in_transaction()` inside object_accessor code for settings properties and creating new objects, but in the JSC layer for deleting objects and mutating arrays. All of this checks should be inside the object_store layer, which may mean adding new C++ methods for deletion and mutations. This will be good anyways in order to have less code duplication inside the Node

[2015-10-12 20:23] appden opened #49 "Support nested transactions"
This is a common pattern with most databases. Right now, methods that do mutations generally shouldn't call `realm.write()` because you may which to call multiple mutating methods all inside a single transaction. When the codebases get larger, this maybe be difficult to manage without nested transaction support.

[2015-10-12 22:06] appden opened #50 "List index getters should not throw out of bounds exceptions in JS"
In JS, getters for nonexistent items should always return undefined and not throw. However, setters can still throw.

[2015-10-12 22:38] appden opened #51 "List methods that expect a number should not throw when passed a string numbers"
The native `Array` methods convert those strings to numbers internally. We should do the same. This bit me hard in React Native because `ListViewDataSource` passes around all row indexes as strings.

[2015-10-12 23:46] alazier opened #52 "Support accessing a Realm's `Schema` object"
This is currently not exposed.

[2015-10-12 23:49] alazier opened #53 "Realm.write should pass the realm object to the callback function"
@appden am I recalling correctly that we decided on this at some point but simply did not create an issue?

[2015-10-12 23:58] appden opened #54 "The realm and callback passed to addNotification are not protected from the GC"
I've gotten a crash due to this issue.

[2015-10-13 00:03] #3 closed, assigned to nobody

[2015-10-13 00:16] #45 closed, assigned to appden

[2015-10-13 00:16] #50 closed, assigned to nobody

[2015-10-13 00:16] #51 closed, assigned to nobody

[2015-10-13 00:26] #44 closed, assigned to alazier

[2015-10-13 05:23] bleonard opened #57 "Missing instructions or build script for GCDWebServers"
![screen shot 2015-10-12 at 10 22 00 pm](https://cloud.githubusercontent.com/assets/36106/10446125/d0fa9170-712f-11e5-9986-eb748e3cfeb9.png)

[2015-10-13 06:17] bleonard opened #58 "React Example Loading"
the first complaint was that i couldn't find `node`
I am using nvm so added `source ~/.nvm/nvm.sh` in the sample Run Script.
That seemed to get past it

[2015-10-13 17:02] alazier opened #59 "Add device tests to ci"
Right now we only test on simulator

[2015-10-13 19:58] #54 closed, assigned to appden

[2015-10-14 20:15] #58 closed, assigned to appden

[2015-10-15 18:52] alazier opened #64 "Cordova test driver"
Run tests in cordova and run from CI

[2015-10-16 00:15] alazier opened #65 "Print out test results in the test app instead of in the console"

[2015-10-19 21:34] alazier opened #67 "Get Safari/WebView debugging working"
Previous attempt was in the al-safari branch

[2015-10-19 21:44] alazier opened #68 "Reloading in chrome is broken"
If you reload the app while in chrome debugging, you can end up in a situation where you have an old js context sending requests to a server associated with the reloaded context.

The solution for this issue is to have a sessionID associated with each rpcServer, and to support simultaneous requests to multiple rpcServers both for the current and old remote jscontexts. We can support these on a sin

[2015-10-19 22:41] #38 closed, assigned to appden

[2015-10-19 22:42] alazier opened #69 "Run tests in chrome through XCode"
Once the tests pass, we need to be able to drive them from xcodebuild and hook up with ci.

[2015-10-20 07:55] #42 closed, assigned to nobody

[2015-10-20 07:57] appden opened #70 "Assigning to Results indices should throw an exception"
This would be in line with how assigning to out-of-bounds indices on `List` objects throw an exception.

[2015-10-20 08:07] appden opened #71 "Improve support for Data properties"
- [ ] Data properties should return a `ArrayBuffer`
- [ ] Data properties should be supported by the RPC for Chrome debugging
- [ ] There should be tests that confirm all of this works, there currently are no tests for Data props

[2015-10-20 08:10] appden opened #72 "Refactor RealmRPC to be pure C++"
It doesn't have any intrinsic platform dependencies and thus can be used on Android (see #16).

[2015-10-20 08:16] appden opened #73 "Remove calls to JSGlobalContextSetIncludesNativeCallStackWhenReportingExceptions()"
It gets called inside `RealmRPC.mm` and `RealmReactTests.m` to prevent crashes. The issue is that calls to `JSObjectCallAsFunction` (and others) that result in an exception will in turn make JavaScriptCore want to create a stack trace that includes native functions.

My current theory is that JavaScriptCore doesn't correctly handle C++ lambdas (and might be fixed in the RPC server by switching to

[2015-10-20 08:29] appden opened #74 "Upgrade to support React Native 0.13"
Among many things, it fixes the issue we had with using `const` in ES6 code.

[2015-10-20 22:29] #39 closed, assigned to alazier

[2015-10-20 22:42] #57 closed, assigned to nobody

[2015-10-20 22:42] alazier opened #76 "CocoaPods support"

[2015-10-20 22:42] alazier opened #77 "Carthage support"
Needed before release

[2015-10-20 23:00] alazier opened #78 "Cordova refresh/page load breaks apis"

[2015-10-20 23:08] alazier opened #79 "Test setting properties to null"

[2015-10-20 23:53] #68 closed, assigned to appden

[2015-10-21 18:55] appden opened #80 "Regression: Object.keys() no longer works on List objects in Chrome"
This was broken by f2c4e78. It's important to have working because React Native `ListViewDataSource` relies on `Object.keys`, and therefore our example app no longer works when debugging it in Chrome. Unfortunately, I can't figure out a way to continue to use `Object.preventExtensions` (so that we throw exceptions on setting out-of-bounds indices) and have `Object.keys` work properly with `List`.

[2015-10-21 20:25] #80 closed, assigned to appden

[2015-10-21 21:41] alazier opened #83 "Check for react version number and check compatibility"
Some users will have older/newer versions of react which we will not work with. We should probably throw an error at least for versions we know we do not support.

[2015-10-21 21:55] #74 closed, assigned to appden

[2015-10-21 23:25] appden opened #85 "Improve addNotification API"
Typically in JS APIs, you listen for just the event you're interested in (i.e. `addEventListener` DOM APIs and `addListener`/`on`/`once` in the Node `EventEmitter` API). I believe we should do the same, as well as name our events the way they are usually are named in JS (i.e. `change` instead of `DidChangeNotification` and `refresh-required` instead of `RefreshRequiredNotification`).

Currently `a

[2015-10-21 23:36] appden opened #86 "Improve RealmJS Objective-C API"
Since this is an Objective-C API, I believe we should favor using `JSContext` rather than `JSContextRef`, but still allow for it. Here are my proposed changes and additions:
- `+ (void)initializeInContext:(JSContext *)context`
- `+ (void)initializeInJSGlobalContextRef:(JSGlobalContextRef)ctx`
- `+ (JSValue *)constructorValueForContext:(JSContext *)context`

The last one wouldn't actually add the c

[2015-10-22 00:02] appden opened #87 "Switch back to using debug build of Realm core"
This issue is to serve as a reminder to revert 7074d66 once the issue with `pthread_key_create` is fixed in core.

[2015-10-22 00:12] #70 closed, assigned to nobody

[2015-10-22 13:24] #79 closed, assigned to alazier

[2015-10-22 15:40] alazier opened #92 "Make a pr against react-native repo so we can load without hacks"
We need to be using public apis and no runtime introspection to initialize the context.

[2015-10-23 01:10] #72 closed, assigned to alazier

[2015-10-23 23:42] #69 closed, assigned to appden

[2015-10-26 19:15] appden opened #98 "Add API to create the Realm constructor without exposing in context"
`JSValueRef RJSConstructorForContext(JSContextRef ctx)`

This wouldn't actually add the constructor to the global object, but instead would just create the value so the caller can expose it in a different way (such as through a module system or in a different namespace).

[2015-10-26 19:16] #86 closed, assigned to nobody

[2015-10-27 14:56] #85 closed, assigned to nobody

[2015-10-27 17:31] alazier opened #104 "Test null values with upsert"
We should be properly differentiating between properties which are null vs undefined.

[2015-10-27 20:38] alazier opened #105 "Treat null and undefined identically when setting object properties"

[2015-10-27 20:52] #5 closed, assigned to nobody

[2015-10-28 21:03] #23 closed, assigned to appden

[2015-10-29 18:14] alazier opened #110 "Support standalone object creation"
new RealmObject should work. May require a base class.

[2015-10-29 18:45] alazier opened #111 "Improve test coverage"
We should be testing all possible uses of our apis.

[2015-10-29 18:58] alazier opened #112 "Stop supporting object creation from arrays of properties"
@appden thinks this is a bad idea.

[2015-11-02 21:47] #105 closed, assigned to alazier

[2015-11-03 21:25] #104 closed, assigned to nobody

[2015-11-03 23:28] alazier opened #119 "Support querying List and Results objects"
Right now you can only specify a query when making the `Realm.objects` call

[2015-11-04 00:01] bleonard opened #120 "sample project does not compile"
ran this : `react-native bundle --minify`

[code]

[2015-11-04 00:39] #98 closed, assigned to appden

[2015-11-04 16:37] alazier opened #121 "Run tests on devices"

[2015-11-04 18:10] alazier opened #122 "Add basic code examples and docs to the README"

[2015-11-05 06:41] #122 closed, assigned to nobody

[2015-11-06 00:22] appden opened #126 "Make sure we throw exceptions on invalid property names"
We also need to add tests to confirm this, of course.

[2015-11-06 00:54] #120 closed, assigned to appden

[2015-11-10 06:52] bleonard opened #127 "Realm is already in a write transaction"
<img width="1440" alt="screen shot 2015-11-09 at 10 48 15 pm" src="https://cloud.githubusercontent.com/assets/36106/11056228/70d9b8d2-8734-11e5-8f63-2df0bfed67ae.png">

debugging in chrome
hit command r a few times to refresh
it worked a few times, then crash above

[2015-11-10 20:53] appden opened #129 "Transactions should be canceled when reloading React Native app"
This is one of the issues outlined in #127. We should make sure to do this for both the context and web socket executor cases.

[2015-11-11 00:08] alazier opened #130 "Bad error messages when using invalid class"
We need to improve error messages when we encounter them so that they are actionable. Two bugs which required a debugger for me to decipher:

`var realm = new Realm({schema: [schemas.PersonObject, schemas.DefaultValuesObject]});
`

`var realm = new Realm({schema: [schemas.PersonObject, schemas.DefaultValues]});`

[2015-11-11 22:55] alazier opened #132 "Don't include webserver/chrome debugging in release builds"

[2015-11-12 21:14] #132 closed, assigned to alazier

[2015-11-13 17:14] mihirsoni opened #135 "Not able to run with RN 0.14"
Hi,

Appreciate for the early access, while trying to integrate with my project I am not able to integrate it.

It seems it doesn't work with RN 0.14 , I also tried the Example with RN version 0.14 It is throwing error as shown in below image.

Am I doing anything wrong ??

<img width="1280" alt="screen shot 2015-11-13 at 10 39 46 pm" src="https://cloud.githubusercontent.com/assets/578861/11152354

[2015-11-13 19:30] #135 closed, assigned to nobody

[2015-11-16 15:17] alazier opened #138 "Support iOS7 if possible"
Right now we only support iOS8 as we use embedded dynamic libraries. If it's possible to support iOS7 we should as this is what ReactNative defaults to.

[2015-11-16 15:30] alazier opened #139 "Change docs to use strings rather than Realm.Types constants"
Some users may think that this stored a JS object. We should improve the docs or explore other names for this property type. Its also possible that if we added Realm.Types.DICTIONARY that users would no longer be confused

[2015-11-16 15:31] alazier opened #140 "ReactNative integration"
From one of our users:

Would also be nice to integrate better with ListView

[2015-11-16 15:32] alazier opened #141 "Add a React/Redux example"

[2015-11-16 15:36] alazier opened #142 "Build a RealmListViewDataSource"
Right now users need to copy data when using the built in ListViewDataSource which is not performant. We should be taking advantage of Realm's lazy load architecture by better integrating with this component. If possible we should do this in a general way so that we can achieve the same benefits with other components as well.

[2015-11-16 15:55] #83 closed, assigned to appden

[2015-11-16 16:01] #112 closed, assigned to nobody

[2015-11-16 20:32] AustinAmoruso opened #144 "Unable to build with RN version 1.7"
I'm getting a file not found while trying to build in xcode.
# import "Base/RCTBridge.h" file not found in RealmReact.mm

Let me know what more information you need.

[2015-11-16 22:30] appden opened #145 "API Proposal to change schema property types"
Right now we use constants defined on `Realm.Types` to define property types. This is ok, but has some drawbacks:
1. `Realm` needs to be scope when defining the schema format, which is problematic for Cordova integration because `Realm` cannot be in scope until the `deviceready` event fires
2. Schemas can't really be defined in JSON files, which actually would be nice to have
3. It's a lot of typi

[2015-11-17 01:25] #144 closed, assigned to nobody

[2015-11-17 01:58] #127 closed, assigned to nobody

[2015-11-17 19:17] bleonard opened #146 "Upgrade Example Project to React 0.14.2"

[2015-11-17 19:21] #146 closed, assigned to nobody

[2015-11-17 21:31] #129 closed, assigned to alazier

[2015-11-17 21:49] #71 closed, assigned to appden

[2015-11-17 21:58] alazier opened #148 "Use JSDocs to generate API reference docs"

[2015-11-17 21:59] alazier opened #149 "Copy walkthrough docs from cocoa and port to JS"

[2015-11-17 22:35] #25 closed, assigned to nobody

[2015-11-19 20:14] #48 closed, assigned to alazier

[2015-11-20 19:31] asamiller opened #151 "Support relative paths for realm files"
The readme says:

but when I create a new database with a path specified:
[code]
I get this error:
[code]

[2015-11-21 03:22] #145 closed, assigned to nobody

[2015-11-23 16:44] alazier opened #154 "Test compound queries"

[2015-11-23 16:44] alazier opened #155 "Test multi-level keypath queries"

[2015-11-23 16:44] alazier opened #156 "Add support for keypath comparison queries"

[2015-11-23 18:14] appden opened #157 "Wrap RealmRPC in simple C API"
We can actually simplify how we call into `RealmRPC` with this, and this would allow `RealmJS.framework` to be built as a module so it can be used from Swift and with `@import` in Objective-C.

[2015-11-23 18:38] #17 closed, assigned to alazier

[2015-11-23 19:38] alazier opened #158 "Finish integrating new results.cpp"
There current object store version of this is on the branch al-os-merge. There are a number of things that need to be fixed for this to be complete/work:
- [x] Fix api incompatibilities - use new SortOrder etc.
- [x] Results should take in/store the object name rather than getting it from the table. Methods made public in previous object_store commits should be made private again.
- [x] Exception

[2015-11-23 19:39] bleonard opened #159 "Sample app is blank"
I went to test it out and there is nothing showing up.

[2015-11-23 20:53] #159 closed, assigned to nobody

[2015-11-24 07:27] alazier opened #161 "Get chrome/rpc working on android"
Steps needed to get chrome/rpc support:
- [x] Figure out the bable/js compile issues. Right now the test app on the al-android branch is loading the realm-rpc module but failing due to multiple errors
- [ ] Get a webserver running in our android module and hook up to rpc.hpp - should we use [nanoHTTPD?](https://gist.github.com/komamitsu/1893396)
- [ ] Add JNI layer forwarding web requests to [RPCS

[2015-11-24 17:05] alazier opened #162 "Implement/test null queries for all optional types"

[2015-11-24 18:29] alazier opened #163 "Add mixpanel analytics"
@timanglade please add details for what we need here.

[2015-11-25 00:27] alazier opened #165 "Async queries"
We need object store support. We should get this into the beta if possible.

[2015-11-25 01:44] alazier opened #166 "Support Object.assign"
user pseudocode:

[code]

[2015-11-27 21:00] asamiller opened #169 "Error: Migration is required due to the following errors"
I upgraded my project to ReactNative 0.15.0 and the project runs fine in the simulator until I turn on "Debug in Chrome" and then I get this error:

[code]

I tried bumping up the schemaVersion to force a migration but that doesn't help. If I turn off Chrome debugging, everything works again.

Here's my schema:

[code]

[2015-11-30 02:55] #154 closed, assigned to nobody

[2015-11-30 02:58] #158 closed, assigned to alazier

[2015-11-30 03:30] alazier opened #173 "Support latest version of react native"
Looks like chrome integration is broken with the latest rc. Didn't try v15.

[2015-11-30 04:23] #169 closed, assigned to nobody

[2015-11-30 22:43] asamiller opened #175 "Realm prevents Xcode from building an iOS app archive"
Once Realm is included in a project, Xcode will no longer archive an iOS app and instead archives a "Generic Xcode Archive". This breaks App Store, Ad-hoc or Enterprise distribution. From googling it looks like it's because RealmJS.framework & RealmReact.framework use Public Headers. http://stackoverflow.com/questions/10715211/cannot-generate-ios-app-archive-in-xcode

I tested this by:
1. Creating

[2015-12-03 01:43] #173 closed, assigned to appden

[2015-12-07 23:09] AustinAmoruso opened #179 "Unable to Delete Property"
I keep getting the error  'Unable to delete Property'

This happens any time I run react-native update and update the realm-js repo. I am wondering what this error really means and how to rectify. I am trying to stay on the most up to date version.

Logs seem to resolve around.
RCTNativeLogginHook + 236
RTContextExecutor.m @ 129:0

[2015-12-08 16:03] #155 closed, assigned to nobody

[2015-12-08 20:57] #166 closed, assigned to nobody

[2015-12-08 21:14] #175 closed, assigned to nobody

[2015-12-09 02:51] asamiller opened #181 "Crashes running on device"
I pulled in the new updates and was able to get the app running on my iPhone 6. But it crashes around the 2nd or 3rd time the app makes a database call. Let me know if I can provide more crash data.

<img width="1151" alt="screen shot 2015-12-08 at 6 48 30 pm" src="https://cloud.githubusercontent.com/assets/5133623/11675159/50e6b142-9ddc-11e5-8a27-27bcd81ef328.png">

<img width="1149" alt="screen

[2015-12-09 04:32] #179 closed, assigned to nobody

[2015-12-10 21:14] ramsundark5 opened #182 "How to implement pagination?"
Is there any recommended way to do pagination using realm js? For eg: I want to show the first 10 rows at page load and then load the next 25 based on certain user action(like pull to refresh).

[2015-12-10 23:52] #182 closed, assigned to nobody

[2015-12-15 02:54] timanglade opened #185 "Record Installation Video"
Looking for something in the vein of https://www.youtube.com/watch?v=uwFemnYBzok (which we had to take down from the cocoa docs because the video became outdated, but it used to sit right at the top of “Getting Started”). Basically shows you how to create your first Realm project, from opening up your IDE for the first time, to adding Realm, to building a very simple app.

[2015-12-15 15:38] timanglade opened #186 "Find name for npm module"

[2015-12-17 20:18] #181 closed, assigned to appden

[2015-12-18 00:08] alazier opened #190 "Error message when forgetting RealmReact.framework should be actionable"
Right now it is `Unable to delete property.`

[2015-12-29 23:25] timanglade opened #193 "Benchmarks"
Identify basic bottlenecks, delays caused when inserting 10, 100, 1000 objects, etc.

[2016-01-05 14:29] timanglade opened #195 "Update LICENSE and copyright headers"
Right before we open the repo to the public, the license needs to be moved to Apache 2.0 and the copyright headers need to be updated accordingly.

[2016-01-05 22:00] appden opened #196 "Results.prototype.sortByProperty should return a new Results object"
At least from JS, it would be preferable to treat Results as being immutable, especially when used with React Native. This same philosophy applies to `snapshot` and should also apply to the future `filter` method.

[2016-01-13 01:08] #190 closed, assigned to appden

[2016-01-14 22:33] alazier opened #201 "Checkboxes in example require two taps/clicks to toggle"
It should work on the first tap

[2016-01-14 23:20] #20 closed, assigned to appden

[2016-01-14 23:26] #139 closed, assigned to nobody

[2016-01-21 23:17] #161 closed, assigned to nobody

[2016-01-22 19:18] alazier opened #204 "Change package name of module"
Right now it is com.reacttests. Should be something like io.realm.react. Then our class would be io.reaom.react.RealmReactAndroid

I tried to change this but ran into issues.

[2016-01-26 15:45] alazier opened #206 "Chrome debug mode in android is slow"
I'm don't think this is our fault but we should confirm.

[2016-01-26 15:48] timanglade opened #207 "Check API & Patterns for consistency with java/cocoa"

[2016-01-26 21:46] alazier opened #208 "Download JSC headers/binaries"
Right now they are checked into our repo. We should be downloading them using a gradle task

[2016-01-26 21:47] alazier opened #209 "Download core in a gradle task"
We should download core rather than having it checked into git

[2016-01-26 21:48] alazier opened #210 "Make pr against PEGTL"
We have changes needed to get android working

[2016-01-26 21:50] alazier opened #211 "Stop webservers when exiting chrome debug mode"
Right now it seems like the webserver is never stopped.

[2016-01-26 21:53] alazier opened #212 "We should be supporting both debug and release builds"
For now we only do what `installArchives` uses

[2016-01-26 22:22] #210 closed, assigned to alazier

[2016-01-26 22:31] alazier opened #213 "Test chrome debug mode for android"
We should run the tests in chrome debug mode

[2016-01-26 22:32] alazier opened #214 "Test android example in ci"

[2016-01-27 01:26] #211 closed, assigned to nobody

[2016-01-27 13:27] dorongutman opened #215 "Error: Missing property 'length'"
I'm getting the above error when running the following line:

`const realm = new Realm({schema: [eventSchema]});`

From debugging a bit I found out the above error message returns from an XHR made to `http://localhost:8082/create_realm` in `rpc.js` lines 152-181 - method named `sendRequest`.

`eventSchema` is the following:

[code]

[2016-01-27 17:29] #208 closed, assigned to nhachicha

[2016-01-28 15:15] #204 closed, assigned to nhachicha

[2016-01-28 19:31] alazier opened #216 "Test that setting an object property to a different object type throws"
We don't seem to test this.

[2016-01-28 20:11] alazier opened #217 "Test object with optional properties can be created without optional properties missing"
Don't see a test for this.

[2016-01-29 18:46] #215 closed, assigned to nobody

[2016-01-29 19:05] #186 closed, assigned to nosrak113

[2016-01-29 21:42] alazier opened #218 "Separate `objects` from `filtered`"
We could only support calling `objects` with a single argument for the object type. Then subsequent `filter` calls could be made to refine results. This would simplify the api a bit and be consistent with the swift apis. Thoughts?

[2016-01-30 18:46] #209 closed, assigned to nhachicha

[2016-01-30 19:46] dorongutman opened #219 "Realm framework gets stripped when distributing app packages"
I'm getting the following crash when opening the app after installing it on device via Fabric Beta:

[code]

Here's some extra information about my setup:
- Tested using React Native 0.18.1 and 0.19.0
- Using CocoaPods for installing react native, fabric+crashlytics
- Running on simulator with Release in the schema works fine.
- Running on device directly from Xcode with Release in the schema work

[2016-02-01 16:31] timanglade opened #220 "Set npm variables & publish"
Such as package name, description, etc. We can take inspiration from the CocoaPods or Gradle strings, but they’re a bit dated at this point and the whole copy might need to be rewritten. Check with TA & KM.

Can’t be done too early to prevent people from finding the package. Let’s plan on doing it a day or two before launch.

[2016-02-01 16:32] timanglade opened #221 "Update README"
README should be written in the style of realm-cocoa and realm-java. You can start from a copy-paste and adjust.

[2016-02-02 16:45] timanglade opened #222 "Review of Query Language by other bindings"
If this is going to be the basis of our universal query language used by all other bindings we should have a minimal review done before we launch it to the public.

[2016-02-02 18:02] dorongutman opened #223 "How do I do a one-to-one relation ?"
Or one-to-many - from the one side (for example a user has many `PhoneNumber`'s. How do I define the `Owner` of a `PhoneNumber` object in the `PhoneNumber` schema ?)

[2016-02-02 18:15] dorongutman opened #224 "How can I do inheritance in schema classes ?"
I have all sorts of messages types - simple, html, etc..
I want to create a base `Message` schema so I could define a `Feed` schema in which there's a list of messages of different types, all inherit from the base message schema.

[2016-02-02 23:41] appden opened #225 "Support IN queries for list properties"
I created a branch (`sk-list-queries`) that contains a failing test that should pass, so please use that (and expand the test) when we implement this feature.

[2016-02-02 23:49] appden opened #226 "Support RNPM"
It's becoming the de facto way for clients to link in React Native plugins. Supporting it shouldn't be too difficult: https://github.com/rnpm/rnpm

[2016-02-03 15:47] nhachicha opened #227 "Install Junit test report plugin on Jenkins"
The current CI job pulls a JUnit XML file after running the tests on device, to be able to view & act upon the resulted tests suite (considering the Job as a failure or not) we need to install a plugin that will consume the generated file.

[2016-02-04 18:27] #222 closed, assigned to nosrak113

[2016-02-09 09:15] dorongutman opened #229 "Can I use both RealmJS (in the js side) and Realm or RealmSwift (in the native side) ?"

[2016-02-09 15:47] timanglade opened #230 "Slides"

[2016-02-09 15:51] #224 closed, assigned to nobody

[2016-02-09 15:54] #227 closed, assigned to emanuelez

[2016-02-09 15:55] #223 closed, assigned to nobody

[2016-02-10 22:56] alazier opened #231 "Change `object` property specification from walkthrough/docs"
Remove the variant that takes `type` and `objectType`

[2016-02-10 22:59] alazier opened #232 "Schema should be on constructor instead of prototype"
[code]

[2016-02-10 23:07] alazier opened #233 "`create` should accept object name or constructor function"

[2016-02-10 23:28] alazier opened #234 "get android beta tester"

[2016-02-10 23:47] #231 closed, assigned to nobody

[2016-02-11 21:17] alazier opened #235 "`Symbol.iterator` should be installed on Results"
So we can do `for(var obj of results)`

[2016-02-12 01:21] #16 closed, assigned to alazier

[2016-02-12 03:54] timanglade opened #236 "Spruce up the realm/realm-jsdoc repo a bit"
In general we try to avoid having too many public repos on our GitHub org, especially when they can be confusing (people might expect our docs to be contained in that repo).

[2016-02-12 19:47] alazier opened #239 "Make sure core download is cached"
Feedback from Brian

[2016-02-12 20:33] nhachicha opened #240 "Investigate what happens if you open a Realm within a Web Worker"
Can a user use the API to open a Realm from a  worker thread (​_Webworker_​)? our current impl is based on sending events to the main lopper thread (for debugging) In this case we should consider calling ​_close_​ or all those opened Realm in the Bg will eat up virtual address space

[2016-02-12 20:45] alazier opened #241 "`npm install` install compiles android for ios only projects"
This makes things much slower and is quite annoying when things fail.

[2016-02-12 21:02] alazier opened #242 "Add batchCreate method"
Right now you can batch create by assigning to a list property. We should decide if this should be a top level operation.

[2016-02-13 00:54] #236 closed, assigned to nobody

[2016-02-13 05:25] #241 closed, assigned to nobody

[2016-02-15 17:32] #221 closed, assigned to nosrak113

[2016-02-16 01:08] #148 closed, assigned to appden

[2016-02-16 01:09] appden opened #246 "Add code samples to API docs"

[2016-02-16 22:16] timanglade opened #247 "Android Benchmarks"

[2016-02-17 21:13] #36 closed, assigned to nobody

[2016-02-17 21:13] #142 closed, assigned to appden

[2016-02-17 21:15] #92 closed, assigned to appden

[2016-02-17 21:15] #193 closed, assigned to alazier

[2016-02-17 21:23] #119 closed, assigned to nobody

[2016-02-17 21:29] alazier opened #249 "Document port forwarding"
Needed for chrome debug mode to work on android

[2016-02-17 21:33] #229 closed, assigned to nobody

[2016-02-17 21:36] alazier opened #250 "Add ListViewDataSource to walkthrough docs"

[2016-02-17 21:40] timanglade opened #251 "Clean up language"
AsyncStorage vs. RNSQLite vs. RNStore in docs, blogpost, repo description, other places?

[2016-02-17 21:43] #201 closed, assigned to appden

[2016-02-17 21:44] #251 closed, assigned to timanglade

[2016-02-17 22:53] #149 closed, assigned to alazier

[2016-02-18 04:22] alazier opened #253 "Error when specifying invalid object type for list propery is wrong"
[code]
prints out this message:

/Users/ari/src/realm/realm-js/tests/ios/../lib/list-tests.js:454: error: -[ListTests testListFiltered] : Migration is required due to the following errors:

Should indicate object type is invalid

[2016-02-18 05:32] #218 closed, assigned to alazier

[2016-02-18 18:45] alazier opened #255 "Only start chrome debug server in debug mode on android"

[2016-02-18 18:56] timanglade opened #256 "Update walkthrough with npm instructions"

[2016-02-18 19:19] #234 closed, assigned to nosrak113

[2016-02-18 22:59] #163 closed, assigned to appden

[2016-02-18 23:18] #196 closed, assigned to appden

[2016-02-18 23:38] timanglade opened #259 "Re-run bench on 0.20"

[2016-02-19 00:27] #232 closed, assigned to appden

[2016-02-19 01:22] timanglade opened #261 "Cordova / PhoneGap / Ionic Support"

[2016-02-19 01:23] timanglade opened #262 "Node.js (V8) Support"

[2016-02-19 21:09] timanglade opened #266 "Change setting to build in release mode"
NH is sending a PR shortly.

[2016-02-19 23:17] #259 closed, assigned to alazier

[2016-02-19 23:32] appden opened #268 "Actually make primary key properties readonly"
I just tested it, and confirmed that I can indeed change a primary key value. However, the docs say this:

I actually think we should leave that in the docs and change our behavior to match this. Supposedly, that is what the Cocoa binding does. Also, this change would allow us to move the very old #118 PR forward, since it was blocked on the issue of primary key props being writable.

[2016-02-20 00:21] #256 closed, assigned to appden

[2016-02-20 00:22] #250 closed, assigned to appden

[2016-02-20 00:25] #255 closed, assigned to nhachicha

[2016-02-22 01:01] #219 closed, assigned to appden

[2016-02-22 01:02] #230 closed, assigned to appden

[2016-02-22 02:57] #195 closed, assigned to timanglade

[2016-02-22 03:09] #220 closed, assigned to appden

[2016-02-22 16:09] #247 closed

[2016-02-22 18:37] alazier commented on #239
Each platform needs platform specific binaries so we are doing the best we can for now.

[2016-02-22 18:37] #239 closed

[2016-02-22 18:48] alazier opened #272 "sorted api documentation is confusing"
https://realm.io/docs/react-native/latest/api/Realm.List.html#sorted

It is not clear at all that you can pass in either a property name + reverse, or an array of descriptors. Ideally for overloaded functions we should document both variations separately and not try to combine them as we do now.

[2016-02-23 09:16] dorongutman commented on #76
needed indeed :hourglass:

[2016-02-23 13:39] alazier commented on #76
With the public launch yesterday you can now install Realm using npm without having to clone the source repo. Instructions are here https://realm.io/docs/react-native/latest/#installation

With npm support is there still a reason you would want to install using cocoapods?

[2016-02-23 14:49] cmelchior commented on #268
Note that the Java binding allow for the primary key to be changed, but will throw an Exception if you try to change it to a value that already exists.

[2016-02-23 14:57] timanglade opened #274 "Investigate possible reuse of Relay schema.json"
[Asked on Twitter](https://twitter.com/mixrtapp/status/702050083794239489).

[2016-02-23 15:51] timanglade commented on #185
@TimOliver Is this something you could help us with?

[2016-02-23 15:58] TimOliver commented on #185
Yeah! I'd love to help out with that! :)

[2016-02-23 18:59] alazier opened #275 "run object-store tests in realm-js ci"
Need to create an XCode target to run catch.hpp tests

http://hiltmon.com/blog/2014/10/26/simple-c-plus-plus-testing-with-catch-in-xcode/

[2016-02-23 21:58] DHidee66 opened #276 "Improve error message when Chrome debugging does not work"
Hi,

I keep getting this error when I try to debug the app in Chrome.

![screen shot 2016-02-23 at 10 56 29 pm](https://cloud.githubusercontent.com/assets/6751025/13268081/b9ab4d1a-da80-11e5-97af-e71b86afe67a.png)

The first time I debug the app on a clean device it runs ok but then after I restart the app or the device it crashes.

Thank You!

[2016-02-23 22:24] nhachicha commented on #276
Hi @DHidee66
can you try to reverse & forward the port manually from the shell?
[code]

[2016-02-24 08:34] alazier opened #277 "Don't force users to build the npm module in order to use the examples"
We either need to change package.json to use the production npm module, or make it easy to change the version the cloned repo is pointing to.

[2016-02-24 10:57] DHidee66 commented on #276
Hey @nhachicha .. It works. Thank you. :)
What is causing this to happen?

[2016-02-24 11:17] DHidee66 commented on #276
I called a non existing function and this came up in the Chrome debugger but not on the device.
![screen shot 2016-02-24 at 12 09 10 pm](https://cloud.githubusercontent.com/assets/6751025/13283792/4337312e-daf0-11e5-957e-be33a489c1b6.png)
Is it realm that needs to create a session in 8082?

[2016-02-24 11:44] nhachicha commented on #276
We do have an Http server running on device (port 8082) to process Chrome debug commands.
this is why you need to forward & reverse the aforementioned port. This is done for you when you compile https://github.com/realm/realm-js/blob/master/react-native/android/publish_android_template#L19, but you may have this problem when having more than one device attached

[2016-02-24 14:32] DHidee66 commented on #276
It seems like the task it's not executed at the right time, cause ``adb forward tcp:8082 tcp:8082`` definitely  fixes the problem.

[2016-02-24 14:50] DHidee66 opened #278 "List Documentation!"
Maybe this is helpful in the list documentation:
List Properties cannot be declared as optional or set to null. They should be set to an empty array.

Thank You!

[2016-02-24 14:54] alazier commented on #278
We will add this to the docs. Thanks for your feedback.

[2016-02-24 16:00] alazier commented on #249
Our first user actually ran into this issue with automatic port forwarding not working. We should have a `Chrome Debugging` section in the docs which explains in what situations users have to do this manually (ie when running the app on device after building). Moving to P1

[2016-02-24 16:07] alazier opened #279 "Support Encryption"

[2016-02-25 01:22] appden commented on #276
Reopening this so we can be sure to improve the error message along with improving documentation.

[2016-02-25 01:30] appden commented on #276
The documentation issue for this is #249

[2016-02-25 01:38] appden commented on #261
I just rebased and pushed my older WIP branch, `sk-cordova`, which pretty much completes this task. :smile:

[2016-02-25 01:43] appden commented on #261
I mean for iOS. For Android, this is pretty much blocked on #262 being done.

[2016-02-25 18:55] DHidee66 opened #280 "Convert Results to Array of Objects!"
Hi,

We may need sometimes to have every object with every property.
What should be a clean way of doing this instead of nested loops.

Thank You!

[2016-02-25 20:39] ChangJoo-Park opened #281 "Migration when schema changed."
Hello, I use react-native 0.20.0 and latest realm-js.

Everytime I change schema, iOS simulator failed execute because migration error.

I saw (solution)[https://github.com/realm/realm-js/issues/169] but is there any other solution?

[2016-02-25 20:55] alazier commented on #281
When changing your schema you need to pass in a new `schemaVersion` the next time you open the Realm. This is documented here: https://realm.io/docs/react-native/latest/#schema-version

[2016-02-25 21:00] alazier commented on #280
We definitely plan to add this as well as other Array methods. Until we add this you should be able to use the Array method directly. Something like:
`Array.prototype.slice.call(results, startIndex, endIndex)` should hopefully work.

[2016-02-25 22:04] ChangJoo-Park commented on #281
Thank you @alazier. additional question. How can I reset realm database?

[2016-02-25 22:53] alazier commented on #281
You can delete all objects in a database with this method:

https://realm.io/docs/react-native/latest/api/Realm.html#deleteAll

[2016-02-26 10:09] ChangJoo-Park commented on #281
Thank you @alazier

[2016-02-26 10:09] #281 closed

[2016-02-26 19:47] alazier opened #283 "Use an implicit empty array as the default for list properties"
Users shouldn't have to specify an empty list during object creation.

[2016-02-26 19:55] #279 closed

[2016-02-26 22:32] besarthoxhaj opened #284 "Error: Failed to load 'http://localhost:8082/create_session'"
When running the application on dev mode from my phone I get the following error
[code]

If I run the same code on the simulator it works fine.

[2016-02-26 23:16] alazier commented on #284
Another user hit this here https://github.com/realm/realm-js/issues/276. Are you also on android? If so does running `adb forward tcp:8082 tcp:8082` fix the issue for you?

[2016-02-27 10:48] melihmucuk opened #285 "Error: Array must contain values for all object properties"
I have schema like below:

<pre><code>const MMSchema = {
  name: 'MM',
  primaryKey: 'art',
  properties: {
    art:  'int',
    tar: {type: 'string', optional: true},
    p_date: {type: 'string', optional: true},
    p_time: {type: 'string', optional: true},
    article: {type: 'string', optional: true},
    design_no: {type: 'string', optional: true},
    grp: {type: 'string', optional: true},

[2016-02-27 11:06] besarthoxhaj commented on #284
Hi @alazier I'm using iOS on mac. Is there some other thing I can do?

[2016-02-27 12:48] alazier commented on #284
There is definitely an issue at the moment running debug mode on the device. We have an rpc server running on the device/simultor to serve api calls when in debug mode - when running on the device chrome is trying to hit localhost rather than the server on the device which fails.

You may be able to hardcode your devices IP address to work around the issue. You can change this by editing the `DEVI

[2016-02-27 12:54] alazier commented on #285
Just to be clear, your first example with `response.mmArray[0]` works alright but batch insertion does not? If so that is because we don't yet support batch insertion. There is an issue for this here #242

Until we support this you could  insert using a loop or one of the array iteration methods:
[code]

[2016-02-27 12:57] melihmucuk commented on #285
Yes, batch doesnt work. Ok I will try loop. When do you provide batch insert? Do you have any roadmap for this ? Thanks.

[2016-02-27 13:02] alazier commented on #285
Not yet sure when we will add this. At the moment there isn't a significant performance gain when batching vs looping within a single transaction. In both cases we only do one write to disk and the overhead in the js layer are comparable.

[2016-02-27 13:05] besarthoxhaj commented on #284
I just tried to change `DEVICE_HOST` to both:

[code]

but I still get the same error `Failed to load 'http://<IP-ADDRESS>:8082/create_session'

Do I need to change it somewhere else as well?

[2016-02-27 13:13] alazier commented on #284
Not sure as I haven't had the chance to try this out yet. Will give it a try later today.

[2016-02-27 14:42] besarthoxhaj commented on #284
Thanks @alazier and also thanks for bringing Realm in react-native!:)

[2016-02-27 17:08] dorongutman commented on #76
@alazier yes - as with many other packages (react native included - https://facebook.github.io/react-native/docs/embedded-app-ios.html#install-react-native-using-cocoapods) using cocoapods after installing via npm reduces the need for the integration inside xcode - all the dragging of xcodeproj files, defining of Link with Binary configuration, etc..

[2016-02-28 03:05] melihmucuk commented on #285
20k items take ~4 mins, is it normal ?

[2016-02-29 01:22] wzpo opened #286 "Encryption Support"

[2016-02-29 01:26] alazier commented on #286
This has already bee added and will be in the next release. You can start using this now by checking out the repo and building the npm module locally. To do this you need to do is set the version of the `realm` module to the repo path as is done in the examples: https://github.com/realm/realm-js/blob/master/examples/ReactExample/package.json#L10

There is an example of how to use encryption here:

[2016-02-29 01:26] #286 closed

[2016-02-29 09:38] yfsx opened #287 "error while updating property autocorrect on a view managed by: android text input"
when i add realm for android, this error displayed on my emulator :

    error while updating property autocorrect on a view managed by: android text input

how to fix this? thanks

[2016-02-29 14:48] alazier commented on #278
This was added to the docs

[2016-02-29 14:48] #278 closed

[2016-02-29 14:49] alazier opened #290 "Publish script and release instructions"
This is not currently documented.

[2016-02-29 15:56] alazier commented on #287
Haven't seen this before so not sure how to fix. What steps did you take to add Realm to your project? If you remove Realm does the issue go away?

[2016-02-29 16:02] alazier commented on #285
That seems pretty slow. Are you creating all the items in a single transaction? If performing a transaction for each object it could definitely take this long.

[2016-02-29 16:02] alazier commented on #280
Hopefully this worked for you.

[2016-02-29 16:02] #280 closed

[2016-02-29 16:26] yfsx commented on #287
i did exactly from https://realm.io/docs/react-native/latest/

of course it's gone, but i can't remove it since my ios version using the same code, it was impossible to remove it

[2016-02-29 16:40] alazier commented on #287
Can you share your project or reproduce the issue in a new project?

[2016-02-29 17:04] alazier commented on #284
I was able to get chrome debugging working by changing the ip address as described above as well as following the instructions for getting chrome debugging working on device from the react native docs. The steps I took:
- Changed localhost in Appdelegate.m to the computer's IP address
- From this page https://facebook.github.io/react-native/docs/debugging.html I made this change: ```On iOS - open

[2016-02-29 17:34] alazier commented on #285
I just tried out 20000 items using your model in the benchmark example. It took 1.8 seconds to create and insert on device. Sounds like you are either doing multiple transactions or you have a bottleneck somewhere else in your app.

[2016-02-29 18:29] #140 closed

[2016-02-29 22:39] melihmucuk commented on #285
Here is my code

<pre><code>Api.GetItems().then((response) => {
      realm.write(() => {
        console.log("start: " + new Date().toISOString());

        for(var i = 0; i < response.mmArray.length; i++){
          realm.create('MM', response.mmArray[i], true);
        }

        console.log("done: " + new Date().toISOString());
      });
});</code></pre>

Whats wrong?

[2016-02-29 23:42] alazier commented on #285
Not sure what is wrong as your code looks fine. If you are running in chrome debug mode that could slow things down considerably.

[2016-03-01 00:47] alazier opened #291 "Support schema generation from flowtype.org defs"
https://twitter.com/rtimothy/status/703621920856485892

[2016-03-01 02:00] yfsx commented on #287
its really strange that when i do "debug in chrome", it work flawlessly

[2016-03-01 08:38] #18 closed

[2016-03-01 09:35] magicismight opened #293 "pending on running custom scripts"
Installed Realm on `react-native@0.20.0`.
But i can\`t get it running on a simulator, It always pendding on `running custom scripts` stage.

[2016-03-01 13:11] narychen opened #294 "query is not async"
let hondas = realm.objects('Car').filtered('make = "Honda"');
It would be blocked when the dataset is large or the query perform a complicated search because javascript is single-threaded.

[2016-03-01 15:11] timanglade commented on #294
Hey thanks @narychen. This is something we’ve been working on, and that consider very urgent. We are tracking it in #165

[2016-03-01 15:11] #294 closed

[2016-03-01 15:41] alazier opened #295 "Support case insensitive queries"
Requested by a user. We should probably come up with a syntax better than the [c] used in predicates. Thoughts @bdash @kristiandupont @jpsim @cmelchior ?

[2016-03-01 15:57] bmunkholm opened #296 "Fine grained notifications"

[2016-03-01 15:58] timanglade opened #297 "Collection notifications"

[2016-03-01 16:06] alazier commented on #295
http://stackoverflow.com/questions/35724572/realm-for-react-native-case-insensitive-search/35727721#35727721

[2016-03-01 16:11] appden commented on #293
Please try selecting the "Report Navigator" in Xcode (see screenshot below) then selecting the build task while it's stuck and pasting in the script output.

<img width="260" alt="screen shot 2016-03-01 at 8 09 39 am" src="https://cloud.githubusercontent.com/assets/70904/13433063/18f4f6fa-df85-11e5-8c19-44c51b839f91.png">

React Native sometimes takes a _really_ long time running the `react-native

[2016-03-01 21:22] melihmucuk commented on #285
Yes, Chrome debug mode was the issue. After disabling chrome debug mode, 20k items take ~2 seconds. Thanks !

[2016-03-01 21:22] #285 closed

[2016-03-01 21:57] alazier commented on #287
That is strange. Sounds like a packager error or stale build artifacts. Might be worth killing/restarting the packager, restarting the emulator, and building clean to see if that makes a difference.

[2016-03-01 22:04] alazier opened #298 "Document new list and results methods"
We should have added api documentation before merging that last pr.

[2016-03-02 00:22] joshuapinter commented on #151
:+1:

I ran into this as well. The docs use the following as an example:

[code]

But doing that produces an error like:

![screenshot 2016-03-01 17 19 25](https://cloud.githubusercontent.com/assets/180819/13446572/c5db6402-dfd1-11e5-964f-3cda4a9b7c31.png)

However, doing the following worked just fine:

[code]

[2016-03-02 00:26] alazier commented on #151
I think what we should do is if the path doesn't begin with a `/`, assume that it is a relative path and prepend the path to the Documents dir. That way you can specify files outside of the Documents dir while still having this convenience.

[2016-03-02 01:12] magicismight commented on #293
Solved.
It`s pending on downloading dependency.
![qq 20160302091025](https://cloud.githubusercontent.com/assets/7693239/13447463/a1c41f7a-e056-11e5-975e-2c0de38c122d.png)
It takes about an hour to download this.
The network in China is really shit!

[2016-03-02 01:12] #293 closed

[2016-03-02 04:42] appden commented on #293
Oh right, I forgot about that possibility. Sorry about that!

[2016-03-02 07:49] bmunkholm opened #300 "Update release note"
..from earlier PR - see comment in #1524

[2016-03-02 07:53] bmunkholm commented on #300
Ups- wrong repo. Closing.

[2016-03-02 07:54] #300 closed

[2016-03-02 11:28] besarthoxhaj commented on #284
Sorry for the delay guys, will try this as soon as I got time, hopefully later today.

[2016-03-02 21:01] appden commented on #151
@joshuapinter we're really sorry about this oversight with the documentation! We'll get this fixed ASAP.

[2016-03-02 21:02] appden commented on #151
@alazier: I agree, though I think we should expose absolute path prefixes for inside the app bundle as well as to the documents directory.

[2016-03-02 21:03] alazier commented on #151
Don't think we need the prefixes as it isn't directly related to Realm, although maybe some other library should do this.

[2016-03-03 19:16] shtefanntz opened #303 "Errors when trying to import Realm into React Native app"
Hello,
Since there are a lot of communication channels, I'm posting this issue here, so it might help others :)

Main error: Missing Realm constructor - please ensure RealmReact framework is included! :(

http://stackoverflow.com/questions/35780157/multiple-errors-when-trying-to-import-realm-into-react-native-app

[2016-03-03 19:27] shtefanntz commented on #284
Would this be the cause for the first error here?
https://github.com/realm/realm-js/issues/303

[2016-03-03 20:05] appden commented on #303
@shtefanntz it sounds like something went wrong with integrating the package. Would you mind sharing the relevant parts of your `MainActivity.java` file?

[2016-03-03 21:06] shtefanntz commented on #303
No problem. It's the basic one + fb login

[code]

[2016-03-03 21:20] #235 closed

[2016-03-03 23:53] asamiller opened #306 "Result.sorted reverse property isn't working"
I'm trying to sort my ListView by date with the newest first. The documentation says `.sorted` takes a `reverse` param, but it isn't making any difference.

My code:
[code]

I get the same sort order with `items.sorted('dateUpdated', true);` and `items.sorted('dateUpdated', false);`

This is with Realm 0.10.0

[2016-03-04 00:11] alazier commented on #306
Can you give enough code to reproduce the issue? Our test for this passes without issue but perhaps this bug only manifests itself in certain situations. If you could share your full schema for ITEMS_TABLE it might be helpful.

[2016-03-04 15:56] alazier commented on #306
I've just tested all the property type, forward/reverse combinations and everything seems to work https://github.com/realm/realm-js/commit/621ee36fada20426c68c84d82f07f71df73488a9

[2016-03-04 21:10] appden commented on #303
@shtefanntz ok that looks good. A few more questions...
- React Native version?
- Android version?
- Testing of device or emulator? Which one exactly?
- Please confirm that Chrome Debugging is off when you get this error.

[2016-03-04 21:22] #151 closed

[2016-03-04 22:16] appden commented on #306
@asamiller `sorted()` returns a new `Results` instance, so you probably need to change to something like this:
[code]

[2016-03-05 10:13] alexcurtis commented on #284
I am also getting this error with iOS simulator. React Native 0.21.

[2016-03-05 16:16] johntom opened #309 "windows install"
Windows Install issues

node v4.3.1
npm 3.5.2
android sdk 24.4.1
ndk android-ndk-r10e
C:\React\realm-js>cd react-native/android

[code]

[2016-03-05 21:05] jwhitley commented on #284
I'm also getting this in the iOS simulator, React Native 0.20.0.  I am using the Chrome Debugger.  The packager is listening on port 8081.

[2016-03-06 00:46] shaharz opened #310 "Results snapshot - shallow/deep immutability"
According to the docs `snapshot` "Create[s] a frozen snapshot of the results. This means changes to the list will not be reflected in the results returned by this method."

However, while the list itself is immutable/frozen, the objects inside it are not. Is that working as intended? If so, it'd be nice if the docs were more specific about that.

e.g.
[code]
[code]
Versus what I (a Realm noob, adm

[2016-03-06 11:07] avishayil opened #311 "Mention in docs "Strip Linked Product" needs to be turned off for TestFlight"
Seems that for some reason the app can't find RealmReact framework, even though it is included.
When I run-ios on the simulator everything works great, and when I'm running on device (without TestFlight) everything works great too.

I tried to install via TestFlight, didn't try production of course.

iOS 9.2.1, React Native 0.21, Realm 10.0

Stacktrace:
[code]

[2016-03-06 12:20] avishayil commented on #311
Apparently, found the same issue here:
https://github.com/realm/realm-js/issues/219#issuecomment-178066140

Checking if it solves my issue.
This should really be added to the documentation...

[2016-03-06 13:06] avishayil commented on #311
Solved it.

[2016-03-06 15:13] StefanWallin commented on #293
Is there a way to download and install/place the core package with some other tool to avoid internet crippling the install of realm?

[2016-03-06 16:25] alazier commented on #293
@StefanWallin right now it seems we unpack the core tarball from the tmpdir every time we build. If the tarball is in the temp directory it shouldn't try to redownload it.

I just made a pr to just reuse the unpacked core directory if it is the correct version. With this change once unpacked it shouldn't ever download a new version unless we bump the version or you delete the core symlink or direc

[2016-03-06 16:32] alazier commented on #310
This does work as intended and we will clarify this in the docs. We would like to provided deep immutability at some point but that presents some technical issues we have yet to work out.

[2016-03-06 16:34] alazier commented on #306
Good catch - in the beta the sort api used to change the sort order on the existing results, but was changed to return a new results for the 0.10.0 release. I assume this fixes the issue?

[2016-03-06 23:40] jwhitley opened #313 "Importing Realm breaks React Native jest tests"
Importing Realm into a React Native project breaks existing jest tests.  This is probably partially related to #262, but the error in question is a decidedly opaque syntax error, vs. anything going on at runtime.  I.e. I can't even run tests that mock Realm out.

**Repro steps**
1.  `git clone https://github.com/jwhitley/ReactNativeTesting`
2.  `cd ReactNativeTesting`
3.  `npm install`
4.  `npm te

[2016-03-07 16:21] asamiller commented on #306
Yes, thanks! That was the issue. I had been using it the other way from the beta.

[2016-03-07 16:21] #306 closed

[2016-03-07 20:23] #233 closed

[2016-03-07 23:53] appden commented on #313
@jwhitley I just spoke with the maintainer of Jest (friend of mine) and he's working on a fix for this issue right now. It will expand on the changes [here](https://github.com/facebook/jest/commit/6c84ede3029867d1bcef9149980ce58e00edd1fb) to include all react-native plugins.

[2016-03-08 01:10] edmofro commented on #295
Love your work - will love it even more with this issue cleaned up :-)

[2016-03-08 07:02] shtefanntz commented on #303
darn, I missed the notification that told me you replied :(

So:
React Native version is 0.20
Android version is 5.1
testing on a device: Vonino zun xo [i know it might be rather obscure :)]
So, if I have the Chrome debugging off, I get this error:  I get: Missing Realm constructor - please ensure RealmReact framework is included!

If I have the Chrome debugger on, it blows up in rpc.js in the lin

[2016-03-08 21:16] jrichardlai opened #314 "Android crashes with realm 0.10.0 and react-native"
Hello,

I am testing on multiple android phone an app using Realm. I noticed that it crashes on some Android phones. Old one and recent ones.

What is the minimum version supported for Android ? Is there any code try catch to put on?

Not sure how to debug this, here is some stacktraces:

Galaxy S6 Edge 5.0.2

[code]

SGH-T599 4.1.2

[code]

Thanks for the help!

[2016-03-08 23:01] jwhitley commented on #141
+1  I'm really quite curious as to what the envisioned integration between Realm and Redux would be.

As each of Redux and Realm are presented, they seem to be at odds.  On one hand, Redux depends on two things:

1.  The entire app state is represented in a single state tree.
2.  The state tree is mutated by a (possibly hierarchical) pure reducer function of form <br> `(oldState, action) => newSta

[2016-03-08 23:05] jwhitley commented on #313
@appden thanks, I'll keep an eye out for those changes.  (and yeah, @cpojer's been killing it on the jest/react/react-native updates.)

[2016-03-08 23:09] cpojer commented on #313
Working on it: https://github.com/facebook/jest/pull/779

[2016-03-08 23:10] cpojer commented on #313
Sorry that this is happening. I wasn't aware of some of the setup steps in react-native. I don't think `babel-jest` ever worked for react-native before and I haven't been able to update the docs for jest + react-native integration yet.

[2016-03-09 01:21] cpojer commented on #313
Published jest 0.9.1 and babel-jest 9.0.2 which should resolve this.

[2016-03-09 03:02] appden commented on #141
@jwhitley That was a very thorough and accurate overview of the challenges of integrating Realm and Redux. It's actually something we have been actively working towards resolving by allowing for deep snapshots of data inside a Realm. At its core, Realm supports this because of its nature as a write-only database, but there are some challenges we have yet to overcome to properly expose that functio

[2016-03-09 03:05] appden commented on #313
Thanks @cpojer! I confirmed that upgrading the reduction provided by @jwhitley resulted in it successfully passing the test. :+1:

[2016-03-09 03:05] #313 closed

[2016-03-09 03:10] appden commented on #303
@shtefanntz thanks for providing more details! Are you getting the same error when running in an emulator? If so, it would be immensely helpful if you sent us your project or a reduction of it that is exhibiting the same error.

[2016-03-09 03:12] appden commented on #226
I think we should really add support for this, but I think it would require landing a PR to support embedded frameworks rather than static libraries. It's not too difficult given I already did something very similar in the Cordova branch.

[2016-03-09 17:35] DHidee66 commented on #219
Hi,

Another scenario when this is happening on Android: The app is turned off and it receives a push notification. `import Realm` is called and this error appears:
![screen shot 2016-03-09 at 6 29 33 pm](https://cloud.githubusercontent.com/assets/6751025/13644230/efd6ae66-e624-11e5-8ade-1115eb721f3c.png)
The same issue happened with CodePush but it was fixed by calling the constructor only when a

[2016-03-09 22:48] alazier commented on #226
I think we should support this at some point but it is lower priority than supporting our current users or building user requested features.

[2016-03-09 23:08] appden commented on #311
@avishayil Sorry you ran into that! We will add it to the docs. It doesn't appear there's a good way for us to avoid this step, but we will keep searching.

[2016-03-10 11:44] avishayil commented on #314
I'm encountering the same error with React Native 0.22.0-rc on Andorid only. iOS is fine.

[2016-03-10 13:28] alazier commented on #314
We are trying to figure this issue out. @avishayil does this happen in simulator or only on device? If the later what device are you using.

We have still been unable to reproduce the issue, so if either of you have steps we can follow or a sample project which causes the crash it would be extremely helpful.

[2016-03-10 13:33] avishayil commented on #314
It happens on a device, mine is Samsung Galaxy Note 4 N910F.
I'll try to set up an example project.

[2016-03-10 14:39] avishayil commented on #314
@alazier here's an example that crash on Android:
https://bitbucket.org/avishayil/awesomeproject

[2016-03-10 17:01] alazier commented on #314
Looks like we can reproduce a crash on device with 22rc but not with previous RN versions.

[2016-03-10 17:44] jwhitley commented on #226
Until that time, I'll suggest that a prominent warning that rnpm doesn't work (yet) should be added to the getting started docs.  rnpm has gotten so good, that I often assume that projects which don't list it just haven't found out about it yet (which is exactly what has happened on several occasions so far).

Conversely, it's surprising when it fails, and that led me on a merry chase with essenti

[2016-03-10 19:06] robwalkerco commented on #141
+1

[2016-03-10 22:23] appden commented on #303
@shtefanntz: thanks for the update. If you still can't reproduce, I wonder if adding `react-native-facebook-login` like in your original project would do the trick?

[2016-03-10 22:26] appden commented on #226
@jwhitley good idea!

@alazier React Native is merging in `rnpm` to officially become part of the project, so its importance will suddenly rise and we may instead need to send the PR to RN instead.

[2016-03-10 23:13] avishayil commented on #314
Yeah, crash is happening only with 22rc on my end.

[2016-03-11 00:56] jwhitley commented on #141
@appden I'm currently implementing the above approach in my app, and have run into an error from Realm: `uncaught Error: Value not convertible to a number.`

I need a primary key so that I can handle edits of existing objects (i.e. DB updates), via the following usage of `create`:

[code]

However, upon the initial creation of an object, I don't have an `id` property yet, and `realm.create()` emit

[2016-03-11 01:21] alazier commented on #141
Primary key values always need to be provided when calling the `create` method. It is currently up to the user to manage primary keys but there are plans to add auto-incrementing primary keys sometime in the future. In the shorter term we may be able to support functions for default values which would allow users to concisely build their own auto-incrementing functionality.

For the time being we

[2016-03-11 01:22] alazier opened #316 "Document that primary keys values are always required when calling create"
Also give example of how to easily create unique ids

Requested in #141

[2016-03-11 09:03] leijing7 commented on #284
I had this error on iOS device and simulator with RN. I found out that I accidentally  drag RealmJS.framework to the Embedded Binaries section but not the RealmReact.framework. Fixed this then the error was gone.

[2016-03-11 19:53] alazier opened #318 "ReactExample tests crash in debug"
Happens reliably on master locally and on CI. react-test-app tests may be failing for the same reason.

[2016-03-11 21:19] rsflow opened #319 "Android Import Issue!"
Hi,

When the app is turned off and it receives a push notification `import Realm` is called and this error appears:
![screen shot 2016-03-09 at 6 29 33 pm](https://cloud.githubusercontent.com/assets/6751025/13644230/efd6ae66-e624-11e5-8ade-1115eb721f3c.png)
The same issue happened with CodePush by Microsoft but it was fixed by calling the constructor only when a specific method was called (ex. `C

[2016-03-11 21:36] leijing7 opened #320 "document confusing"
The document is a little bit confusing for me. I found I have to change the primaryId to id to make the updating example to work. Changing to id could be more newbie friendly I guess.
[code]

[2016-03-11 21:40] alazier commented on #320
Will definitely fix this. Thanks.

[2016-03-11 22:12] avishayil commented on #311
Great! Thanks.

[2016-03-11 22:18] avishayil commented on #311
What about production builds? Can someone confirm if this step is needed there?

[2016-03-11 23:39] xiaoneng commented on #314
Same issue.  Xiaomi 3, Android 4.4.4, RN 0.20 bugs out with similar crash screen as above.  But works on simulator with 4.4.4.

[2016-03-12 00:54] melihmucuk opened #321 "Realm at path already opened with different schema version."
How to use globally realm database references ? I'm creating `db.js` like below:

[code]

If I want to use table reference within another component, I'm getting `Realm at path already opened with different schema version. ` error.

forexample here is my `home.js` :

[code]

[2016-03-12 05:01] alazier commented on #321
That looks like it should work fine. In our example app we export a Realm instance which can be imported in multiple files: https://github.com/realm/realm-js/blob/master/examples/ReactExample/components/realm.js

If you follow this pattern it would prevent you from accidentally using different schema versions in different parts of the app.

If that doesn't resolve things it's possible your issue m

[2016-03-12 05:05] alazier commented on #314
We think we have a fix for this but unfortunately it requires changes in ReactNative 0.22 which is not yet released. We have been testing things out the rc which was out for a while but has now been pulled from npm. Once 0.22 is released and we iron out a few remaining issues in our code we will release an update.

[2016-03-12 10:28] melihmucuk commented on #321
Yes, example app works fine. Thanks!

[2016-03-12 10:28] #321 closed

[2016-03-12 11:19] avishayil commented on #314
Great! We'll wait for the official release then.

[2016-03-12 16:34] arconamagi commented on #284
@leijing7 Thanks! You saved my time!
I had the same problem and I also dragged RealmJS.framework instead of RealmReact.framework. Now, all works fine for me.

[2016-03-12 16:37] alexcurtis commented on #284
double checked and definitely got RealmReact.framework in the embedded binaries. Everything works fine when chrome debugging isn't enabled. But as soon as it is -- I get this issue.

[2016-03-13 05:32] appden opened #322 "IncorrectThreadException: Realm accessed from incorrect thread."
This commit was reverted after merging the latest object store changes: fa0ba53

[2016-03-13 05:42] appden commented on #284
@alexcurtis is this only on device for you, or in simulator as well?

[2016-03-13 09:54] alexcurtis commented on #284
@appden I've only tested on the simulator. React Native 0.21. I have the packager running on a non-standard port (9081)

[2016-03-13 14:31] shtefanntz commented on #303
It's weekend and I got some time to get back to the project a bit.

I updated my initial project to 0.21, but still no change. I added the facebook login, only getting the same result.

I uploaded here the code to get the error :
Missing Realm constructor - please ensure RealmReact framework is included! :(
(while not debugging)

https://github.com/shtefanntz/realm-issue

Hope this helps and pleas

[2016-03-13 15:28] AwesomeJerry opened #323 "to plain object / array?"
Is there any way to transform Results into plain JavaScript object and array? I found out that I can use Array.prototype.slice.call(cars) to transform Results into array, but what about every item in the Results?

[2016-03-13 17:44] #322 closed

[2016-03-13 18:23] alazier opened #325 "Support indexed properties"
Requested by user.

[2016-03-13 21:57] arconamagi commented on #325
Thanks, this feature is really needed!

[2016-03-14 01:04] appden commented on #303
@shtefanntz thanks for providing this. It looks like the issue is that the app is using `netwash/MainActivity.java` which isn't using `RealmReactPackage` like `netwashdriverapp/MainActivity.java` correctly is. After I changed that, the only Realm related error I got was that `profileVersion` is declared as `number`, which is not a valid property type. It should be `int` instead.

Just an FYI: I ha

[2016-03-14 01:43] ios122 commented on #138
support iOS7,I can use Now; otherwise, I must find something instead!

[2016-03-14 02:52] JamesWatling opened #326 "Uncaught Error: Unable to serialize value from another Realm"
Hi, on attempting to delete a collection using realm I am getting

[code]

The code I am running looks like the following:

[code]

[2016-03-14 03:37] shtefanntz commented on #303
well...this is embarrassing :|

I renamed the folder once and had some problems with the change, so I just ran react-native init 'netwasdriverapp'. (Blissfully ignoring other possible consequences).
The problem with 'int' vs 'number' was something minor that I noticed when I redid the project. I changed that :)

I have no prior Android development experience, so the aspect of gradlew not being pro

[2016-03-14 03:37] #303 closed

[2016-03-14 03:39] appden commented on #326
@JamesWatling your `realm` variable seems to represent a different Realm than `this.realm()`. If you changed `this.realm()` to be `realm` it would probably work, but you should probably make sure you aren't accidentally creating two different Realms when you really only want one.

[2016-03-14 05:06] appden commented on #318
I believe this was fixed by resolving #322 (by merging #324).

[2016-03-14 05:10] appden commented on #303
@shtefanntz no prob, glad we figured it out! :+1:

[2016-03-14 05:29] JamesWatling commented on #326
Thanks @appden, that was a typo in the code (refactored for the issue without testing :( )

But it ends up I was returning a new instance, and adopting a Singleton pattern solved my problem.

Thanks

[2016-03-14 05:29] #326 closed

[2016-03-14 14:01] melihmucuk commented on #323
+1

[2016-03-14 14:22] melihmucuk commented on #323
Without this, lets say I have 2 models,

[code]

First, I create 5 cars. Then I create person with these cars, when I changed `otherProp` value within list, all cars updated. I don't want it. It should be default value for other users.

[2016-03-14 20:11] esutton opened #328 "Add method Realm.objectForPrimaryKey(objectType, primaryKey)"
I would like to see a simple method to retrieve an object by primary key.

Ideally something similar to this would be simple to use.

`let myObject = results[ 'keyName' ];`

Or maybe what Swift developers have:

`public func objectForPrimaryKey<T: Object>(type: T.Type, key: AnyObject) -> T?`
https://realm.io/docs/swift/latest/api/Classes/Realm.html#/s:FC10RealmSwift5Realm19objectForPrimaryKeyuRdq_

[2016-03-14 23:07] nhachicha opened #329 "Tests failing on x86"
After the change introduced in https://github.com/realm/realm-js/pull/304 the test suite is failing on x86 devices (Genymotion)

[code]

[2016-03-15 07:29] gmchaturvedi1 opened #331 "how t o sync restapi with my realm db"
I am new to realm db .can u please guide how can i sync my db on internet connection with rest api.

Reagrds
G M Chaturvedi

[2016-03-15 17:36] DHidee66 commented on #280
Hey @alazier sorry for the late response.
Now I got to try it and it does convert the `List` into an `Array` but still you cannot call for example `map` on the array since the objects inside are still `lazy` Realm Objects.
One way that works is to call the lodash collection functions `_.map(array, ..)`.
It would be great if there was a function that would go deep into every object property and ini

[2016-03-15 20:37] #329 closed

[2016-03-15 20:47] alazier commented on #316
This will change next time our website is pushed.

[2016-03-15 20:47] #316 closed

[2016-03-15 20:47] alazier commented on #320
This will change next time our website is pushed.

[2016-03-15 20:47] #320 closed

[2016-03-15 21:04] alazier commented on #314
#327 should fix this for 0.21 and earlier. Will try to get a release out as soon as we can.

[2016-03-15 21:25] alazier commented on #331
Realm allows you to easily create objects from JSON, so as long as your model has the same key names as your JSON objects then all you need to do is call `realm.create(ObjectType, json);`

https://realm.io/docs/react-native/latest/#nested-objects

If you have a primary key you can update existing objects using JSON consisting of the primary key value and just the properties you want to update:

ht

[2016-03-15 21:25] alazier commented on #287
Any luck getting this working?

[2016-03-15 21:30] alazier commented on #323
Can you share your code? It sounds like you may be creating 1 `Car` and adding that same car to a `Person`'s list 5 times. If you did this, changing `otherProp` on one instance would change them for all 5 cars since all references in the list actually point to the same `Car`. If you are creating 5 different cars then the behavior you describe would be a bug in Realm.

[2016-03-15 21:44] melihmucuk commented on #323
Lets say, I have 100 Cars ( `otherProp` changes for each person). To one person, `otherProp` should be `1`, to other person `otherProp` should be `2`, for others It should be `0` which is default value. But If I set `otherProp` to 1 for one person, all other person's `Car` changed. I dont want it. I want to just use schema, not value. How can I do it ?

@alazier

[2016-03-15 22:01] alazier commented on #309
Are you trying to build locally? You shouldn't need to run `gradle publishAndroid` unless you are building yourself.

We haven't yet tested on a windows machine but theoretically you should be able to follow the android directions here: https://realm.io/docs/react-native/latest/#installation

[2016-03-15 22:03] alazier commented on #319
Is this on android or iOS? We will try to reproduce the issue on our side. If you have a simple application that we can use to reproduce it would be extremely helpful.

[2016-03-15 22:05] alazier commented on #328
I agree we should add this to have parity across our apis for different languages. Until we add this you can do something like `var object = realm.objects(ObjectType).filtered('id = ' + key)[0]`

[2016-03-15 22:44] alazier commented on #323
How do you create/get your `Kartela` objects? It sounds like you actually only have 1 `Kartela` which is added to `Demand` multiple times. Can you verify that each `Kartela` in the list have different primary key values?

[2016-03-15 23:10] melihmucuk commented on #323
@alazier  Nope, I have 20k `Kartela` items.

`let kartela = realm.objects('Kartela');`

initial state:

[code]

functions:

[code]

problem is here:

[code]

If I change `app_count` within `Demand` list, also `Kartela` item is updated. It should be `0` (or default value);

[2016-03-15 23:28] alazier commented on #323
I think I understand now. What is going on is you are sharing `Kartela` instances between multiple `Demands` when really you want to be making a new copy.

To fix this you have two options.

First is to remove the primary key from `Kartela` and create a copy in `_onAdd` when you add to the list:
```demand.items.push(realm.create('Kartela', item[0]));```
You would need to remove the primary key as

[2016-03-15 23:32] melihmucuk commented on #323
Hmm, I choose second option :smile: Thanks!

[2016-03-15 23:43] alazier opened #332 "Expose Schema from Realm instances"
Right now this can not be retrieved from an existing Realm.

[2016-03-15 23:44] alazier commented on #323
@AwesomeJerry - to answer your original question:

You will need to convert each object individually, but you can do this recursively. If you have a simple schema without list or object properties you wont need the recursion. Something like the following would work for simple schema:
[code]

It would be nice to be able to do this in a generic way but we are missing a few apis to make this possible

[2016-03-15 23:45] alazier opened #333 "Support for data migrations"
Requested by user http://stackoverflow.com/questions/36022863/how-to-handle-realm-react-native-migrations-and-schemaversion-on-ios

[2016-03-16 00:16] jwhitley commented on #333
I'll observe that the single global `schemaVersion` may induce the same problem that the original Rails migrations scheme hit: it creates a version control bottleneck in the codebase for all schema-altering changes.  The simplest case is that of two developers working on schema-altering features at the same time.  For Realm, they would both update to `schemaVersion: 5`, which then becomes a textua

[2016-03-16 00:55] alazier commented on #333
Thanks for the input @jwhitley . We've discussed approaches similar to what you describe in the past, the only downsides being the need for extra tooling and the requirement that all previous schema be bundled with every new app release. For our other platforms the tooling would be complex as it needs be able to extract the schema from native objects and then store it in another format. And bundli

[2016-03-16 09:26] DHidee66 commented on #319
Hey @alazier ,

So when the app is turned off the top `if` statement is executed and also all the `import` statements are called and Realm gets initialized.

[code]

[2016-03-16 18:29] esutton commented on #311
This issue should be renamed.  It does not seem to have anything specific to do with **TestFlight** deployment.

I am using react-native and realm on iOS.  I had same crash deploying an ipa package using my local iTunes client.

select your **Target > Deployment**

- **Strip Debug Symbols During Copy: No**
- **Strip Linked Product: No**

Thank you @avishayil

[2016-03-16 19:51] #276 closed

[2016-03-16 19:51] #284 closed

[2016-03-16 20:41] #277 closed

[2016-03-16 22:12] appden commented on #314
Hey everyone, I published version `0.11.0-rc` on npm, so if you switch your `package.json` to refer to that version and `npm install realm` to update it, this issue should be fixed. Please let us know how it goes for you, so we can be sure this is resolved for everyone before pushing out `0.11.0`!

[2016-03-16 23:52] appden commented on #318
Closing this as I believe this is now resolved.

[2016-03-16 23:52] #318 closed

[2016-03-16 23:56] appden commented on #275
@alazier I see that `object-store` test case was added to `test.sh`. It fails for me on `brew install cmake` because I already have cmake installed. I don't think our test script should even try to install something "globally" anyways. Can we just remove that?

Also, while you're adding tinkering with this and adding it to Jenkins, can you add `eslint` and `jsdoc` tests to Jenkins as well?

[2016-03-17 00:18] alazier commented on #275
once cmake is installed on the ci machines we can remove this.

[2016-03-17 00:30] appden commented on #290
Updated the internal wiki

[2016-03-17 00:30] #290 closed

[2016-03-17 00:33] bdash commented on #275
CMake should be on the CI machines already as the object store uses it.

[2016-03-17 00:34] alazier commented on #275
Yeah - just removed it from our script.

[2016-03-17 07:56] xiaoneng commented on #314
Works on 4.4.4 devices w/ RN 0.20.  Thanks.

[2016-03-17 09:16] #275 closed

[2016-03-17 15:42] AwesomeJerry commented on #323
kk, thanks for answering! Will see what I can do.

[2016-03-17 19:04] jrichardlai commented on #314
Good for us RN 0.21

[2016-03-17 20:20] #287 closed

[2016-03-17 20:21] #331 closed

[2016-03-17 20:21] #323 closed

[2016-03-17 23:14] appden commented on #332
@alazier shouldn't this be: Expose Schema **version** from Realm constructor

[2016-03-17 23:24] alazier commented on #332
Hmm. This is a different issue after all. Guess I didn't get around to creating one for the schema version as well.

[2016-03-19 21:31] agenthunt commented on #314
I am seeing a crash with RN0.21 and Realm 0.10.0. Not sure if it is the same

[code]

[2016-03-19 21:46] alazier commented on #314
@agenthunt can you try 0.11.0-rc ?

[2016-03-21 18:24] alazier opened #341 "Document Object"
They are missing from the api docs.

[2016-03-21 20:04] appden commented on #341
You mean `{type: 'object', objectType: ...}`? I thought we agreed to not document that since it's confusing, and I'd actually prefer we remove it altogether. It would be like having an `Object<Person>` type in the other bindings in addition to supporting just `Person`.

[2016-03-21 20:06] alazier commented on #341
No. I mean `Realm.Object`. But maybe it doesn't make sense if users aren't subclassing this?

[2016-03-21 20:07] appden commented on #341
We don't have a `Realm.Object` _yet_, but it would be nice to add one that you could subclass once the need arises, so maybe we should rename this issue. :smile:

[2016-03-21 20:09] alazier commented on #341
The point is there are no api docs for property getters/setters and supported types. These are mentioned in the walk through but it seems they should be in the Ali docs for completion.

[2016-03-21 20:15] appden commented on #341
I think the [ProperType](https://realm.io/docs/react-native/latest/api/Realm.html#~PropertyType) docs cover this reasonably well (but can certainly be improved), and I'm not sure how we would document it otherwise. It doesn't look like the Swift API docs cover this either.

[2016-03-21 20:27] #325 closed

[2016-03-21 20:33] #295 closed

[2016-03-21 20:46] agenthunt commented on #314
Thanks @alazier 0.11.0-rc seems to be working.

[2016-03-21 22:27] #298 closed

[2016-03-21 23:51] jwhitley commented on #311
Using `0.11.0-rc` out of npm, I appear to be seeing this issue when deploying either via TestFlight or directly loading an .ipa (Archive, then Export) to a device via Xcode.  The primary symptom is the hallmark `Missing Realm constructor - please ensure RealmReact.framework is included!` exception.

This repros with both RN 0.21.0 and 0.22.1.

This app runs fine both in the simulator and on device

[2016-03-22 15:23] alazier commented on #311
@jwhitley

Looks like you also need to set **Dead Code Stripping: No**

[2016-03-22 16:24] alazier opened #343 "Support accessing/querying backlinks"
We will probably want to support virtual properties the same as cocoa.

[2016-03-22 17:26] jwhitley commented on #311
@alazier I had Dead Code Stripping set to No on the target, but realized that I'd missed this setting on the project.  Corrected that, then burned the world: removed/reinstalled `node_modules`, cleaned the project, rebuilt the archive, same result.  :neutral_face:

I'm going to see if I can reproduce this on my simple public test repo.

[2016-03-22 18:33] jwhitley opened #345 "Archived builds crash on device"
[N.B.: Apologies for the length, but this smells like there's a critical undocumented step, so I'm trying to be fully detailed here. – J]

## Repro steps

### Get the sample repo and set it up
1.  `git clone https://github.com/jwhitley/ReactNativeTesting.git/`
2.  `cd ReactNativeTesting`
3.  `git co realm-redbox` (jwhitley/ReactNativeTesting@d252d5b at this writing)
4.  `npm install`

### Launch X

[2016-03-22 19:01] esutton commented on #311
This problem came back for me.  I thought setting 2 strip options had fixed it.
-
- iOS 9.3,
- react-native": "^0.20.0",
- realm": "^0.10.0",

[code]

[2016-03-22 19:07] esutton commented on #345
I am seeing same issue under **iOS 9.3**

The strange thing is that applying the first two strip option seemed to resolve to provide a work-around that kept me going for at least a week.  I do not know if upgrading to  **iOS 9.3** is a factor or not.

1. Strip Debug Symbols During Copy: No
2. Strip Linked Product: No

[2016-03-22 19:57] jwhitley commented on #345
FWIW, I'm seeing this on 9.3 (Xcode 7.3) now, but I first encountered this problem on 9.2.1 (Xcode 7.2 & 7.2.1).

[2016-03-22 20:27] esutton commented on #219
Adding the two strip NO options no longer work under **Xcode 7.3 and iOS 9.3**.
- "Strip Debug Symbols During Copy" -> NO
- "Strip Linked Product" -> NO

[2016-03-22 21:00] appden commented on #345
@jwhitley Thanks so much for the detailed repro steps! @esutton seems to be right that something changed with Xcode 7.3. It looks like the strip settings are not honored when you build with bitcode enabled. So the temporary workaround is to also set `Enabled Bitcode` to `No`.

I am prioritizing getting this to work without all of the special Xcode settings. Thank you again for this report!

[2016-03-22 21:14] jwhitley commented on #345
@appden Setting `Enabled Bitcode: No` (finally) did it.  I've got a working archived release build on-device now.  Looking forward to an easier path for all of this, thanks!

[2016-03-22 21:32] appden commented on #311
As mentioned in #345, as of Xcode 7.3, projects also need to disable bitcode by setting `Enable Bitcode` to `No` in the Build Settings. I am working on a solution where we will not need to use all of these custom Xcode settings.

[2016-03-23 12:32] esutton commented on #345
Thank your @appden !  **Enable Bitcode No** worked for me too.

I was about to resign myself to spending the next two weeks learning sqlite3 on react-native.

Setting these three settings to **No** solved my problem:
- Target > Build Settings
  - Deployment
    - Strip Debug Symbols During Copy: No
    - Strip Linked Product: No
  - Build Options:
      - Enable Bitcode No

The Build Settings > Li

[2016-03-23 16:53] gadiel opened #346 "Compound primary keys"
Is there a way to do compound primary keys at this moment?

[2016-03-23 17:58] fungilation commented on #141
A corollary, for me just starting with RN. For managing UI states in a brand new RN app, is there benefit to use Redux at all, if/could/should I use Realm entirely for managing UI states? Persistence is what Realm uniquely brings to UI states, so I'm wondering for starting out, should I rely on it for managing UI states entirely or I should still use Redux in conjunction.

Thanks for your thoughts

[2016-03-23 20:50] charpeni commented on #291
It would be really nice! +1

[2016-03-23 20:54] jwhitley commented on #141
@fungilation Good question.  Here's my take as a Realm user who has been integrating it into a Redux-based app.

**tl;dr: I trade off some Realm features in favor of Redux features.**  Read on for the details.

Realm's current approach is essentially to turn queries into live view objects (`Realm.Results`) which drive your UI.  The live updates mean that any writes that occur are immediately manif

[2016-03-23 21:10] jwhitley commented on #141
Following on @alazier's [earlier comment](https://github.com/realm/realm-js/issues/141#issuecomment-195130175), I ended up creating this Sequence object store in my top-level realm schema file.  This is a hand-rolled implementation of autoincrementing sequences for realm-js.  The Sequence table has keys which are the names of other objects in the schema.  The value for each key is the highest used

[2016-03-23 23:07] #226 closed

[2016-03-24 15:11] fungilation commented on #141
@jwhitley, thanks for the thorough explanation! Your experience appreciated. I come from Meteor and Realm's reactive data objects is quite familiar and "convenient". Redux's functional and pure approach is harder to wrap my heads around but I am already going through Dan Abramov's videos. Looks like using it with React Native is still the way to go, with Realm used to populate initial state, and s

[2016-03-24 19:51] leijing7 opened #349 "line 3: npm: command not found for Examples"
Just followed the document as the examples. After git clone ..., git submodule... and npm install, I tried to run the code in Xcode but got below problem

/Users/leijing/Library/Developer/Xcode/DerivedData/ReactExample-gmfjpzjdkaqspqclkvxwssziqbow/Build/Intermediates/ReactExample.build/Debug-iphonesimulator/ReactExample.build/Script-02A3C7C11BC4597900B1A7BE.sh: line 3: npm: command not found

 I u

[2016-03-24 20:09] alazier commented on #349
The example should be running nvm before running npm. The command it runs is
[code]
Does running this manually work for you?

[2016-03-24 20:33] alazier commented on #314
We just released 0.11.0 which should resolve this issue. Note when upgrading to the newest version that we now recommend using `rnpm`: https://realm.io/docs/react-native/latest/#getting-started

[2016-03-24 20:33] #314 closed

[2016-03-24 20:36] alazier commented on #345
We just released 0.11.0 which uses a static library and should resolve this issue. You should now not have to change any of the strip settings for things to work. Note when upgrading to the newest version that we now recommend using `rnpm`: https://realm.io/docs/react-native/latest/#getting-started

[2016-03-24 20:36] #345 closed

[2016-03-24 20:38] appden commented on #345
@jwhitley @esutton Check out the [0.11.0 Release Notes](https://github.com/realm/realm-js/releases/tag/v0.11.0) for how to upgrade your project. Like @alazier said, you can revert your strip and bitcode settings to the defaults after upgrading.

[2016-03-24 20:40] alazier commented on #295
This was just shipped in v0.11.0.

[2016-03-24 20:45] alazier commented on #286
This was just released in v0.11.0

[2016-03-24 20:48] alazier commented on #325
This was just shipped in v0.11.0. You can index properties as such: https://github.com/realm/realm-js/blob/master/tests/js/realm-tests.js#L286

[2016-03-24 20:54] appden commented on #311
@jwhitley @esutton @avishayil We just released 0.11.0, which switches to using a static library rather than a framework. Check out the [0.11.0 Release Notes](https://github.com/realm/realm-js/releases/tag/v0.11.0) for how to upgrade your project. You can revert your strip and bitcode settings to the defaults after upgrading.

[2016-03-24 20:54] #311 closed

[2016-03-24 22:04] jwhitley commented on #311
@appden, confirmed the new build process in the release notes working on device in both development  and release builds using 0.11.0.  Brilliant, thanks!

[2016-03-25 00:12] appden commented on #346
Sorry, but Realm doesn't currently support compound indexes or primary keys. If you really need such functionality, then you perhaps you can make a property that holds the combines values into a string and use that as the primary key.

[2016-03-25 00:23] alazier commented on #319
Are you still having this issue? If so can you try with the new release to see if things are resolved?

[2016-03-25 00:23] appden commented on #319
@rsflow We just released version [0.11.0](https://github.com/realm/realm-js/releases/tag/v0.11.0), which _might_ resolve this issue. Would you please confirm if this issue is still occurring after updating? Thanks!

[2016-03-25 00:27] appden commented on #219
@dorongutman You'll no longer need to disable stripping symbols after updating to `0.11.0`. Check out the [0.11.0 release notes](https://github.com/realm/realm-js/releases/tag/v0.11.0) for how to update your project.

[2016-03-25 19:50] jwhitley commented on #310
:+1: I'll point out that exactly @shaharz's point re: returned `Realm.Object` mutability is the one thing I was going to add to the docs discussion in #341.

[2016-03-26 14:56] miknonny opened #350 "Attempted to register RCTBridgeModule class RealmReact for the name 'Realm', but name was already registered by class RealmReact"
hi everyone, I have been trying to fix this error which happens after i run rnpm link realm on upgrading to Realm 0.11.0 on IOS. Works fine on android.

![simulator screen shot mar 26 2016 3 45 15 pm](https://cloud.githubusercontent.com/assets/3139804/14060623/d339e73e-f36a-11e5-860b-fb74cd4062f4.png)

Thanks.

[2016-03-28 01:10] alazier commented on #350
Sounds like you are linking to both the old and new Realm libraries. You probably need to manually remove Realm.xcodeproj from your project before linking using rnpm.

[2016-03-28 19:23] appden commented on #185
I'm not sure this is worth the effort anymore considering our installation instructions boil down to running `rnpm link realm` :smile:

[2016-03-28 20:44] edmofro commented on #295
Could you please add to the docs?

[2016-03-28 21:02] alazier commented on #295
@edmofro will do. Heres is what will be added:

[2016-03-29 05:31] cancan101 opened #351 "Error:Execution failed for task ':realm:forwardDebugPort'."
I am seeing when trying to run a react native project on Android to which I added realm:
[code]

I ran:
[code]

This line seems to be causing the problem:
[code]
and here is the stack trace:
[code]

[2016-03-29 06:14] bawn commented on #351
same problem

[2016-03-29 15:03] alazier commented on #351
Are you It sounds like `adb` is not in your path. Can you try adding it to see if that makes a difference?

[2016-03-29 15:32] cancan101 commented on #351
I am using Homebrew on OSX which has installed `adb` to `/usr/local/bin/`.
1. How do I get Android studio to add this to the path when using Grade? It looks like no other tools require this in the path
2. A missing adb for the reverse tunnel should probably not fail the build.

[2016-03-29 15:32] alazier opened #352 "Remove `assert(0)` from `changes_available`"
This prevents users from using Realm in swift/objc and RN simultaneously. Even without working/proper notifications we should remove the assert.

Would be good to do a quick point release if possible to support the user asking for this

[2016-03-29 16:27] alazier commented on #351
I agree this shouldn't break the build. Will will change things so we print a message on failure and continue rather than failing the build.

In the meantime, are you pointing android studio to your local SDK installation?
![preferences](https://cloud.githubusercontent.com/assets/250144/14115604/7f048110-f590-11e5-83b1-b6345fd7cc30.png)

[2016-03-29 16:31] cancan101 commented on #351
![image](https://cloud.githubusercontent.com/assets/51059/14115698/16421286-f5aa-11e5-8113-762ea125763d.png)
[code]

[2016-03-29 17:07] timanglade commented on #185
Agreed, great job on that btw @appden!

[2016-03-29 17:07] #185 closed

[2016-03-29 17:36] appden commented on #351
@cancan101 the issue is that Android studio only has `/usr/bin:/bin:/usr/sbin:/sbin` in its `PATH`. The quickest fix would be to create a symlink in `usr/bin` that points to your `adb`.

You could also edit `node_modules/realm/android/build.gradle` and replace this line:
[code]
With this:
[code]

That is effectively what the fix will be making to ensure this works in Android Studio.

[2016-03-29 17:59] alazier opened #355 "Storing date as milliseconds is not compatible with other bindings"
Because dates are stored as milliseconds, realm files can not currently be shared across languages. We need to normalize to the new standard format.

[2016-03-29 17:59] cancan101 opened #356 "forwardDebugPort does not work correctly if more than one device / emulator"
[code]

[2016-03-29 18:04] alazier commented on #352
http://stackoverflow.com/questions/36271884/realm-rjsrealmdelegate-changes-available-assert0-causing-crash

[2016-03-29 18:04] appden commented on #356
@cancan101 this is somewhat expected because when using Chrome debug mode, the JS that's running in Chrome needs to make HTTP requests to `localhost:8082`, which should forward to that port on the device/emulator running the app. So if multiple devices are connected, then you would need to manually tell `adb forward` which device to forward that port to. See the `-d`, `-e`, and `-s` options in `ad

[2016-03-29 18:05] cancan101 commented on #356
Yes, I know the command on the CLI. Is there no way to get the correct value from the launch configs and set it here?

[2016-03-29 18:13] appden commented on #356
I'm not really sure if there is a way to do that here. If you have any ideas, I'd love to hear them!

It's definitely something we need to address though considering they changed `react-native run-android` to run on all connected devices (see [this commit](https://github.com/facebook/react-native/commit/10ad47a711954f1af077c7f237ad37ff269d324e)).

[2016-03-29 18:30] #351 closed

[2016-03-29 21:48] #352 closed

[2016-03-30 07:37] rsflow commented on #319
Hey guys as soon as I try it I will let you know. Thank you :)

[2016-03-30 07:37] #319 closed

[2016-03-30 17:25] cancan101 opened #358 "Higher Order Component for Managing Data"
Add higher order component like [martyjs' `createComponent`](https://github.com/martyjs/marty-lib/blob/0251b6e5cd2a3821986c13d05c057cb8f36c9fba/src/container/createContainer.js) to manage data fetching and changes, etc.

Right now I am doing (`ExerciseInner` is the actual component):
[code]

[2016-03-30 17:43] cancan101 opened #359 "Add to Docs that sorted takes an optional second argument"
Docs should indicate that `sorted` takes an optional second argument indicating sort order.

[2016-03-30 20:21] appden commented on #359
The [Realm.Collection.sorted](https://realm.io/docs/react-native/latest/api/Realm.Collection.html#sorted) API docs cover this, but you're right, we should add it to the [sorting section](https://realm.io/docs/react-native/latest/#sorting) of the main doc page.

[2016-03-30 20:23] appden commented on #358
That will be a really good idea once we implement #296 and #297. Thanks for the suggestion!

[2016-03-30 21:19] cancan101 opened #360 "Filter Nested objects"
Is it possible to filter by a value in a nested object?

For example using the example in the docs:
[code]
[code]

[2016-03-30 21:29] alazier commented on #360
This should work.

[2016-03-30 21:59] cancan101 commented on #356
What exactly is this port forwarding for anyways? At first I thought it might be realm browser, but I don't think that is the case?

[2016-03-30 23:27] alazier commented on #356
@cancan101 port forwarding is for chrome debug mode.

[2016-03-31 06:00] nranganathan1 opened #361 "rnpm realm fails"
I am trying to use realm within my react native project.
I first installed realm: npm install --save realm
Then linking to realm

$ rnpm link realm
rnpm-link info Linking realm android dependency
$

Nothing happens after that message. I tried unlinking and it says its not linked yet.

$ rnpm unlink realm
rnpm-link info Unlinking realm android dependency
rnpm-link info Android module realm is not l

[2016-03-31 09:30] tttpeng commented on #361
I met the same problem.

[2016-03-31 14:50] alazier commented on #361
What versions of react-native are you guys using? I just verified everything works with a new project using v0.22.2. Perhaps we have an issue with older versions?

[2016-03-31 15:03] alazier commented on #361
I just updated rnpm from 1.5.2 to 1.5.4 and now I can reproduce the issue. Will try to come up with a fix asap.

Until we have a fix, you can link Realm manually to your project:
- Drag the RealmReact.xcodeproj from `node_modules/realm/react-native-ios` to the Libraries folder in your ios project
- Add `libRealmReact.a` to `Link Binary with Libraries` phase in `Build Phases` in you applications se

[2016-03-31 15:05] alazier commented on #361
Looks like other projects are having this issue as well: https://github.com/rnpm/rnpm/issues/127

[2016-03-31 15:11] tttpeng commented on #361
I think it is rnpm problem 🙂

[2016-03-31 15:31] Kureev commented on #361
It was an `rnpm-plugin-link` problem, and we're really sorry for this issue.
Now it's fixed (update `rnpm-plugin-link` to version 1.6.7 or higher to fix the issue).

[2016-03-31 15:51] cancan101 commented on #356
What is special about realm here that it needs to set up this forwarding?

[2016-03-31 16:15] alazier commented on #356
Unlike other react-native modules Realm apis are synchronous and are built directly on top of the JS engine. We do this for good performance (we don't have to copy data for every call) and api simplicity. This is why you are able to access object properties using normal property getters/setters rather than using async callbacks which we thought would be cumbersome and awkward.

To make chrome debu

[2016-03-31 17:20] tttpeng opened #362 "Support debugging in Nuclide"
index.js

[code]

when i use nuclide,I find `navigator.userAgent = undefined`, in nuclide debugging mode,so ...

what can I do?

[2016-03-31 17:58] cancan101 opened #363 "Equivalent of deleteRealmFile in JS"
Something like in https://github.com/realm/realm-java/issues/834 to delete the realm file.

[2016-03-31 18:05] nranganathan1 commented on #361
Awesome! I am blown away with quick response. Thanks.

I am sorry I didn't provide complete information. Yes, it's latest version of rnpm that has the issue.

I will update the rnpm plugin link or link manually to see if that works. Thanks again.

[2016-04-01 00:13] cancan101 opened #364 "Filtering on list Items"
Right now I have the following models:
[code]
and I would like to find all `Exercise` that have an `ExerciseMuscle` with a `muscleId` of `x`. Is that possible and if so, how?

[2016-04-01 00:17] cancan101 commented on #364
It looks like this works: `filtered('muscles.muscleId = 3')`

[2016-04-01 00:17] #364 closed

[2016-04-01 00:18] alazier opened #365 "Document keypath queries"
Multiple users have asked about this. Should document this until we have full query language documentation.

[2016-04-01 00:19] alazier commented on #364
Glad you figured it out. We will better document this #365

[2016-04-01 00:22] alazier commented on #362
Not sure why this isn't working. Would be nice to be able to support this but for the time being you will need to debug in chrome.

[2016-04-01 00:23] cancan101 commented on #360
Probably needs docs in #365

[2016-04-01 02:08] enu-kuro opened #366 "Can not find RealmReact.framework."
In RealmJS.xcodeproj, there is no RealmReact.framework.  This commit seems to cause the problem.   [https://github.com/realm/realm-js/commit/daa294802850298e3e771b45fdfacc800e7e6bf6](url)

[2016-04-01 02:18] appden commented on #366
Sorry, but if you upgraded to `0.11.x`, you need to remove the reference to `RealmJS.xcodeproj` and use `rnpm link realm` instead. Please see the [0.11.0 release notes](https://github.com/realm/realm-js/releases/tag/v0.11.0) for the instructions.

[2016-04-01 02:42] enu-kuro commented on #366
Thanks! I missed release notes!

[2016-04-01 12:44] damir-sirola opened #367 "Missing property value for property name"
Hi, I'm having problems with optional properties. When I mark property as optional and then I don't set it up on object being saved it throws exception
Unhandled JS Exception: Missing property value for property name

Here is the code I used for saving:
[code]

[2016-04-01 14:52] alazier commented on #367
This is a bug. Until we make a fix you have to specify `null` or `undefined` for the optional property values at creation time:
[code]

[2016-04-01 15:59] nranganathan1 commented on #361
I followed these steps:

Drag the RealmReact.xcodeproj from node_modules/realm/react-native-ios to the Libraries
Add libRealmReact.a to Link Binary with Libraries phase in Build Phases in you applications settings

I now get a different error in XCode (7.2.1). The files libc++.tbd and libz.tbd is in the Bolts "Link Binary with libraries" but I still get this error. It works fine if I remove realm

[2016-04-01 16:22] nranganathan1 commented on #361
I fixed the issue. Here is the solution.

In Bolts project Targets:
Remove the libz.tbd file from the Libraries and Frameworks area.
Edit your build settings for Other Linker Flags add "-lz"

In my project, I have libc++.tbd, libz.tbd along with libRealmReact.a. I get the duplicate symbol error.

duplicate symbol _OBJC_METACLASS_$_GCDWebServerErrorResponse in:
    /Users/...ios/Build/Products/Debu

[2016-04-01 17:18] Kureev opened #368 "Remove part about rnpm isse #119 from the docs"
Hi there!

Currently on the website you have an outdated info about linking process using `rnpm` :smiley: :

[code]

Can we update it?

[2016-04-01 17:25] alazier commented on #368
Will do.

[2016-04-02 07:47] ehrudxo opened #370 "Testing with Jest not working"
I got
[code]
message.

My Package.json is shown below.
[code]
<script src="https://gist.github.com/ehrudxo/684b5aeb7211c18237092aece45f29fb.js"></script>
https://gist.github.com/ehrudxo/684b5aeb7211c18237092aece45f29fb

and .babelrc is like

{
  "presets": ["react-native"]
}

[2016-04-02 22:39] cancan101 opened #371 ""Missing property value for property XXX" even though XXX is Optional"
I am getting the following error when trying to create even though the field is marked optional:
![image](https://cloud.githubusercontent.com/assets/51059/14229377/491d58d8-f900-11e5-9eda-b3baf938c545.png)

here is my schema:
[code]
with
[code]

[2016-04-02 23:53] cancan101 opened #372 "Case Insensitive sorting"
Is it possible to sort a query in a case insensitive manner (akin to using `[c]` when filtering)?

[2016-04-04 00:41] appden commented on #361
@nranganathan1 I was afraid we'd run into these kinds of conflicts when switching from a framework to a static library. I'm on vacation this week, but I will resolve these conflicts when I return. For now, you can modify the RealmReact target by removing the `libGCDWebServers.a` from `Other Librarian Flags`.

[2016-04-04 01:07] cancan101 opened #373 "Document how to use $0 in filters"
How do I filter by a date?

I am trying:

[code]

and

[code]

but I get `You must pass in a date argument to compare`

[2016-04-04 01:39] cancan101 commented on #373
This worked:
[code]

[2016-04-04 11:44] kristian-puccio commented on #366
I'm seeing this as well. I don't have the RealmJS.xcodproj linked in Xcode.
Also happening for me in Android.

Strange this is that it was all working as of yesterday. I did update my global npm modules, so maybe it's got something to do with that?

Oh and I'm using React-native 0.23rc4

Here's my log output via Xcode:```
2016-04-04 21:40:35.348 [error][tid:com.facebook.React.JavaScript] Missing R

[2016-04-04 11:58] kristian-puccio commented on #366
Ok seems to work when I use react-native 0.22.

Strange I was using it with 0.23 maybe rc 3 though.

[2016-04-04 14:35] zio-zhang opened #374 "Support Visual Studio Code"
use realm ,when debug in chrome ,show error:

Unbalanced calls start/end for tag 0
Unhandled JS Exception: Module AppRegistry is not a registered callable module.
Missing Realm constructor - please ensure RealmReact framework is included!
Module AppRegistry is not a registered callable module.
Unhandled JS Exception: Missing Realm constructor - please ensure RealmReact framework is included!
Unhan

[2016-04-05 14:32] alazier commented on #372
This isn't currently possible

[2016-04-05 18:32] #372 closed

[2016-04-05 18:33] cancan101 commented on #372
Is this a limitation in the underlying realm libraries?

[2016-04-05 18:35] alazier commented on #374
Do things work when not in chrome debug mode?

If you are seeing this after upgrading from Realm v0.10.0 did you follow the setup instructions in the release notes?
https://github.com/realm/realm-js/releases/tag/v0.11.0

[2016-04-05 18:36] alazier commented on #350
The full instructions for updating to the new version were in the release note here https://github.com/realm/realm-js/releases/tag/v0.11.0

Were you able to get things working?

[2016-04-05 18:36] #346 closed

[2016-04-05 18:37] #349 closed

[2016-04-05 18:38] #360 closed

[2016-04-05 18:38] #367 closed

[2016-04-05 18:40] alazier commented on #371
Just merged the fix for this in #369

Until we make the next release you can explicitly pass in `null` or `undefined` for optional properties to work around the issue, or you can build from source to get the fix immediately.

[2016-04-05 18:40] #371 closed

[2016-04-05 19:41] alazier commented on #372
Its not something the core currently supports and given the current roadmap it probably wont come any time soon. It is more likely that we will support custom sorting via a user callback before supporting this as a first class feature.

[2016-04-05 19:47] alazier commented on #363
There is currently an undocumented method used by the tests which deletes all realm files in the documents directory. You can do this by calling ```Realm.clearTestState();```

Is this the behavior that you want, or you do you want the ability to specify individual Realm files rather than deleting all Realm? If the current behavior is sufficient then we can rename and document the existing function

[2016-04-05 19:49] alazier commented on #366
Glad that you got things working.

[2016-04-05 19:49] #366 closed

[2016-04-05 19:51] alazier commented on #368
Docs were updated last week. Thanks again for the fix.

[2016-04-05 19:51] #368 closed

[2016-04-05 20:16] alazier commented on #370
It sounds like the Realm module is not getting loaded properly. Did you add Realm to your xcodeproj by running `rnpm link realm`?

[2016-04-05 23:21] alazier commented on #365
This has been added to the walkthrough docs.

[2016-04-05 23:21] #365 closed

[2016-04-05 23:50] zio-zhang commented on #374
the error is show  in vs-code ,use  debug mode, debug iOS

[2016-04-05 23:51] zio-zhang commented on #374
https://github.com/Microsoft/vscode-react-native/issues/198

[2016-04-06 07:59] miknonny commented on #350
Yes. fixed issue in both IOS and android. thanks so much!

[2016-04-06 13:56] #350 closed

[2016-04-06 19:36] bosung90 opened #375 "iOS - Missing Realm constructor - please ensure RealmReact framework is included!"
When I run I get error (red screen) on iOS emulator
`Missing Realm constructor - please ensure RealmReact framework is included!`

[code]

Note that I am not getting any error in Android.

My dependencies :

[code]

[2016-04-06 20:01] bosung90 commented on #375
Found out libRealmReact.a was missing from Linked Frameworks and Libraries.

[2016-04-06 20:01] #375 closed

[2016-04-08 00:49] cancan101 opened #377 "ListView should spread the underlying prop types"
[code]

[2016-04-08 14:11] breezykermo commented on #361
I'm encountering the same issue. When I manually link the library, like @nranganathan1 outlines above, I get 186 errors, of the following nature:

[code]

I'm not sure if this is the same error. The library links fine in android, both through rnpm and by manually adding the library.

[2016-04-08 14:23] alazier commented on #361
@breezykermo what is the name of your project? We previously had issues with project names that had the word `Test` in them but we thought this had been fixed by the latest version of rnpm. Unfortunately it looks like we are still requiring the older version in our package.json so this still may be causing problems.

[2016-04-08 14:25] alazier commented on #361
@breezykermo here was the workaround for the previous issue. Does this resolve your issue?

**WARNING:** Due to an issue with `rnpm` ([#119](https://github.com/rnpm/rnpm/issues/119){:target="_blank"}), if your project contains the word **“Example”** or **“Test”** then you must first explicitly tell `rnpm` where to find your Xcode project by adding the following to your `package.json` file:

[code]

[2016-04-08 15:13] breezykermo commented on #361
Unfortunately it doesn't seem to change anything, @alazier. The project name doesn't have 'Test' or 'Example' in it, and explicitly declaring the rnpm path still gives the same incomplete logs:

[code]

Curiously, now when I try to run `rnpm unlink realm`, I get the following:

[code]

I'm on the most recent rnpm (just redownloaded to double check).

[2016-04-08 15:30] Kureev commented on #361
Looks really weird. I don't actually think that it caused by rnpm. But just to be super sure: cc @grabbou

[2016-04-08 15:38] enu-kuro commented on #375
@bosung90 how to resolve the problem?

[2016-04-08 15:49] grabbou commented on #361
https://github.com/rnpm/rnpm/issues/119 is already fixed, so you don't need to do anything as long as you have folder under `ios`.

Latest version links `realm` fine for me, at least on iOS - that's where I've tried.

The issue you are getting might be due to something non-standard in `xcodeproj` that causes underlying node-xcode library to crash. If you don't mind, please send me `pbxproj` that i

[2016-04-08 15:50] grabbou commented on #361
BTW, how that relates to `rnpm` given that @breezykermo said

? I am quite confused :D

[2016-04-08 17:02] nranganathan1 commented on #361
My issue is now fixed. Here is what happened.

When I ran "rnpm realm", it added "libRealmReact.a" to the Bolts and when I added "libRealmReact.a" to my project, I got the duplicate symbol error. I removed from Bolts.

<img width="668" alt="screen shot 2016-04-08 at 10 03 46 am" src="https://cloud.githubusercontent.com/assets/6414677/14391438/d7299fc8-fd70-11e5-8a85-41dcb3696e48.png">

Also I adde

[2016-04-08 18:59] bosung90 commented on #375
1. Install rnpm `npm install -g rnpm`
2. Execute this in command line within your project `rnpm link realm`
3. Go to Xcode, select Show your project navigator -> select your project (blue icon) -> select general tab -> scroll to bottom and add "libRealmReact.a" to Linked Frameworks and Libraries by pressing + button.

[2016-04-08 19:39] charpeni commented on #361
I just tried on iOS with a freshly initialized project and `libc++.tbd` & `libz.tbd` wasn't linked.

[code]
Got this on build :
[code]

Manually add : `libz.tbd` and `libc++.tbd` from _Link Binary With Libraries_

It works !

[code]

cc @grabbou @Kureev @alazier

[2016-04-08 20:25] grabbou commented on #361
Yes, we do not link that yet. That's my goal for this weekend :) thanks for giving rnpm a go!

[2016-04-08 20:29] charpeni commented on #361
@alazier It should be included into getting started documentation until @grabbou and @Kureev continue their good work.

[2016-04-08 22:37] alazier commented on #361
You shouldn't have to manually add the libraries to the project - this should be done automatically when the `rnpm-postlink.js` script is run. For some reason this script is not getting run properly.

[2016-04-08 22:46] alazier commented on #361
For the time being if you run the following from your project directory the libraries get added automatically:

```node node_modules/realm/scripts/rnpm-postlink.js```

@grabbou any idea why this script isn't working properly when run from rnpm? Or is it not getting run at all?

[2016-04-08 22:51] alazier commented on #162
User asked for this on SO http://stackoverflow.com/questions/36501327/filtering-objects-with-null-property-on-realm-for-react-native

[2016-04-09 02:42] enu-kuro commented on #375
@bosung90 Thanks! My problem was the same with this(https://github.com/realm/realm-js/issues/361). Now it fixed.

[2016-04-09 09:02] appden commented on #361
I created a PR (rnpm/rnpm-plugin-link#65) to resolve the issue of `postlink` not being called. It includes a new test to help ensure these commands are called when expected.

[2016-04-09 11:41] breezykermo commented on #361
@charpeni, works perfectly thanks, in terms of manually hooking the library up. Just tried rnpm linking and unlinking with realm in a new project, and everything seems to be in working order, minus that postlink issue. Thank you for all your great work!

[2016-04-09 14:48] grabbou commented on #361
Thanks guys and really sorry for the bug! It's now been updated.

[2016-04-09 15:38] nranganathan1 commented on #361
Thanks for fixing it. You guys rock!

[2016-04-09 22:29] jialiu54321 commented on #287
got the same error without using realm.......all i did was adding the 'autoCorrect' to a textInput view and I got this error

[2016-04-10 07:35] wusuopu opened #378 "It occurs a error in production environment"
I have installed both realm-js and realm-swift in my app. That's ok when app running in Debug mode.

But when I build a Release target, it occurss a error:

[code]

But I try to set `jsCodeLocation` as a URL instead of a NSBundle in Release mode, then it will be ok.
So I guess that the code may be compressed when ReactNative making a jsbundle, but I'm not sure.

My environment are:
  * Xcode 7.2

[2016-04-11 02:15] Naoto-Ida opened #379 "'type' must be of type 'String'"
I've `npm install`ed realm,
run `rnpm link realm`,
and imported Realm by
`const Realm = require('realm')`.

Whenever I create a new Realm with schema (exactly as written in the tutorial),
it gives me the error `'type' must be of type 'String'`.

Here is my code:
[code]

Can someone point me in the right direction? Thanks.

[2016-04-11 02:45] Naoto-Ida commented on #379
After reading the code in the example project, I specified the schema again as so:

`schema: [{name: 'Dog', properties: {name: 'Realm.Types.STRING}}]`

Is the documentation a little bit old?

[2016-04-11 02:57] alazier commented on #379
Both should work - the value of `Realm.Types.STRING` is `"string"`

[2016-04-11 04:13] wusuopu commented on #378
It fixed by myself, so close this issue.

[2016-04-11 04:13] #378 closed

[2016-04-11 06:59] Naoto-Ida commented on #379
It seemed to be the other nested definitions I had in the schema. Closing.

[2016-04-11 06:59] #379 closed

[2016-04-11 10:20] sarovin opened #380 "Missing Realm constructor - please ensure RealmReact framework is included!"
Hi,
i have this error when add realm in my app.

[code]

![schermata 2016-04-11 alle 12 19 38](https://cloud.githubusercontent.com/assets/5980398/14424135/c97b87e4-ffdf-11e5-9014-94b3527b52b5.png)

[2016-04-11 14:15] alazier commented on #380
Did you install `rnpm` and run `rnpm link realm`?

[2016-04-11 14:19] sarovin commented on #380
yes, I have followed [this](https://realm.io/docs/react-native/latest/)

[2016-04-11 14:25] alazier commented on #380
It sounds like rnpm might be failing. What version are you using? What is the output from running `rnpm link realm`?

[2016-04-11 14:41] sarovin commented on #380
The output of rnpm is:

[code]
UPDATE:
i have upgrade rnpm at 1.6.2 and now work...

[2016-04-11 15:12] alazier commented on #380
Glad you got it working.

[2016-04-11 15:12] #380 closed

[2016-04-11 18:03] appden commented on #377
@cancan101 you're right, it would be best to do this, and I will make that change. It should still catch mistakes because it passes all the props down to `React.ListView` inside the `render` method.

[2016-04-11 18:04] appden opened #381 "Elaborate on benefits of ListView in the docs"
Asked on Stack Overflow: http://stackoverflow.com/questions/36502359/benefits-of-using-realm-listview-over-standard-react-native-listview

[2016-04-11 18:21] alazier opened #382 "No error thrown when getting cached realm with a changed schema"
We should thrown an exception in this case. Instead we return the cached realm with the schema used for the previous initialization

[2016-04-11 19:43] alazier commented on #217
This actually didn't work but has since been fixed.

[2016-04-11 19:43] #217 closed

[2016-04-11 21:32] Chris-Petty opened #384 "Accessing Properties of Linked Objects in ListView RenderRow function throws undefined error"
Long winded version is [a question on SO](http://stackoverflow.com/questions/36539381/linked-objects-properties-in-realm-react-native-listview-return-undefined-erro), but I am quite certain this is a bug as described in detail farther down this report.

#### Goal

In the renderRow function to be given as a prop to ListView:

[code]

Where department is an object property of item

#### Expected Res

[2016-04-12 10:41] charlesluo2014 opened #385 "dyld: Library not loaded: @rpath/RealmJS.framework/RealmJS"
dyld: Library not loaded: @rpath/RealmJS.framework/RealmJS
  Referenced from: /var/containers/Bundle/Application/

  Reason: image not found

[2016-04-12 14:28] alazier commented on #385
We have switched over from using a dynamic framework to using a static library. If you re-add realm using the latest instructions it should resolve your issue: https://realm.io/docs/react-native/latest/#installation

[2016-04-12 14:30] alazier commented on #370
Any luck?

[2016-04-12 15:02] alazier commented on #356
We should mention this in the docs.

[2016-04-12 15:37] teebolt opened #387 "Guidelines for updating Realm version"
After looking through all of the documentation, I wasn't able to find a way to update Realm versions. Currently using Realm.js for React Native v0.10 but noticed v0.11 is available.

Would be good to have some clarity on how to upgrade and any gotchas that could be encountered.

[2016-04-12 17:56] ramsundark5 commented on #370
I'm having similar issues. Below is the error I see in the console,
● Runtime Error
SyntaxError: Unexpected reserved word in file 'node_modules/realm/lib/browser/index.js'.
Make sure your preprocessor is set up correctly and ensure your 'preprocessorIgnorePatterns' configuration is correct: http://facebook.github.io/jest/docs/api.html#preprocessorignorepatterns-array-string
If you are currently se

[2016-04-12 17:57] alazier commented on #387
Instructions were in the release notes - we should probably add a note in the docs until more people have upgraded. The release notes are here https://github.com/realm/realm-js/releases/tag/v0.11.0

[2016-04-12 18:17] #162 closed

[2016-04-12 21:55] appden commented on #384
@Chris-Petty Thanks for the very thorough write up. Would you mind providing a code sample that includes all the setup and usage of the `DataSource` so I can be sure things look right there? Thanks again!

[2016-04-12 23:54] Chris-Petty commented on #384
I really want to just dive into this repo and write a test for it :P but checking it isn't my setup is important. I may quickly whip up a basic RN realm project at Lunch or tonight (6-8 hours from now) and see if I can replicate the issue there, then link the repo. Unfortunately for now the company repo I'm working on is private, so I'm conservative posting code samples from it.

Following is the

[2016-04-13 12:07] charlesluo2014 opened #388 "duplicate symbol libRealm and libRealmJS"
hi,when i use realm-js in react-native ,and I also use Obj-C realm for the native code，it was throw link error，my xcode version is 7.x ；

duplicate symbol __ZNK5realm7Results9get_queryEv in:
    /Users/luolishu/Library/Developer/Xcode/DerivedData/ZowalkHR-csdfcsyulneiakdnuevndewqugzs/Build/Products/Debug-iphonesimulator/libRealm.a(results.o)
    /Users/luolishu/Library/Developer/Xcode/DerivedData/

[2016-04-13 15:11] alazier commented on #388
If you use the dynamic framework for Obj-C you may be able to avoid this issue.

[2016-04-13 20:05] appden commented on #384
@Chris-Petty Thanks for posting this! I noticed from this code that the `dataSource` is being passed into itself here: `dataSource.cloneWithRows(dataSource)`. This could explain why you're its own methods being passed into `renderRow`. Let me know if that helps!

[2016-04-13 20:29] appden commented on #382
If I understand this issue correctly, then I thought we had a test for this? It must easy enough to fix that we should bump up to P1, no?

[2016-04-13 20:33] alazier commented on #382
Doesn't need to be bumped - no users have run into this issue. There is no test for this explicitly.

[2016-04-13 20:34] alazier commented on #382
Here is the offending code: https://github.com/realm/realm-js/blob/master/src/object-store/src/impl/realm_coordinator.cpp#L91

This doesn't effect the other bindings since schema is inferred rather than passed in by the user.

[2016-04-13 22:02] Chris-Petty commented on #384
That would make sense for that to be an issue looking at it now.

Testing it out by actually giving the dataSource data rather than itself, it no longer has the problem!
Still strange to me that it would only break item.department.name. Why wouldn't break everything? item.name, item.code on undefined should be just as dysfunctional I would have thought? At least then it'd be little less innocuous.

[2016-04-13 22:02] #384 closed

[2016-04-14 05:29] appden commented on #384
Glad to hear it worked! It's because the items being passed into `renderRow` were still objects (functions), so `item.code` would be undefined but wouldn't throw an error. However, `item.department.name` would be trying to access a property on something undefined (`item.department`).

[2016-04-15 20:46] abhaytalreja commented on #355
Do we have any solution on this? or a workaround?

[2016-04-15 21:49] alazier commented on #355
@abhaytalreja There has been ongoing work to come up with a new date format that is consistent across all of Realm's bindings. That work is wrapping up and we hope to release this at the end of this month or in early May. Not sure the exact details yet but we plan to auto-migrate data stored in the old format to the new format.

[2016-04-15 22:12] alazier commented on #385
Any luck following the release notes?

[2016-04-15 22:13] alazier commented on #388
Any luck with this?

[2016-04-16 18:44] helloworld123456 opened #389 "Delete an object in realm cause react native app crash"
DOMException: Failed to execute 'send' on 'XMLHttpRequest': Failed to load 'http://localhost:8082/get_property'.
    at Error (native)
    at sendRequest (http://localhost:8081/index.ios.bundle?platform=ios&dev=true:81928:9)
    at Object.getProperty (http://localhost:8081/index.ios.bundle?platform=ios&dev=true:81848:1504)
    at Object.ORD_NO (http://localhost:8081/index.ios.bundle?platform=ios&d

[2016-04-16 18:47] alazier commented on #389
Looks like you are running in chrome debug mode. Do you get the same crash when running in regular mode? Are you deleting the object from within a write transaction?

[2016-04-16 21:26] geldarhb commented on #219
Hey @appden - it's Guy from @dorongutman 's team.
We've followed 0.11.0 release notes but bumping into a similar problem with Fabric builds as we used to in the beginning of this thread.

It happens only devices that try to install builds via Fabric. Running on our devices via Xcode works fine.

Thanks!
Guy

[2016-04-16 23:29] MichaelDanielTom opened #390 "Updates on extremely slow and clog main thread with React-Native Android using chrome debugger"
Hey guys,
While using realm for RN Android, I'm trying to write/update around 50 of objects like:
[code]
Without debugging in chrome it's lightning fast, but when I debug in chrome, it takes around half a second to write each object, blocking the UI, and rendering the app completely unresponsive for over 20 seconds. Any idea of why this is?

[2016-04-17 05:52] helloworld123456 commented on #389
@alazier
:-), thank your reply, I found the crash occurred when I access a deleted object's properties, code something like this:

realm.write(()=>{
    realm.create('PREFS',{KEY:'key1',VALUE:'value1'})
})

let result = realm.objects('PREFS').find(row=>{
    return row.KEY=='key1'
})

realm.write(()=>{
    realm.delete(result)
})

console.log(result.KEY)  //whenever run in debug or normal mode, th

[2016-04-17 05:59] helloworld123456 commented on #390
+1, in RN IOS chrome debugger also extremely slow...

[2016-04-17 12:03] helloworld123456 commented on #389
@alazier
I end up added a _DELETE property to all my schemas, when an object need to be deleted, set _DELETE to true, and before user exit app, find all objects marked _DELETE with true and delete these objects all together.

Then define a _objects(type) as follow to replace original objects() function:
realm._objects = function (type) {
    return realm.objects(type).filtered('_DELETE=false')
}

[2016-04-18 11:07] ehrudxo commented on #370
@alazier I did it.but It didn't work

[2016-04-18 20:01] alazier opened #391 "Support checking if objects have been invalidated"
Right now there is no way to check if an object is valid.

[2016-04-18 20:03] alazier commented on #389
That approach is fine as a workaround. If you have a very large dataset the query could potentially slow things down but in most cases it should be fine.

This is really a problem with Realm though that there is no way to check if an object has been deleted. This is something that is supported on other bindings and we need to support for RN as well. I created a new item #391 to track the issue.

[2016-04-18 20:08] appden commented on #370
@ehrudxo It looks like the correct solution would be for us to mock `NativeModules.Realm`. Were you able to work around this issue?

@ramsundark5 The files under `browser/` are written in ES6+, so they need Babel to preprocess them. My understanding was that the latest version of Jest automatically handled doing that. If you're on the latest and are still getting the error, would you mind sharing

[2016-04-18 20:40] #387 closed

[2016-04-18 20:44] alazier opened #392 "Support read only realms"
Needed to support bundled realm files http://stackoverflow.com/questions/36682944/is-there-a-way-to-pre-package-realm-database-default-realm-through-react-nativ

[2016-04-18 20:53] #385 closed

[2016-04-18 20:53] #388 closed

[2016-04-19 01:17] helloworld123456 commented on #389
@alazier
Tanks for your feedback. Have a nice day.

[2016-04-19 06:28] dantman opened #394 "Using Realm in Navigator scenes in some circumstances can crash the app"
The combination of Realm + Navigator + Re-rendering scenes that use Realm objects + deletion can cause Realm to crash the app.

I've written up a sample app for this scenario:
https://github.com/dantman/realm-bug-test-1/tree/master/lib

"Next" creates a Realm object and navigates to a scene that uses the Realm object and also periodically re-renders (like a scene that includes a timer/countdown, e

[2016-04-19 23:15] alazier commented on #394
Thanks for the detailed bug report and example project. I was able to easily reproduce the issue. In the near term the way we will address this is to add an api to allow you to check if an object has been deleted. There was an existing issue/request for this and I have added this functionality in a pr #395 which should make it into the next release.

With this new api in cases you are accessing ob

[2016-04-19 23:49] dantman commented on #394
Checking for validity all the time is going to make code a lot messier and make the pop process messy. Not every situation will be able to provide an alternative for when there is no object. And instead of scenes displaying their previous content as they fade out, they'll either be blank or display weird placeholders.

IMHO this is an inherent fault to Realm's default behaviour of live-updating ob

[2016-04-20 00:21] alazier commented on #394
Deep snapshots/immutability is something we definitely want to do but there are performance considerations which give me low confidence that it is something we can provide in the shorter term. Until then it will be necessary to perform this check for objects that could be deleted, or to copy/clone the data to prevent any live updating from occurring.

[2016-04-20 18:58] saeho opened #397 "Memory Leak problem in React Native"
Hi, we want to use Realm in our React Native project. But there's a memory leak issue in Realm.

Using the latest version 0.11.1,eEvery time the app refreshes, the memory usage goes up by ~40 MB and it does not go back down. By refreshing multiple times, the memory usage can go up as high as 300 MB before the app closes itself.

Also letting the app idle will cause the app to slowly climb in memor

[2016-04-20 21:49] ehrudxo commented on #370
@appden I did not work around this issue. I just let my project undone and solve another problem. Does latest Jest solve this problem?

[2016-04-21 03:26] stevenp commented on #388
I encountered the same issue, and don't have the ability to use the dynamic framework because some of the Pod dependencies I'm using won't work as a framework, and it appears to be an all-or-nothing proposition. Any other suggestions?

[2016-04-21 07:45] melihmucuk opened #398 "Crash on android 64 bit devices"
Check this [issue](https://github.com/facebook/react-native/issues/7087)

[2016-04-21 18:11] appden commented on #398
Thanks for reporting this @melihmucuk. Can you please confirm that you're running the latest version (`0.11.1`)?

[2016-04-21 18:24] appden commented on #388
@stevenp As long as you don't need to support iOS 7, you should be able to use the Realm Cocoa dynamic framework while continuing to use your other Pod dependencies as static libraries. For that to work, you'll need to instead follow the [installation instructions](https://realm.io/docs/objc/latest/#installation) under the **Dynamic Framework** section, rather than using CocoaPods to install Realm

[2016-04-21 20:10] stevenp commented on #388
@appden Thanks for the tip! I'll install that way instead.

[2016-04-22 19:10] melihmucuk commented on #398
Hi, I was on 0.10.0, then upgrade to 0.11.1 and issue  solved. Thanks !

[2016-04-22 19:20] appden commented on #398
Thanks for the update @melihmucuk, that's really good to hear!

[2016-04-22 19:20] #398 closed

[2016-04-22 20:12] FearMediocrity commented on #378
@wusuopu How did you resolve it?

[2016-04-23 07:22] avishayil opened #399 "Predicate expressions must compare a keypath and another keypath or a constant value"
![Error](http://i.imgur.com/ujyHZln.png)
Relevant code on lines 66-67:
[code]
Any ideas?

[2016-04-24 00:17] appden commented on #399
In order for the `key` to be treated as a string, it would be need to be enclosed in quotes, but in this case, I would recommend you use the placeholder syntax instead like this: `filtered('slug = $0', key)`.

[2016-04-25 19:22] abhaytalreja commented on #392
any updates on this?

[2016-04-26 05:54] appden commented on #370
@ehrudxo The workaround is to mock `NativeModules.Realm.debugHosts`. I will see if I can include that by default in the npm module so you won't have to in the future.

[2016-04-26 05:58] appden commented on #399
@avishayil I'm closing this, but if you have any trouble, please let us know. Thanks!

[2016-04-26 05:58] #399 closed

[2016-04-26 06:06] appden commented on #390
@MichaelDanielTom Are you debugging on device or on an emulator? The Realm API is synchronous, which means we need to use synchronous HTTP requests under the hood for Chrome debug mode. This inherently makes it much slower in debug mode. I've observed it being much faster on the iOS simulator than through an Android emulator due to the emulator using a virtual network interface through a VM. Howev

[2016-04-26 06:09] #361 closed

[2016-04-26 09:42] gmchaturvedi1 opened #400 "react-native app crashed getting object schema in array index"
Dear All,

I am very new to realm.First i just save my access token and then i retrieve with the following :

let auth=realm.objects('auth');
let authToken=auth[0];
const token= authToken.token
causing app crash .

when i correct the folloing line
let authToken=auth;

it is running.

Can u suggest how to workaround it as array index is causing problem of app crash.

Kindly help me out on this.

Re

[2016-04-26 14:58] appden opened #401 "Support Android development on Windows"

[2016-04-26 15:07] appden commented on #397
Thanks so much for reporting this @saeho. I figured out that we were leaking JS executors on iOS when refreshing. I have a PR open that will fix this, and it will be in the next release.

[2016-04-26 18:46] alazier commented on #392
This should make it into our next release which should land in the next week or two.

[2016-04-27 00:44] #389 closed

[2016-04-27 06:38] ehrudxo commented on #370
@appden Thanks. I will close. this issue.

[2016-04-27 09:10] avioli commented on #361
I'm running into the same issue, fixed by adding `libz.tbd` and `libc++.tbd` manually as per @charpeni's suggestion.

Tools:
* `rnpm` 1.6.2
* `node` 4.3.1
* `npm` 2.14.12
* `react-native-cli` 0.2.0
* `react-native` 0.24.1

cc @grabbou @Kureev @alazier

[2016-04-27 09:10] avioli commented on #361
Running `node node_modules/realm/scripts/rnpm-postlink.js` does nothing. Logging stuff gives that `config.ios` is `null`, so the `if block` never runs.

[2016-04-27 09:13] avioli commented on #361
Ah... `package.son` of `realm` 0.11.1 list a dependency of `rnpm` 1.5.2.

That's the problem. The `rnpm-postlink.js` requests `var config = rnpm.getProjectConfig()` from that sub module.

[2016-04-27 10:45] gmchaturvedi1 commented on #400
kindly help me out on this as i am stuck with this.

[2016-04-27 13:58] alazier commented on #400
Can you share the exception or crash log you are seeing? You would probably get a crash/exception if `auth.length == 0` so you might want to check for this before accessing `auth[0]`

[2016-04-27 14:13] gmchaturvedi1 commented on #400
How to collect crash report can u suggest me as i am new to this

[2016-04-27 14:16] alazier commented on #400
If you run from XCode any crash information should be printed out in the console area on the bottom right.

[2016-04-27 14:16] gmchaturvedi1 commented on #400
i am running on windows and developing android app

[2016-04-27 14:21] gmchaturvedi1 commented on #400
i am saving my auth token first then ijust want to send token on each api call. So what i am doing in one file like this  :
auth =realm.objects('auth');
export const token=auth[0].token

second line is creating issue .

thanks & Regards
G M Chaturvedi

[2016-04-27 14:29] alazier commented on #400
Sounds like `auth.length` is 0, so accessing that index is causing the problem. Can you verify that `auth.length > 0`?

[2016-04-27 14:42] gmchaturvedi1 commented on #400
its coming true.But it is an array and index must start from 0.

Kindly suggest what to do.

[2016-04-27 14:47] alazier commented on #400
I missed the message where you said you are on android/windows. We haven't yet tried running on windows so maybe we have some issue there. To see android crash information run `adb logcat` from the command line. `adb` is found in the android sdk. Does this print out any other information?

[2016-04-27 14:47] alazier commented on #400
Also, are you running in chrome debug mode? If so that could also be causing issues on windows.

[2016-04-27 14:49] gmchaturvedi1 commented on #400
yes i am running chrome debug mode.So shall i use realm now or wait

[2016-04-27 14:51] alazier commented on #400
I would guess that turning off chrome debug mode may fix the issue in which case the issue is in that layer. Unfortunately I don't have a windows machine setup to test this at the moment, so if there is an issue I'm not sure when we will be able to resolve it.

[2016-04-27 14:53] gmchaturvedi1 commented on #400
ok thanks for your support

[2016-04-27 23:54] joshuapinter commented on #306
There isn't any mention of this in the [current documentation](https://realm.io/docs/react-native/latest/#sorting).

Is there a place where I can issue a PR for those docs?

Thanks.

[2016-04-27 23:57] appden commented on #306
@joshuapinter You're right that we probably should mention it there. The API documentation for [sorted](https://realm.io/docs/react-native/latest/api/Realm.Collection.html#sorted) covered this, so maybe we should provide a link to that documentation on that page as well.

[2016-04-28 00:01] joshuapinter commented on #306
Damn, didn't even though these API docs existed - they're much better! A link might help others for sure.

[2016-04-28 13:49] kurayama commented on #262
Any updates on this issue? I've been looking to use realm with electron

[2016-04-28 14:56] alazier commented on #262
This is something that we have been working on but we don't yet have a timetable for a release.

[2016-04-28 19:54] appden commented on #391
Closed by merging #395

[2016-04-28 19:54] #391 closed

[2016-04-28 20:22] alazier opened #404 "Create migration example"
Show best practices for data migrations

[2016-04-28 22:40] #333 closed

[2016-04-29 18:26] #332 closed

[2016-04-29 20:53] #392 closed

[2016-04-29 21:09] IlyaSuhodolskiy opened #408 "Invalid session ID"
When debug in chrome starts
<img width="601" alt="screenshot 2016-04-30 00 08 30" src="https://cloud.githubusercontent.com/assets/8992530/14929745/bd772656-0e67-11e6-923e-d4a71b6e6d8e.png">

[2016-04-30 06:44] MichaelDanielTom commented on #390
@appden I'm using a genymotion emulator with a Nexus 6 if that matters :/

[2016-04-30 08:12] MichaelDanielTom commented on #141
Hey guys, what's your opinion on saving Realm objects into the Redux store vs saving some type of primary key - Realm object type tuple? It seems that in terms of keeping only the bare minimum amount of data in Realm, it would make sense to only save the key, and then get the entire object through a selector. However for actually binding the redux state to the UI, saving the entire object seems a

[2016-04-30 15:35] fungilation commented on #141
On a tangent, what about integration with [Redux Persist](https://github.com/rt2zz/redux-persist)? With its autoRehydrate() and persistStore(), it'd work quite automagically as a drop in for persistence. It currently uses AsyncStorage as storage, is Realm a natural fit here instead?

[2016-04-30 18:33] MichaelDanielTom commented on #141
@fungilation Are you suggesting that all realm integration happens during the persist step, and that UI updates are completely handled by Redux? I feel like simply swapping out AsyncStorage for Realm wouldn't do that much if it's only used as a key-value store.

[2016-04-30 22:30] fungilation commented on #141
It does as its drop in for initial integration, while the data can be
queried in other ways for new alternate views independent of redux? I
haven't thought this out fully so consider this a proposal and discuss on
whether such integration is worthwhile to the community.
On Sat, Apr 30, 2016 at 11:33 AM Michael Tom <notifications@github.com>
wrote:

[2016-04-30 22:59] lachlanjc opened #409 "EXC_BAD_ACCESS during writes from React Native"
I’m developing a React Native app with Realm v0.11.1 for iOS 9.3, and every time I use `realm.write` the app freezes and Xcode gives me an error on [`node_modules/realm/src/js_util.hpp`](https://github.com/realm/realm-js/blob/0.11.x/src/js_util.hpp#L113), line 113:

[code]

Code I’m writing to Realm with:

[code]

I would expect this to go through smoothly, as my code is so similar to that in the

[2016-05-01 04:09] AwesomeJerry opened #410 "Can I define a property as a plain object？"
Can I define a model's property like the following? or I have to define another model called Photo
[code]
[code]

[2016-05-01 05:53] aljs commented on #409
Your data does not contain 'createdAt' and 'modifiedAt' properties. Try this:
`const data = { id: this.state.id, content: text, createdAt: new Date(), modifiedAt: new Date() }`
Also, you should check that **this.state.id** is not undefined.

[2016-05-01 17:55] lachlanjc commented on #409
Thanks @aljs, I got this sorted out! :v:

[2016-05-01 17:55] #409 closed

[2016-05-01 20:37] appden commented on #390
@MichaelDanielTom Thanks. I made some performance improvements in a PR (#407) that will be merged before the next release. I'll take a look to see how much impact that actually had with Android.

[2016-05-01 20:50] appden commented on #409
@lachlanjc Thanks for reporting this. You should have been getting an exception that says `Missing property value for property createdAt`, and **not** a crash. I tried reproducing this crash but was instead getting the exception. I was hoping that you would be willing to send us an example of your code that was causing this crash to occur. Thanks!

[2016-05-01 20:56] appden commented on #410
Sorry, but right now you need to the define a separate `Photo` model like you did above. However, when you create an object, you should be able to specify the photo properties inline like this:
[code]

[2016-05-02 14:01] aljs commented on #397
Any news when the next release will be available?

[2016-05-02 15:26] alazier commented on #397
Early this week.

[2016-05-02 18:07] alazier commented on #408
Are you able to reproduce this issue? If so can you provide the steps to do so?

[2016-05-02 20:13] #253 closed

[2016-05-03 01:11] #397 closed

[2016-05-03 01:17] appden commented on #410
@AwesomeJerry I'm going to close this, but if you have any problems with suggestion, then please let me know!

[2016-05-03 01:17] #410 closed

[2016-05-03 01:20] appden commented on #283
@alazier This was fixed by merging #369, right?

[2016-05-03 01:21] appden commented on #157
Closing this until there is a specific need for it

[2016-05-03 01:21] #157 closed

[2016-05-03 01:23] appden commented on #52
This was fixed by merging #383, but made me realize I need to API docs for this. :smile:

[2016-05-03 01:23] #52 closed

[2016-05-03 01:30] appden commented on #138
@alazier we should confirm, but it's possible we've been supporting iOS 7 since switching to use a static library. :smile:

[2016-05-03 01:42] alazier commented on #283
This has been fixed.

[2016-05-03 01:42] #283 closed

[2016-05-03 16:52] Lida opened #415 "Port over ignoredProperties or allow non-schema properties"
If I try to assign a non-schema property to a RealmObject, I currently get an exception in `Object::set_property_value` in file object_accessor.hpp.

This only happens on Release builds and was unexpected. If RealmJS want all properties to be listed in schema, then there should be an ignoredProperties field in schemas. Otherwise, it should not throw a InvalidPropertyException.

[2016-05-03 20:32] appden commented on #397
@aljs We just released `0.12.0-rc`. Would you mind updating to that and letting us know that this issue was resolved for you?

[2016-05-03 20:33] appden commented on #392
@abhaytalreja We just released `0.12.0-rc`. You can update to that to give this new feature a try. Thanks!

[2016-05-03 20:35] alazier commented on #415
I've made a pr to address this. Instead of having to specify ignored properties, we will allow you to set and get properties not in your schema like any other js properties.

[2016-05-03 20:42] appden commented on #371
@cancan101 We just released `0.12.0-rc`, which includes this fix. Please let us know if you notice any issues with it. Thanks!

[2016-05-03 20:47] #415 closed

[2016-05-03 21:53] appden commented on #390
@MichaelDanielTom We just released `0.12.0-rc`. We'd would really appreciate if you tried it out and let us know if you noticed any performance gains. It still will be _much_ slower in Chrome debug mode, but hopefully less unacceptably slow. :smile:

[2016-05-03 21:57] MichaelDanielTom commented on #390
@appden Thanks!!!!! I'll check it out tonight and let you know :)

[2016-05-04 03:47] cancan101 commented on #371
that seemed to work.

[2016-05-04 08:01] tolbrino commented on #397
I've hit the same issue before and with this release the memory stays stable across reloads for me.

[2016-05-04 09:40] appden opened #420 "Add isValid() method for collections"
This would mirror the functionality of the `isValid()` method on `Realm.Object`

[2016-05-04 17:09] ghprud opened #421 "An example for encryption"
The documentation has a snippet on how encryption can be used, but it is not quite clear about where the key is stored and how it can be used. A more detailed example will be helpful.

Thanks.

[2016-05-04 18:09] appden commented on #397
@tolbrino That's great to hear, thanks so much for confirming that!

[2016-05-04 18:17] appden commented on #371
@cancan101 Great to hear! We should be releasing the final `0.12.0` today or tomorrow at the latest.

[2016-05-05 02:28] edmofro opened #422 "Support uniqueness constraint"
Realm does not support a 'unique' constraint (other than a maximum of 1 primary key per object type).

This is highly desirable.

I realise this is something lacking from Realm's core, and when https://github.com/realm/realm-java/issues/967 is resolved it will most likely propagate through to realm-js, but wanted to record it against this repo for others searching.

[2016-05-06 05:00] willks opened #424 "ios: Background mode querying results in Realm error (v0.12.0)"
Hi,
  I'm using RN 0.22.2, and stumbled upon what I believe is an issue. I created an event which fires every minute (using GCD) which then periodically executes a JS function which in turn, accesses RealmDB for data to sync up with server. When the application is put in the background, Realm fails with this error when it is accessed:

`2016-05-06 14:42:18.729 [fatal][tid:com.facebook.React.RCTExc

[2016-05-06 20:56] appden commented on #424
@willks That error indicates that the app is running in Chrome debug mode. The way Chrome debug mode works with Realm is that it runs an HTTP server embedded in the app that the Realm JS needs to make requests to. When the app is backgrounded, it probably stops responding to those requests. When you take the app out of Chrome debugging mode, does everything work as expected?

[2016-05-07 00:10] willks commented on #424
Yes! After I typed this up, I actually deployed to phone and sue enough, all the data was uploaded while app was in background on my phone. I'm new to RN - and I appreciate your quick response.

Verified as working and down to my silly testing.

Thanks!

[2016-05-07 00:10] #424 closed

[2016-05-07 03:21] keithdmoore commented on #261
👍 for Ionic support.  Hopefully Ionic2!

[2016-05-07 18:16] sonnylazuardi opened #425 "createAllFromJson Support"
is there any createAllFromJson method in realm js? thanks

[2016-05-07 20:45] MichaelDanielTom commented on #390
@appden It's a little better, but at this stage in my app's development (I'm making the android version of [Radiate](https://itunes.apple.com/us/app/radiate/id939284774?mt=8)) There seems to be too much data for chrome debugging to be a feasible option, without significant dev setup :/ as in there are just a ton of background fetches that are saving to realm during normal app navigation.

On an un

[2016-05-08 21:36] MichaelDanielTom commented on #141
@jwhitley Could you provide an example of how exactly you use Realm as the persistent store, if you're making deep copies into Redux? Are all realm actions defined in sagas, with actions like refreshUser, which makes a network request, saves it to realm, and saves the resulting realm object into the Redux state? How are you handling normalization handled within the redux state?

Sorry for all the

[2016-05-09 17:27] alazier commented on #425
If you mean a bach create method then no. It is pretty easy to loop though a JSON array though and to call create on each element. If you put this loop inside a single write call things should be pretty fast.

[2016-05-10 13:51] lucamtudor opened #428 "Fuse & NativeScript support"
Do you guys plan o supporting Fuse or NativeScript? They're also in the marked of "JS native apps", just like react-native.

[2016-05-10 21:03] timanglade commented on #428
@lucamtudor we’ll let people vote on this issue for a while if they are interested. If we see enough votes we’ll definitely consider adding this!

[2016-05-10 21:04] timanglade commented on #390
@MichaelDanielTom we don’t have an official Slack channel no, I think a few popular slacks for iOS/Android/reactive apps have a Realm channel of some sort that you can use.

[2016-05-10 21:14] lucamtudor commented on #428
@timanglade sounds good to me! 👍

[2016-05-11 01:20] AndyDentFree opened #429 "Titanium Appcelerator Support"
Added for people to vote and comment on adding support for [Titanium Appcelerator](http://www.appcelerator.com/) after reading the [request on Hacker News](https://news.ycombinator.com/item?id=11671072).

[2016-05-11 03:29] Chris-Petty commented on #370
@appden Have you managed to get that work around into the node module? I appear to be getting the same error as OP. Also working with Jest.
[code]
I don't suppose it is as simple as `jest.mock('NativeModules.Realm.debugHosts');`?
I admit I know it's not, as it gives me following error in place of the above error:
[code]

[2016-05-11 16:24] joshuapinter opened #430 "Subsequent 'change' events not firing."
Hi guys,

I'm using Realm's `ListView` and an event listener to monitor for changes to the data and updating my ListView.

Oddly, it works fine on the first change to the data (e.g. adding a record or deleting a record) but on subsequent changes the event doesn't seem to fire.

Here's my setup:

[code]

When I first add (or delete) a record, I see `Realm Changed!` in my console. However, if I add

[2016-05-11 20:24] RurioLuca opened #431 "Realm and node.js"
Realm for node.js?

[2016-05-11 20:50] appden commented on #430
@joshuapinter It would be really helpful for me to see a lot more of the code or a reduction that reproduces this if you preferred, you can privately email it to me if you wish.

I have a couple quick comments on what you sent, but I don't think either will resolve your issue:
- The `addListener()` method is on a Realm instance, but it looks like you're calling it on the constructor in the code yo

[2016-05-11 20:59] joshuapinter commented on #430
@appden Thanks for the reply!

Yeah, it's tricky to get the full picture without more details.

To answer you two quick comments:

1) `Realm` is actually a separate file where I require Realm, define the schemes and instantiate the Realm. It then exports the instantiated Realm into the `Realm` variable. So we should be good there.

2) That makes sense. So would that mean my code would look like th

[2016-05-11 21:00] appden commented on #431
Hi @RurioLuca, we've been working toward this, but don't yet know when it will be released. I'm closing this as a duplicate of #262. Hopefully we'll have something to announce soon!

[2016-05-11 21:00] #431 closed

[2016-05-11 21:02] joshuapinter commented on #430
An additional discovery on the event listener.

My app Routes are laid out like this:

Relationships
-> Relationship
----> Edit Relationship

If I restart the app and edit a Relationship, I get the Realm change event. But if I go back to Relationships and try and edit another Relationship, I no longer get the Realm change event.

However, if I keep editing the same Relationship, without going back

[2016-05-11 21:10] appden commented on #430
@joshuapinter
1. That make total sense
2. Yep, your could should look like that, but it doesn't explain to me why you're not seeing the console log, so I think there's an issue we might need to resolve here.

Regarding your latest comment, I'll give it some thought, but I'm not sure if that helps me narrow it down. You definitely should be using `removeListener` in your React component when it is

[2016-05-11 21:17] joshuapinter commented on #430
@appden Right. Thanks. Yeah, I actually had the `removeListener` on the `componentWillUnmount` but removed it to test if that was causing issues. Had no effect.

Let me know what you think. Thanks again. Really appreciate it.

[2016-05-11 22:29] appden commented on #430
@joshuapinter I'm not sure I can help narrow this down without seeing more code. Are you sure there are no exceptions being thrown?

[2016-05-11 22:40] joshuapinter commented on #430
@appden Definitely no exceptions popping up. And I've even added console logs for all the different lifecycle events for the Relationships component and it doesn't get unmounted or anything.

I ended up getting around this by using `resetTo` on the `navigator` instead of `popToTop`, but that forces a new instantiation of the Relationships component.

No worries, though, I'll leave this here for no

[2016-05-13 08:51] FearMediocrity opened #432 "Support for ReactNative for Windows"
After speaking with Tim Oliver, it was suggested I post here a request for support of React Native on Windows Mobile.

While Windows support for ReactNative is still in development, it is coming soon, and was worthy an announcement at the Facebook F8 conference.

It would be nice to see Realm as a part of this expansion.

[2016-05-13 17:35] alazier commented on #432
This is definitely on our radar

[2016-05-13 23:40] #394 closed

[2016-05-13 23:41] #400 closed

[2016-05-13 23:41] alazier commented on #408
Were you able to figure this out?

[2016-05-13 23:41] #425 closed

[2016-05-14 00:30] cancan101 opened #433 "Fix Imports of React and React Native"
See the deprecation notice on: https://github.com/facebook/react-native/releases/tag/v0.25.1:

Instead of:
[code]
you should now:
[code]

[2016-05-14 15:25] cancan101 opened #434 "void realm::util::terminate<unsigned long, unsigned long>(message="Assertion failed: row_ndx < size()","
[code]

[2016-05-15 07:03] dredgerman opened #435 "Feature Request: Add support for native-react-meteor npm plugin"
Hi,
Is there any way that support can be given to bridge the gap between native-react-meteor plugin which allows integration of meteor calls in native-react, which links to a mongodb backend,

This is a final step between standard meteor setup with mongo and realm as an offline database,

The reason for this is that a lot of people wish to remain in meteor but the move seems to be on mobile toward

[2016-05-16 04:42] edmofro commented on #296
Any eta on this? Would be very helpful :)

[2016-05-16 15:44] alazier commented on #296
No eta yet but we are currently working on this.

[2016-05-16 17:33] alazier commented on #434
Do you recall what realm calls were made to trigger this crash? Are you able to reproduce this or did this only occur once?

[2016-05-16 20:40] appden commented on #434
@cancan101 It would also be really helpful to know which version of the `realm` module you were using. Thanks!

[2016-05-16 20:52] #355 closed

[2016-05-16 20:52] appden commented on #435
@dredgerman Thanks for this suggestion. It's something we can look into, but will probably need to hear from enough developers interested in this kind of integration. Right now, `react-native-meteor` relies deeply on [minimongo-cache](https://github.com/petehunt/minimongo-cache) for offline caching. In order to use `Realm` with `react-native-meteor`, a fork of `minimongo-cache` would need to be cr

[2016-05-16 20:53] digitalcatnip opened #437 "Sorting by sub objects"
Assume I have the following schema:

[code]

If I do the following, I get the error Property 'person.last_name' does not exist on object type 'Passenger'.

`realm.objects('Passenger').sorted('person.last_name')`

Is my syntax incorrect, or is sorting by sub-objects not supported?  If it's not supported, are there plans to support it?

[2016-05-16 21:03] appden commented on #377
Actually tried this, and it's not worth doing because there are **required** props that the stock `ListView` provides defaults for.

[2016-05-16 21:03] #377 closed

[2016-05-16 21:21] appden commented on #437
This is not currently support, but it's a great feature suggestion! For now, you can use `Array.prototype.sort` to do this manually. Something like this should work:

[code]

[2016-05-16 21:22] #433 closed

[2016-05-16 21:25] cancan101 commented on #377
What do you mean?

[2016-05-16 21:31] appden commented on #377
For instance, the `renderScrollComponent` prop is required, but a default is provided in `ListView.getDefaultProps()`. It's better us to follow the standard practice of letting the child components do its own prop checking.

[2016-05-16 21:36] cancan101 commented on #434
`0.12.0`

[2016-05-16 23:33] alazier commented on #355
@abhaytalreja this has just been released as `0.13.0-rc` on npm if you would like to give it a try.

[2016-05-17 09:30] helloworld123456 opened #442 "Realm.Results.filter(callback) method"
:-)
Hi, I recently meet a requirement that display a list which data source may come from db or json from network api call.

In my RN components I want reuse the filtering logic for both Realm.Results and Array, but the filter gramma is different:

In realm:
realmResults.filtered('propertyOne = $0', valueOne)

In javascript:
jsArray.filter(obj=>obj.propertyOne==valueOne)

I also consider translate

[2016-05-17 13:20] digitalcatnip commented on #437
@appden Thanks for the suggestion.  My understanding is by keeping the objects wrapped in Results, any relevant database writes would get persisted to the result set.  If I call slice(), I lose that ability, correct?

My thought was instead adding a `last_name` to the Passenger class, which would be sync'd manually by me with the underlying Person.  I could then called `sorted(last_name)` on Passe

[2016-05-17 13:35] alazier commented on #437
Your solution sounds like it will work. We eventually will add support for custom sort functions but it will be a while before we have time to build it.

[2016-05-17 15:53] johnmurphy01 opened #443 "React Native Realm: Accessing object of type "X" which has been deleted"
What is the best practice for determining whether or not a Realm record has been deleted in React Native? I am fetching a list of objects from Realm and I will get this error pretty consistently. Other objects will also throw this error but not as frequently. As far as I am aware, I am not attempting to access a deleted record. The stacktrace doesn't give enough information in order for me to pinp

[2016-05-17 17:59] appden commented on #443
This exception is thrown if trying to either get or set a property on a deleted object. The stack trace _should_ include where that happened, so I'd really appreciate if you included an example of such a trace so I could see if there's an issue there. As of `0.12.0` you can explicitly check if an object is valid by calling its `isValid()` method (documented [here](https://realm.io/docs/react-nativ

[2016-05-17 18:04] appden commented on #442
There is currently not a way to filter with a callback. We will be looking into doing that once all the plumbing is in place (this issue relates to #437).

Given that `filtered('propertyOne = $0', valueOne)` is **much** faster for this use case, I would strongly recommend doing that over converting the results to an Array. However, if you really want to convert to an Array, the easiest way to do t

[2016-05-17 18:19] johnmurphy01 commented on #443
Thanks! I just discovered isValid and it has seemed to alleviate some of the issues I am experiencing. The stacktrace was helpful after I was able to view the entire source file that is generated.

[2016-05-17 18:25] appden commented on #443
Awesome, thanks for following up!

[2016-05-17 18:25] #443 closed

[2016-05-17 22:31] celrak opened #444 "React Native - Realm Encryption - Unable to encrypt and then access DB"
Hey guys,

First off, Realm is awesome! We are stoked on the React Native release and will be using it in production soon. We ran into one issue, we are having trouble using the Encryption feature as described in the docs.

The example provided here (https://realm.io/docs/react-native/latest/#encryption) seems incomplete(?) and the sample code here (https://github.com/realm/realm-js) doesn't seem

[2016-05-18 01:12] helloworld123456 commented on #442
@appden
Thanks for your suggestion, I will consider separate the filtering logic for Realm.Results and javascript  Array. I also find the slice() method is useful to convert Results to Array.

[2016-05-19 00:54] OrangeBao opened #445 "field name cannot start with 'not', such as 'notic'."
there are two query string:

1. filtered( '$0==notic',notic)
2. filtered( 'notic==$0',notic)

first is correct, second is error.
I think that  second string is equal with ' not  ic==$0'.

can you understand?

[2016-05-19 01:50] joshuapinter commented on #430
Hey @appden, what should I be doing to try and debug this?

[2016-05-19 03:36] appden commented on #434
@cancan101 Thanks! Are you able to reliably reproduce this crash? We'd really like to get this one fixed.

[2016-05-19 03:39] appden commented on #430
@joshuapinter if you're sure `removeListener` (or `removeAllListeners`) isn't being called, then the next thing I would wonder about is if the JS context is being reloaded. If so, that listener would implicitly be removed. I didn't think that that React Native Navigator did that, but it's worth double checking. If the JS context is definitely not being removed, then I would confirm this bug also e

[2016-05-19 04:02] ekryski commented on #430
Yes I've also noticed that `removeListener` seems to not work or that events seem to be dispatched at weird times. @joshuapinter and I know each other so we'll work to get a slimmed down example that demonstrates the problem(s).

[2016-05-19 04:04] appden commented on #444
The `react-native-keychain` only supports password strings, whereas Realm expects a 512-bit (64-bytes) data blob as either an `ArrayBuffer` or `ArrayBufferView` (e.g. `Uint8Array`, et al).

If you're randomly generating a password, then I would suggest base64-encoding that data into a string before storing with `react-native-keychain`, then base64 decoding it when you get it out. I'd recommend che

[2016-05-19 04:08] appden commented on #445
@OrangeBao thanks so much for reporting this. We'll get this fixed very soon.

[2016-05-19 20:23] appden commented on #430
Thanks so much @ekryski @joshuapinter!

[2016-05-19 20:31] #445 closed

[2016-05-19 20:37] appden commented on #445
@OrangeBao We're in the process of releasing `0.13.0`, which includes a fix for this. It should be out within an hour or so.

[2016-05-19 21:18] #420 closed

[2016-05-20 09:09] cablegunmaster opened #447 "React-native 0.25 compatible?"
Is this up to date to the react-native 0.25 version? Can this be checked?
Also wondering how to implement this in the redux way.
As it states on the website its up to date to 0.12, is this just a number or untested in higher versions?

Looking forward to your answer :).

If posted in the wrong repository please let me know where the correct one is, thanks.

[2016-05-20 15:27] alazier commented on #447
We are up to date and have been testing with version `0.25.1` of react-native. `0.12.0` is the version for the `realm` module, and we just released `0.13.0` yesterday.

[2016-05-20 15:27] #447 closed

[2016-05-20 15:37] cancan101 commented on #434
I am now having a hard time reproducing this. I had seen it with some ordering of a call to `realm.deleteAll()` and subsequent queries.

[2016-05-20 16:35] celrak commented on #444
Appden, thank you very much for your reply, much appreciated. We are going to try this out today, will circle back again soon with results.

[2016-05-20 17:22] alazier commented on #434
Thanks for the information. Are you by chance also using `snapshot()`? If so think I may have found a way to reproduce the issue but am still looking into it.

[2016-05-20 19:00] kushal opened #448 "Play nicely with flow/eslint?"
By default, tools don't understand that the properties of realm objects are properties. There are ways to work around this, but I wonder if you have any ideas about how to do this automatically?

[2016-05-20 22:36] sunglee opened #450 "Support IN queries"
Let's say I have the following `sample` data:

[code]

When I execute the following:

[code]

it returns one `Results` object with 5 filtered values like this:

[code]

However, my question is how I can filter random ids? For example, I want to filter ids of 2, 4, 7, and 10.
What I can think of is:

[code]

But the problem here is it returns an array of 4 `Results` objects, not the single `Results

[2016-05-20 22:44] appden commented on #448
@kushal I'd like to better understand they issues you're seeing with ESLint. I do understand the issues you're probably seeing with using Flow. I don't have any great ideas on automatically annotating Realm objects, though I believe you can do that manually. We may be able to provide interface info for our APIs. I'm not super familiar with Flow yet.

[2016-05-20 22:54] alazier commented on #450
At some point we will support a syntax for this type of query. Something like:
```let filetered = sample.filtered('id IN [2, 4, 7, 10]')```

Unfortunately we don't yet support this so for now you will have to do separate queries and pull out the results yourself. Something like the following might work:

[code]

The main downside with this is that the query is not auto-updating - ie you will have

[2016-05-20 22:58] alazier commented on #450
Actually, there is another way you could make this work for now with support for auto-updating queries:
[code]

This should create a query of the form `id == 2 OR id == 4 OR id == 7 OR id ==10`. Once we support `IN` queries it will do this for you internally.

[2016-05-22 17:11] cancan101 commented on #434
I am not using `snapshot`.

[2016-05-23 00:26] appden commented on #434
@cancan101 We believe we figured it out. The `ListView` React component internally uses the `snapshot()` method. If you're not using that either, then please let us know. :smile:

[2016-05-23 00:34] cancan101 commented on #434
I am using that.

[2016-05-23 14:20] sunglee commented on #450
Thank you. It works with `join`. Maybe `IN` queries capability could be really helpful. Thanks again. 👍

[2016-05-23 17:13] alazier opened #452 "Remove extra npm installs from tests/examples"
Running the test script and examples takes a very long time and should be sped up where possible.

[2016-05-24 03:33] digitalcatnip opened #453 "Timestamp crash tells me to contact Realm"
I'm positive this is probably bad data formatting on my part, but I just upgraded my React Native 0.26.1 project to Realm 0.13 and now I'm unable to save my object with a Date object (birth_date).  Here's the log from XCode.  It should be noted this object worked fine with 0.11.1

    2016-05-23 23:24:50.548 [info][tid:com.facebook.react.JavaScript] Saving object {"id":1,"email":"james@catnip.io",

[2016-05-24 03:46] digitalcatnip commented on #453
On a hunch, I set the date to Jan 1, 1980 and it worked.  Are you using a Unix milliseconds since 1975 check by any chance?

[2016-05-24 06:48] alazier commented on #453
There is definitely a bug storing negative timestamp values (before the epoch). Will hopefully have a fix out tomorrow.

[2016-05-24 14:48] alazier commented on #297
Duplicate of #296

[2016-05-24 14:48] #297 closed

[2016-05-24 14:48] alazier commented on #165
Duplicate of #296

[2016-05-24 14:48] #165 closed

[2016-05-24 14:50] #408 closed

[2016-05-24 17:37] #453 closed

[2016-05-24 18:02] #434 closed

[2016-05-24 20:02] alazier commented on #434
@cancan101 We just released version `0.13.1` which should fix this issue.

[2016-05-24 20:03] alazier commented on #450
Leaving this open until we add `IN` support.

[2016-05-24 20:03] alazier commented on #453
@digitalcatnip We just released version `0.13.1` which should fix this issue. Please let us know how it goes.

[2016-05-26 01:02] Chris-Petty opened #455 "sorted() method call on results object throws error when property given is a property of linked object."
I'm open to ideas on a better title!

#### Goal

sorted results based on property of an object property.

[code]

Where `identity` is an object linked as a property on each `Person` object in `people`, and `name` is a string property in that `Identity`.

#### Expected Results

return results object based on the sort order correctly.

#### Actual Results

Red Screen of Death.
`Property 'identity.na

[2016-05-26 01:09] digitalcatnip commented on #453
@alazier Looks great - working perfectly now, thanks!

[2016-05-26 07:22] appden commented on #455
Thanks for the excellent bug report! This is not currently supported, but is being tracked in issue #437. For now, you can use `Array.prototype.sort` to create an `Array` copy of the results and do this manually. Something like this should work:

[code]

[2016-05-26 07:22] #455 closed

[2016-05-26 08:08] appden commented on #452
@alazier please let me know if you experience these kinds of slowdowns with `npm` v3

[2016-05-26 08:10] appden commented on #430
@ekryski Just checking in to see if you guys came up with an example that demonstrates these issues? Thanks!

[2016-05-26 14:15] joshuapinter commented on #430
@appden Not yet. It's high up on the list, though, it's been nagging at me. :)

[2016-05-26 17:09] alazier commented on #452
Seems to be much improved with npm v3. The turnaround time between code changes and relaunch is still slower than I would like though. Is there anything else we can improve upon?

[2016-05-26 22:43] Chris-Petty commented on #455
Cheers. Ha probably should have searched the issues properly given that this is a duplicate.

[2016-05-27 04:02] developer82 commented on #429
Seems like a great idea!

[2016-05-27 08:13] 15021585823 opened #459 "Missing Realm constructor...."
android Missing Realm constructor - please ensure RealmReact framework is included

[2016-05-27 08:54] 15021585823 commented on #459
my rnpm version is 1.7.0

[2016-05-27 17:56] appden commented on #459
Can you confirm that you ran `rnpm link realm`, and that it modified your gradle files along with your `MainActivity.java` file?

[2016-05-27 20:11] appden opened #461 "Add async tests to test WeakRealmNotifier"
#441 adds this for Node, and should be tested.

[2016-05-29 00:41] rclai opened #463 "How to stop a transaction?"
My app has some parallel tasks running which require that a transaction be stopped if need be. I'd like to check at the very end of the write transaction for a flag indicating whether to trash the transaction.

How would I go about this? Do I just throw an error?

[2016-05-30 03:12] 15021585823 commented on #459
rnpm link realm is ok,but How to modify the gradle files

[2016-05-30 03:17] 15021585823 commented on #459
@appden rnpm link realm is ok,but How to modify the gradle files ,my issue for react native

[2016-05-30 03:52] mada41 commented on #428
+1 for nativescript

[2016-05-30 14:54] wusuopu opened #464 "There is a issue if use both realm-java and realm-js"
In my android app, I use both realm-java and realm-js. After I created a object in reaml-java, then I query it in react-native with realm-js, but I get null.

This is my code:

[code]

[code]

It won't get the result until I reload react-native JS. But I debug in chrome with stetho_realm, I can see the object has been created.

I don't know whether it's a bug, or maybe there is a error in my code.

[2016-05-31 03:22] rrawla commented on #444
@appden @celrak  Would you be so kind and share a sample code , I'm also trying to do something similar, much appreciated!

[2016-05-31 12:56] vidyuthd opened #465 "Unable to debug the app in Chrome, getting error : I Realm : Starting the debugging WebServer, Host: null Port: 8082 (adb logcat error)"
Hi I m unable to debug my app which has realm db, I see a white screen with nothing else, and also when I hit reload on the emulator, I m getting the following error while debugging in chrome console :

[code]

When the debugger is removed, the code runs as its expected. I have checked the other issues raised with similar behaviour [issue-276](https://github.com/realm/realm-js/issues/276). I have

[2016-05-31 14:58] alazier commented on #390
We are tracking this in #206

[2016-05-31 14:58] #390 closed

[2016-05-31 14:59] alazier commented on #444
We wil add some example code

[2016-05-31 15:01] alazier commented on #448
Is this just a problem with flow? What is the issue with eslint?

[2016-05-31 15:12] appden commented on #463
@rclai That's exactly right, if an exception is thrown from inside the transaction, then it will be cancelled, but be warned that the exception will be propagated to the call site of `realm.write()`, so you'll need to catch it there.

[2016-05-31 15:16] appden commented on #463
I'm going to close this for now, but please let us know if you run into any issues.

[2016-05-31 15:16] #463 closed

[2016-05-31 15:26] appden commented on #464
@wusuopu Thanks so much for taking the time to report this issue. I'm working on fixing this bug right now, and it should work in the next release.

As a workaround for right now, I suggest sending a message to the JS when changes have been made, and in the JS, you should close (`realm.close()`) the Realm and re-open it (`realm = new Realm(config)`). That should allow it to access the latest data.

[2016-05-31 16:05] wusuopu commented on #464
@appden Your advice is working for me. But I have find another way to avoid this issue.
When changes have been made in realm-java, I also execute a write operation in realm-js. In this way, I can allow it to access the latest data.

[2016-05-31 17:05] rclai commented on #463
Thanks.

[2016-05-31 22:01] appden commented on #459
When you run `rnpm link realm`, it should modify your `build.gradle` and `settings.gradle` files along with `MainActivity.java`. Did they get updated for you? If not, please ensure you have the latest version of Realm (`0.13.2`) a try running `rnpm link realm` again. If that still does not work, will you be willing to let me take a look at your project?

[2016-06-01 19:24] kushal commented on #448
Great question. I thought I saw a eslint error related to a unknown property, but I might be losing my mind. :) Lets's just focus on Flow for now.

TBH, I'm considering programmatically generating model files and then type definitions could just be part of that....

[2016-06-02 21:21] mlynch commented on #261
This would be awesome and well received in the community for sure. Curious why this wouldn't Just Work given the recent realm-js release?

[2016-06-02 22:46] pjhartin commented on #261
@mlynch I would assume because for phonegap, an interface between the js library to the native hardware of the device would need to be developed to actually bring the benefit of realms speed. But then again, I have no idea.

[2016-06-02 23:00] alazier opened #470 "Allow simple object lookup by primary key"

[2016-06-02 23:00] #470 closed

[2016-06-03 03:06] OrangeBao commented on #445
@appden thanks so much

[2016-06-03 05:00] alazier commented on #261
The main issue with supporting phonegap/cordova at the moment is the need to support android. React Native runs on JavascriptCore on both iOS and android which is how we support both platforms. This is not the case for cordova/phonegap.

[2016-06-03 09:52] zhqchen opened #471 "Native module RealmReactModule tried to override RealmReactModule for module name Realm"
I use react-native 0.26.3 and realm 0.13.2,  but when I finish linking my project and run, I got this problem blow....why???

java.lang.IllegalStateException: Native module RealmReactModule tried to override RealmReactModule for module name Realm. If this was your intention, return true from RealmReactModule#canOverrideExistingModule()
            at com.facebook.react.bridge.NativeModuleRegistry$

[2016-06-06 09:15] appden commented on #471
It looks like the `RealmReactPackage` was somehow included twice. Can you check that it only appears once in the `getPackages()` method inside `MainActivity.java`?

[2016-06-06 09:25] appden commented on #465
@vidyuthd I apologized for taking awhile to respond. The Chrome debug mode works by the JS running in Chrome making synchronous HTTP calls to an embedded web server running in the app. It looks by `net::ERR_EMPTY_RESPONSE` that something is going wrong here. Do you see any errors in the `adb logcat` output after the line that you posted above?

[2016-06-06 12:36] zhqchen commented on #471
Oh...yes, you are right.  RealmReactPackage was included twice, It's my
fault. Thank you very much.

2016-06-06 17:15 GMT+08:00 Scott Kyle <notifications@github.com>:

[2016-06-06 14:17] joshuapinter opened #473 "Realm is already open in another context on this thread."
This message just started appearing. Sometimes refreshing the simulator will fix it but other times I have to quit the simulator and launch it again.

Can you shed some light on what this error is and how to go about preventing it?

Thanks.

![screenshot 2016-06-06 08 14 59](https://cloud.githubusercontent.com/assets/180819/15824968/0ee060c4-2bbf-11e6-9224-1d02c74f9503.png)

[2016-06-06 20:53] #471 closed

[2016-06-07 08:37] sharq1 opened #474 "Distinct / group by support?"
It would be very useful to have.

[2016-06-07 12:24] wookiem commented on #362
I just hit this one as well.  I was trying to use Nuclide because I am having issues setting breakpoints in Chrome (see link below).  So, unfortunately, the suggested workaround of using Chrome won't help me.

 http://stackoverflow.com/questions/37078774/cant-always-set-react-native-breakpoints-in-chrome

[2016-06-07 13:13] bmunkholm commented on #430
.

[2016-06-08 01:14] appden commented on #473
Just checking, are you also accessing the Realm in native code with Realm Cocoa? Either way, I'd also like to know what versions of React Native and Realm you're using. Thanks!

[2016-06-08 01:34] joshuapinter commented on #473
Hey @appden. I'm using Realm.js 0.13.2 on React Native `master`.

The only thing I can think of after looking a little deeper is that I've got a `RealmInit.js` file where I have the schema files and init the Realm database. I then require that in all my pages with:

[code]

Again, this only started happening without any real code changes, just upgrading Realm for 0.12.0 to 0.13.2 and React Native

[2016-06-08 07:07] aditiamahdar commented on #428
+1 for nativescript

[2016-06-08 07:09] irfanfadilah commented on #428
+1 for NativeScript..!!

[2016-06-08 07:10] zainalmustofa commented on #428
+1 for nativescript :+1:

[2016-06-08 07:11] luaysuarna commented on #428
+1 for nativescript

[2016-06-08 07:16] gilangmugnirespaty commented on #428
-1 for fuse

[2016-06-08 07:38] guoguow opened #476 "link"

[2016-06-08 07:40] guoguow opened #477 "rnpm link error on Windows"
E:\BE\rnsisV1>rnpm link realm
rnpm-link info Android module realm is already linked
rnpm-link info iOS module realm is already linked
rnpm-link ERR! It seems something went wrong while linking. Error: spawn UNKNOWN
Please file an issue here: https://github.com/rnpm/rnpm/issues
在安卓模拟器中显示的是missing  realm constructor
开发环境win7的 webstrom，如何解决？

[2016-06-08 10:13] dlupu commented on #473
Hello,

Having the same issue here. The issue appears when refreshing in the Ios Simulator
* realm 0.13.0
* react-native 0.26.0

[2016-06-08 13:41] sarovin commented on #473
me too

- realm@0.13.2
- react-native@0.26.2

[2016-06-08 16:41] EngineerDiab opened #478 "Pushing objects to list with same primary key doesn't update object in list, instead it creates a new object with the same id in ther list"
Pushing objects to list with same primary key doesn't update object in list, instead it creates a new object with the same id in the list.

Object with primary key updates properly but new objects are being pushed into the list with same id instead of updating those in the list

[2016-06-08 16:53] EngineerDiab commented on #473
This happens when debugging JS remotely. Simply refresh your google chrome page that has the debugger window open and refresh simulator and all should work as expected.

[2016-06-08 17:10] joshuapinter commented on #473
@EngineerDiab That doesn't fix it.

[2016-06-08 17:16] EngineerDiab commented on #473
@joshuapinter Try uninstalling the application from the simulator and rebuilding. Also close anything that could be using the .realm file such as realm browser.

[2016-06-08 17:18] joshuapinter commented on #473
@EngineerDiab You're right about the remote JS debugging, though. If I stop Remote JS Debugging the issue no longer occurs.

I'll try the delete and rebuild here in a second.

[2016-06-08 17:20] EngineerDiab commented on #473
@joshuapinter It happens every so often on my end. Usually refreshing the chrome window with the debugger in it and refreshing the app does the trick

[2016-06-08 17:21] joshuapinter commented on #473
@EngineerDiab Deleting the app and reinstalling it on the simulator doesn't fix it.

[2016-06-08 17:22] joshuapinter commented on #473
If it was just once in a while I could live with quitting the simulator and starting it up again but it's happening 80% of the time now and is disruptive to my productivity.

I'd like to figure out _why_ it's happening so we can find out a proper solution.

[2016-06-08 17:25] EngineerDiab commented on #473
@joshuapinter that would be the best option. At the moment, the quickest solution is to cmd/ctrl + r debugger window, then cmd/ctrl + r simulator.

[2016-06-08 20:16] appden commented on #476
Closing as it appears this was mistakenly created before creating #477

[2016-06-08 20:16] #476 closed

[2016-06-08 20:26] appden commented on #477
It appears the `spawn UNKNOWN` error occurs because it attempts to `rnpm link` in iOS support, but you're running on a Windows machine. The `Missing Realm constructor` error means that Android support doesn't appear to have been linked in correctly. Does your `MainActivity.java` include `RealmPackage`?

[2016-06-08 22:20] appden commented on #473
I was able to reproduce this in Chrome debug mode. I will get this fixed. Thanks for reporting this everyone!

[2016-06-08 23:12] joshuapinter commented on #473
Thanks @appden!

[2016-06-09 02:44] EngineerDiab commented on #141
How can deep copies be made in realm? I thought only shallow copies were supported to date?

[2016-06-09 07:13] sharq1 commented on #370
So is there any known solution for this yet?

[2016-06-09 11:02] nativescriptxamarin commented on #428
+1 for nativescript!!!!!

[2016-06-09 16:11] alazier commented on #141
@EngineerDiab at the moment only shallow copies are possible unless you copy data out of the realm. Deep copies is something we are working towards in the longer term though.

[2016-06-09 20:11] davepack commented on #473
While waiting for the bug to be fixed, closing and stopping the app in the simulator (hit cmd+shift+h twice rapidly to bring up the app switcher and swiping the app away), then opening the app again solves the issue for me. I have to do this every time instead of refreshing, but I at least haven't had to restart the simulator or reinstall the app every time I want to refresh.

[2016-06-09 20:15] appden commented on #473
I believe that turn off Chrome debug mode then back on again should also effectively workaround this issue.

[2016-06-10 04:27] vidyuthd commented on #465
Hi @appden  , Nope I don't see any more errors in adb logcat other than this message :  **I Realm : Starting the debugging WebServer, Host: null Port: 8082** .

[2016-06-10 20:11] appden commented on #478
Lists can hold duplicate objects just like arrays (and unlike sets), so that's the behavior I'm guessing that you're seeing. Realm won't let you create two objects with the same primary key. You can check if the object is already in the list with a query like: `list.filtered('id = $0', id)`

[2016-06-10 21:13] nerdcrack opened #482 "Assert from accessing preloaded realm file: group.cpp:286: [realm-core-0.100.2] Assertion failed: top_size == 9 [5790035, 9]"
See attached for the error log.
Realm React Native: 0.13.2
Realm Browser: 0.102.1 (73)
On devices running iOS 9.3.2

The error isn't spurious and is seen persistently during development.  It seems to be related to pre-packaged Realm database that is then copied from Bundle to Documents folder, and later accessed.

It happens in two different setups. Setup 1 is where the pre-packaged realm file was

[2016-06-11 07:08] aksonov opened #483 "Example issues"
1. How to mark items complete? I just see 0 Complete, 0 Incomplete and all added items above...
2. Yellow warning about list view emptySections.

[2016-06-11 17:50] aksonov opened #484 "Listen realm object creation"
Is it possible to listen Realm object creation somehow? Object constructor is not called as well as property setters, realm sets values directly.

[2016-06-12 00:30] guoguow commented on #477
![image](https://cloud.githubusercontent.com/assets/12043538/15988147/ae7bb3e2-3077-11e6-9108-6fa5dd9c45f1.png)
在mainActivity中已经引入realmReactPackage了

[2016-06-12 03:14] saeho opened #485 "Attempting to create (and update if exists) with primary generates error."
According to the doc, I should be able to "realm.create(name, {...}, true)" which should create if document doesn't exist, and update if it exists.

But doing this creates an error.

[2016-06-13 02:45] ArEnSc opened #486 "Initialize Realm in the constructor in the doc example"
https://realm.io/docs/react-native/latest/#examples

[code]

[2016-06-13 06:30] antoxi4 opened #487 "How init realm and use in all files?"
I Just try create file with shemes and import to another. But keep error what shema is missing in realm.
[code]

This case doesnt work. Any Ideas?

[2016-06-13 16:23] appden commented on #487
Would you mind pasting in the error message that you're getting? The code looks good. The `getItem()` method doesn't really do anything yet, but it doesn't look like you should be getting an error.

[2016-06-13 16:28] appden commented on #485
Would you mind pasting in the error that you're getting? Also, it would be helpful to see the schema and full call to `realm.create()`. Thanks!

[2016-06-13 16:34] appden commented on #477
Can you also check that `new RealmReactPackage()` is being returned from the `getPackages()` method? Will you please share which versions of Android and React Native you're using? Are you getting the `Missing Realm constructor` error only in debug mode, or always?

[2016-06-13 17:01] appden commented on #465
Are you using the stock emulator or Genymotion? I suspect there's a routing or firewall issue that's blocking Chrome from being able to make requests to the app running in the emulator. Will you try switching emulators to see if it works there? That would help us figure out the problem you're seeing. Thanks.

[2016-06-13 17:29] saeho commented on #485
Schema:
[code]

Realm write:
[code]

Realm error:
[code]

Note. The error message was copied "as is". The typos are in the actual error message.

[2016-06-13 17:41] alazier commented on #484
Not sure exactly what you are asking. If you have an issue can you post some sample code? It currently isn't possible to get notified when new objects are created.

[2016-06-13 17:44] alazier commented on #478
@EngineerDiab was this your issue? If not can you post some sample code to illustrate your issue?

[2016-06-13 19:18] antoxi4 commented on #487
Thanks for fast answer))And sorry))Yesterday i getting error)But now i cant replay it))

[2016-06-13 19:18] #487 closed

[2016-06-13 21:18] #328 closed

[2016-06-13 21:38] #464 closed

[2016-06-13 22:57] alazier commented on #485
Just fixed that typo. Not sure how you are getting this error though. Doesn't seem possible to get this message unless `false` is passed as the third argument to create.

[2016-06-13 23:36] saeho commented on #485
My primaryKey "id" is a string. In the example its an "int". Do you think this could cause this issue?

[2016-06-13 23:41] saeho commented on #485
I just did console.log(Realm.create) and this is what I got:

[code]

This tells me that the Realm.create() function does not accept a 3rd parameter. This explains everything about this problem I'm facing.

The version I'm using is 0.13.2 which is the latest.

[2016-06-14 00:14] appden commented on #485
@saeho We have no `getRealm` in our codebase. It appears that you're using some kind of wrapper around `Realm` that is exposing its own `create()` method. Can you confirm?