[2016-11-15 00:06] johannesschirrmeister commented on #590
@alazier I hope this is an acceptable place to leave this feedback, but I imagine this is a pretty huge issue for people and I wonder why the fix hasn't been released yet as a new minor version.

In my understanding, this means one can't really run tests with the default react native setup when there is a fix for two months already. I feel bad to complain, but I feel like this would cause a lot of

[2016-11-15 06:41] davebro commented on #633
Same as daninaga.

[2016-11-15 14:22] adisoftbn commented on #432
+1
Might be nice to have it, since you need some persistent data storage.

[2016-11-15 14:44] alebsack opened #656 "Automate publishing of npm module and node-pre-gyp binaries"

[2016-11-15 20:31] alazier commented on #296
This was just launched with v0.15.0

[2016-11-15 20:31] #296 closed

[2016-11-16 08:07] #636 closed

[2016-11-16 08:07] #637 closed

[2016-11-16 08:08] #641 closed

[2016-11-16 08:50] kristiandupont commented on #633
@zhouxin1233 and @davebro are you also building on Windows?

[2016-11-16 10:11] zhouxin1233 commented on #633
Yes,  building on Windows  @kristiandupont

[2016-11-16 10:23] kristiandupont commented on #633
I see. Well, we clearly have an issue with building on Windows. I will look into this.

[2016-11-16 10:26] kristiandupont commented on #309
@johntom and @jaimecorrea are you trying to build the library itself? Or are you building an app using Realm React Native?

[2016-11-16 10:28] kristiandupont commented on #555
Tracking this in #633

[2016-11-16 10:28] #555 closed

[2016-11-16 10:28] kristiandupont commented on #401
This is partially tracked in #633

[2016-11-16 10:28] #401 closed

[2016-11-16 12:22] 2rajpx opened #659 "Install realm 404 error"
Hi guys
Can you solve my problem?
[code]

[2016-11-16 12:37] kristiandupont commented on #659
@2rajpx sadly, we don't support Windows yet. OSX and Linux only at this point.

[2016-11-16 12:58] alazier commented on #639
This is not yet done...

[2016-11-16 14:12] alazier opened #661 "Update README to reflect the status of Node.js"
@kristiandupont not sure how much we want to promote this?

[2016-11-16 14:23] #659 closed

[2016-11-16 16:14] davebro commented on #633
@kristiandupont Yes sir, building on Windows 10.

[2016-11-17 01:24] resistdesign opened #663 "MIT?"
Why not an MIT license?

[2016-11-17 14:15] bmunkholm commented on #663
Why would you prefer that @resistdesign?

[2016-11-17 15:43] imvetri opened #665 "What problem does persisting object as it is withosolve?"
I'm preparing for a presentation on realm as well as a demo. But before that wanted to understand problem it solves in the first place.

 I couldn't find relevant realm stackoverflow channel to post this question. Pls let me know if there is any, i shall continue the diacussion there.

[2016-11-17 15:56] resistdesign commented on #663
Isn't it a lot less restrictive?

[2016-11-17 17:58] alazier commented on #262
This has been launched!

[2016-11-17 17:58] #262 closed

[2016-11-17 18:56] kristiandupont commented on #665
Hi @imvetri, are you talking about Realm from a React Native perspective or from a Node perspective?

[2016-11-17 22:37] purepear opened #669 "Raspberry Pi"
Is it supported and will it be? Pi looks like a great platform for this awesomeness.

P.S. Sorry this is not a real issue but couldn't find where else to ask.

[2016-11-18 03:48] flyingace opened #670 "Still Unable To Use Remote JS Debugging For Android Emulator"
When I try to enable Remote JS Debugging I am encountering "Error: Failed to load 'http://localhost:8082/create_session'".

It seems like this issue has been covered several times (#276, #284) and I'm wondering if there is a fix in the works, or one I haven't yet discovered.

I remain unable to effectively debug in an Android emulator. I have just updated to Realm v0.15.0 and the issue persists. I

[2016-11-18 04:39] imvetri commented on #665
I am talking from Node perspective.
Reference article -[Object database](https://realm.io/news/first-object-database-realm-node-js-server)

[2016-11-18 08:05] teotwaki commented on #663
Disclaimer: don't take legal advice from someone on the internet. I am not a lawyer.

Not really. Even though Apache introduces a few restrictions over trademark usage (that protects Realm), I don't feel like it can be considered as "a lot more restrictive". What restrictions were you thinking of? An example of a much more restrictive licence would be the GPL, or, even more so, the Affero GPL.

In

[2016-11-18 10:20] halallahh opened #671 "[NODEJS] default.realm ask for encryption key."
Why Realm Browser ask me a encryption key to open default.realm?

![realm](https://s14.postimg.org/9ce62ge75/realmss.png)

[2016-11-18 10:59] kristiandupont commented on #669
Hi @purepear at this point we are not offering any official support. If you play around with it enough you should be able to get it working but I am not sure how involved it would be. :-)

[2016-11-18 10:59] #669 closed

[2016-11-18 15:23] #663 closed

[2016-11-18 18:01] resistdesign commented on #663
Here is the aspect I'm concerned with from the MIT License:

[code]

Is all of this possible with your current license?

[2016-11-18 18:11] teotwaki commented on #663
https://www.apache.org/licenses/LICENSE-2.0

[2016-11-18 18:27] resistdesign commented on #663
Can it be included in something else that is sold and/or redistributed by those who receive it?

[2016-11-19 02:07] kitfactory commented on #261
+1

[2016-11-19 05:17] maheshsetti commented on #428
+1 NativeScript
-1 Fuse

[2016-11-19 07:17] marcus433 opened #673 "Node (v8) Environment Checks"
In `lib/index.js` an environment check is performed.
`if (typeof Realm != 'undefined') {
} else if (typeof window != 'undefined') {
} else if (typeof process == 'object' && (('' + process) == '[object process]' || typeof jest == 'object'){}`
Since window is checked before process, applications such as electron (browser/node hybrid) are unable to run Realm. The solution would be to check for proces

[2016-11-19 17:37] brunobraga95 commented on #648
any updates on this matter? I am trying to get it to work on Android, I have tried pretty much every solution I found online. No Success

[2016-11-19 21:01] roblav96 commented on #428
@timanglade it seems like youve got plenty of support from the nativescript community

[2016-11-19 21:52] brunobraga95 commented on #611
@caoer could you explain again your solution with an example code? I did not quite understand.
Thank you

[2016-11-19 22:46] caoer commented on #611
@brunobraga95 just include RealmReact anywhere in the application; I guess there might be something related to lib load process. If you don't include <RealmReact/RealmReact.h> related lib won't get loaded.

[2016-11-19 22:55] brunobraga95 commented on #611
Sorry to ask, I am new with native, but when you say to just include RealmReact, should I just

`import Realm from 'realm'`

Or there is another way to manually do it?

[2016-11-20 16:57] mattisx opened #674 "Errors running npm install on Windows, missing files?"
Trying to use Realm in my React Native app on Windows 10. The output is pasted below. It seems like it's missing the realm pre built stuff for my node version?

Node: 6.9.1
npm: 3.10.8
(React Native: 0.37)

[code]

[2016-11-20 19:01] mattisx commented on #674
Getting the same result with Node 6.4.0 and NPM 3.10.3.

[2016-11-20 22:06] rekibnikufesin opened #676 "Unexpected results updating object React Native/Node.js"
Hi,
I want to update an object in the database that does not have a primary key. Using https://realm.io/docs/react-native/latest/#updating-objects as my reference. I was expecting
`'0': RealmObject { make: 'Chevy', model: 'Impala', miles: 100 } }`
but instead got
`'0': RealmObject { make: 'Chevy', model: 'Impala', miles: 99 }, miles: 100 }`

What step am I missing to update the object to my expect

[2016-11-20 22:26] ruimgoncalves commented on #674
Same here node 6.9.0 and npm 3.10.9

[2016-11-20 22:44] alazier commented on #676
`filtered` returns a `Results` object, not an individual object. Try changing:
```let impala = realm.objects('Car').filtered('model = "Impala"');```
to
```let impala = realm.objects('Car').filtered('model = "Impala"')[0];```

[2016-11-20 22:46] rekibnikufesin commented on #676
Perfect! Thanks!

[2016-11-20 22:46] #676 closed

[2016-11-21 08:42] sky790312 commented on #578
still have same issue at android device ..QQ

[2016-11-21 13:30] radu-tutueanu opened #677 "Two different processes use the same local Realm"
When using Sync, if we have 2 processes that use the same user and and realm they connect to, they would use the same local realm.

@alazier

[2016-11-21 14:28] kristiandupont commented on #665
Ok. So is your question why you would want to persist objects in Node?

[2016-11-21 14:45] kristiandupont commented on #648
@brunobraga95 Are you building on an OSX machine?

[2016-11-21 14:54] kristiandupont commented on #674
We are aware of this problem. However, note that Windows is not supported on Node, and building RN apps on Windows currently seems to be a bit problematic as well. I'm looking into it.

[2016-11-21 14:57] alazier commented on #677
Not sure we can do anything about this at the binding level. Seems like we might need a lockfile used when creating sync-sessions and having the second client fail, or just open the realm without a sync session piggybacking on the first. Thoghts @teotwaki ?

[2016-11-21 15:02] radu-tutueanu commented on #677
I think we can work around this in the cases where the user does not specify the path. We do not have to reuse the same realm when the process restarts.

So I was thinking we can include a hash with a random element in the path.

[2016-11-21 15:06] alazier commented on #677
We do need to reuse the same path - otherwise every time you restart an app you need to re-download the entire realm.

[2016-11-21 15:12] radu-tutueanu commented on #677
I was wondering if that might be acceptable, but in mobile apps that is definitely an issue.

[2016-11-21 15:13] radu-tutueanu commented on #677
Extra piece of info: since the path is relative, this issue is valid only for processes launched in the same folder.

[2016-11-21 15:14] #673 closed

[2016-11-21 15:14] teotwaki commented on #677
I believe there is a flag in the Realm file that indicates whether it's already being synced. Might be worthwhile to throw if that's the case? The problem would come from the fact that a crashed process wouldn't unset that flag in the Realm file, and thus lock the user out of re-using that Realm file (unless we had an override API).

[2016-11-21 15:17] alazier commented on #677
Is there a way in core to prevent multiple processes from opening the same realm? That might suffice.

[2016-11-21 15:23] mattisx commented on #674
@kristiandupont Good to hear that you guys are on it. We haven't had any particular issues while developing RN on the Windows platform, but we are struggling to find a good local storage solution that works both for ios and android, and that supports encryption of data. I must release this project this week though, do you have a tip on what storage solution I could use?

[2016-11-21 15:26] kristiandupont commented on #674
@mattisx I didn't mean to imply that there are general problems, only that we have them (see #633). I might be able to make it work this week but I would hate to be responsible for your project failing, so maybe you should look into other possibilities. I am not capable of advising on that though, sorry.

[2016-11-21 15:38] mattisx commented on #674
@kristiandupont Fair enough. I will probably dust off my old mac if I can't find a solution that looks as good as Realm does. Good luck fixing the issues, cheering for you guys.

[2016-11-21 17:07] teotwaki commented on #677
Yes, typically you'd use `Group` instead of `SharedGroup`. Not really a viable option for sync.

[2016-11-21 19:57] brunobraga95 commented on #8
@alazier Is there a new solution for this? I also want to store a JSON value that will constantly change and contain arrays and such. Is using string still the best method?

[2016-11-21 19:59] alazier commented on #8
@brunobraga95 no new solution as of yet.

[2016-11-21 20:14] radu-tutueanu opened #678 "Setting the path for a sync realm does not work"
A synced realm will always be opened at a path like ./realm-object-server `./realm-object-server/7884aaaa-101e-469e-ad06-0f99e7467eb2/realm%3A%2F%2Flocalhost%3A7800%2FrealmName`

This makes it hard for the cleanup in the ROS, we know where we open realms and make sure to cleanup when needed.

@alazier

[2016-11-21 20:29] brunobraga95 commented on #8
@alazier does that mean everytime I need to do a write/query I will have to retrieve and save the whole data?

[2016-11-21 21:08] kristiandupont commented on #677
Is this a problem that we are seeing or a hypothetical one?

[2016-11-21 21:14] kristiandupont commented on #671
@realm-browser why would this happen? The node binding is using core 2.1.4

[2016-11-22 00:55] larkost commented on #639
The proximate issue seems to have been that `xcpretty` was swallowing legitimate error messages. The visible error message (`Early unexpected exit, operation never finished bootstrapping`) was only coming through because it was put to STDERR. I have a PR in that fixes this by printing the full log (STDERR and STDOUT) in the case the `xcodebuild` fails. So in the Jenkins output you will get both th

[2016-11-22 01:18] alazier commented on #639
@larkost this is a huge improvement. Will fix the outstanding problems and we can open new issues in the future if we continue to have reliability problems.

[2016-11-22 01:18] #639 closed

[2016-11-22 09:39] radu-tutueanu commented on #677
In theory we should not get into that situation in the ROS...so right now it is a hypothetical one.
If a user runs 2 processes from the same folder opening the same synced realms, things might go wrong.

[2016-11-22 13:22] snsekar opened #683 "Can't find variable: Symbol"
Hi,

I am getting **Can't find variable: Symbol constants.js 30**  error in Android 4.2.2
Please help me

[2016-11-22 14:10] LiuC520 commented on #683
me too in Android 6.0,react native 0.37.0,realm 0.15.0

[2016-11-22 14:18] LiuC520 commented on #683
the wrong position: realm/lib/browser/index.js,line 22, ---->  realm/lib/browser/constants.js,line 29 and 30,

].forEach(function(name) {
    keys[name] = Symbol();

[2016-11-22 15:28] alazier opened #684 "Push hotfix with analytics"

[2016-11-22 15:29] alazier opened #685 "Fix chrome support for fine grained"

[2016-11-22 16:25] #623 closed

[2016-11-22 16:25] #618 closed

[2016-11-22 16:27] #557 closed

[2016-11-22 17:00] halallahh commented on #671
I reinstall Realm Browser and now works fine.

[2016-11-22 17:00] #671 closed

[2016-11-22 20:07] jasonfma commented on #617
IntelliJ is now public with react native debugging support.
https://www.jetbrains.com/idea/whatsnew/

[2016-11-22 20:27] jasonfma commented on #617
Linking the VS Debugging issue https://github.com/realm/realm-js/issues/583

[2016-11-23 00:12] rpereira opened #686 "Collection Notifications not working in chrome debug mode"
Hi, @alazier

I've been experimenting with this library and I can't get Collection Notifications to work. Here's what I have so far.

[code]

[code]

[code]
Error:
`this.entries(...).addListener is not a function`. I really don't get this. It seems to be correct, as per the documentation. I'm running the latest version of this lib.

Thanks.

[2016-11-23 01:16] alazier commented on #686
Your code is correct. There is a bug with collection notifications when using chrome debug mode. I just pushed a partial fix for this in `0.15.1-rc`. This should at least avoid the error you encountering although more work will likely need to be done to make collection notifications work correctly in chrome debug mode. Everything should work properly when not using the debugger - if this is not th

[2016-11-23 04:40] davidstoker opened #687 "npm use in build.gradle when using Android Studio"
An error is being thrown by the use of npm in this line of the build.gradle:
`version = "npm --silent run get-version".execute(null, projectDir).text.trim()`

I am using this in a React Native project. I typically build from the command line but attempted to build in Android Studio and the build fails with this error since it can't find the npm executable:

`Cannot run program "npm" (in directory

[2016-11-23 07:42] camslaz opened #688 "Existing primary key value error on a list property types"
I can see there are a number of threads for this issue (or variations of it), but I am yet to find a definitive solution.

Here is a simple example:

I want to have a model that contains a predefined list of Cars (including primary key). A Person can then select any number of the cars (one-to-many). The cars should then be stored in a Car list type property in the Person model.

The issue is that

[2016-11-23 08:05] rpereira commented on #686
I'm not using chrome debug mode @alazier. I've also installed `0.15.1-rc` and the problem persists.

[2016-11-23 08:43] rpereira commented on #686
Turns out I had a bug in my code. I wrote `entries = () =>` instead of `entries()`. Version `0.15.1-rc` fixed this issue.

Thanks for your time. I'm going to close this now.

[2016-11-23 08:43] #686 closed

[2016-11-23 08:58] andrewvmail commented on #521
@sharq1 I was using your script for a while on v0.14.3 tag was working... but the new version doesn't have ./src/node/build-node.sh. Do you know what this step is replaced with now?

Cheers

[2016-11-23 13:30] rpereira opened #690 "Property updating not working inside forEach loop"
Hi @alazier,

Let's suppose we have a list of notifications and eventually we need to mark unseen notifications as seen.

Here's our model:
[code]

Received notifications are shown correctly.
[code]

When trying to mark all unseen notifications as seen, an `undefined is not an object (evaluating e.id)` exception is thrown.

[code]

Updating with primary key throws the same exception.
[code]

On th

[2016-11-23 15:55] alazier commented on #521
@andrewvmail you should no longer need to build node as node support has been included into the npm module directly.

[2016-11-23 16:44] dccarmo commented on #685
Is this the issue that throws an error on `addListener` to a `Collection` when debugging on Chrome?

[2016-11-23 17:22] alazier commented on #685
@dccarmo this is the issue. The error should no longer be thrown using `0.15.1-rc` but the rc doesn't doesn't yet resolve all of the issues. Still working on it.

[2016-11-23 17:24] westcoastavgallery commented on #521
@alazier cool sounds good !

[2016-11-23 21:08] alazier commented on #688
If you pass `true` as the third argument to `create` then it will reuse/update existing objects with the same primary key if they exist, or create them if they don't. This argument should be passed down recursively when creating child objects so if you use this when creating a `Person`, existing cars should then be reused.

[2016-11-24 01:30] alazier opened #691 "Improve error messages for auth failures"
Right now these are quite cryptic and should be actionable.

e.g - supply an invalid protocol or url for the auth server when calling `login`

[2016-11-24 02:59] PierBover commented on #428
https://twitter.com/_blagoev/status/801437111182233600

[2016-11-24 04:17] #688 closed

[2016-11-24 04:32] roblav96 commented on #428
🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮 🌮

[2016-11-24 04:37] scbant commented on #633
"rnpm-link info Android module realm is already linked
rnpm-link info iOS module realm is already linked
rnpm-link ERR! It seems something went wrong while linking. Error: spawn UNKNOWN
Please file an issue here: https://github.com/rnpm/rnpm/issues"

react-native link realm(0.14.3) fail on Win10.

[2016-11-24 05:08] zhouxin1233 opened #692 ""npm install --save realm" reminder me : node-pre-gyp ERR!"
@alazier  node-pre-gyp ERR! Tried to download(404): https://static.realm.io/node-pre-gyp/realm-v0.15.0-node-v48-win32-x64.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for realm@0.15.0 and node@6.9.1 (node-v48 ABI) (falling back to source compile with node-gyp)

[2016-11-24 05:19] faraazc commented on #261
+1 ionic2 support is really wanted in the community. This will open doors for PWA as well.

[2016-11-24 05:29] imvetri commented on #665
No. right now application persist objects by serializing it to a string and eventually into a file.

in case of RealmJs, the developer need not worry about serializing it, instead ReamJS takes care of it.

This is my understanding and it is a very good approach.

I wanted to confirm is there anything else RealmJS could do apart from this?

[2016-11-24 09:19] kenma9123 commented on #692
I have the same problem which forced me to revert to `0.14.1`

[2016-11-24 11:55] kristiandupont commented on #692
This is already tracked in #674 -- we are looking into it.

[2016-11-24 11:55] #692 closed

[2016-11-24 12:04] kristiandupont commented on #677
With the work being done to prevent two sync agents attaching to the same realm, will this issue be resolved @radu-tutueanu?

[2016-11-24 12:06] kristiandupont commented on #665
That's basically what Realm does, correct. In addition to that, you can run queries on your data. And with the SDK's that support sync (which doesn't yet apply to the Node one), you can automatically synchronize data between devices and servers.  Stay tuned for updates on that.

[2016-11-24 12:06] #665 closed

[2016-11-24 12:07] #612 closed

[2016-11-24 12:18] teotwaki commented on #677
@kristiandupont Yeah, although `sync` will throw an exception, so this will have to be handled by OS.

[2016-11-24 12:35] kristiandupont commented on #677
So with that, and realm/realm-object-store#237, this is covered?

[2016-11-24 13:00] radu-tutueanu commented on #677
Yes, that is correct. I could even argue that we should close the issue, as it is tracked in realm-object-store.

[2016-11-24 13:01] #677 closed

[2016-11-24 13:14] jaimecorrea commented on #593
Any update?

[2016-11-24 13:18] kristiandupont commented on #593
Sorry, no updates yet.

[2016-11-24 14:02] ab335 commented on #674
@kristiandupont May one ask if it is on the roadmap ? To have Realm working with node & electron on Windows is high on our radar, and we are wondering if it is something to be expected in future releases...

[2016-11-24 14:31] kristiandupont commented on #674
@ab335 it is. We want it for the C# sdk as well. However, we need to set up infrastructure for building our core first and implement a few things in realm/realm-object-store before it will work. So we can't give a timeline quite yet.

[2016-11-24 16:20] fealebenpae commented on #593
hey @jaimecorrea, if you install the latest rc jest should work: `npm install --save realm@0.15.1-rc`

[2016-11-25 03:37] haiyangjiajian opened #697 "Crash of other process detected, session restart required"
Realm crashes with the following exception message:

Crash of other process detected, session restart required
when attempting to begin a write transaction. Stack trace:

proxiedMethod
    createPrototypeProxy.js:44
eventHandler
    PublisherMethods.js:44
emit
    index.js:116
trigger
    PublisherMethods.js:63
crawlerAuthCompleted
    AuthStore.js:76
eventHandler
    PublisherMethods.js:44
emit

[2016-11-25 15:36] nhachicha commented on #627
Hi @zhanghaj00  do you still have this issue with the latest version we published?

`create_session` allow debugging with Chrome, if you see a `net::ERR_CONNECTION_TIMED_OUT` that could indicate that the IP address set by the Gradle script is wrong (or the packager is not running)

AFAICT `RealmReactPackage` is no longer used in the module

[2016-11-25 16:52] ryutamaki opened #698 "typescript definitions"
Hi, I'm using typescript much.
Would you consider provide official typescript definition files?

typescript is the language commonly used and we can now include definition file like npm dependencies.
cf) https://github.com/moment/moment/blob/develop/package.json#L27

[2016-11-26 07:06] zhouxin1233 commented on #674
@kristiandupont   About how long does it take to solve the problem

[2016-11-28 03:38] haiyangjiajian commented on #697
@kristiandupont

[2016-11-28 09:53] kristiandupont commented on #698
Hi @ryutamaki, that should be fairly easy to add I suppose. I'll look into that some day when I have some spare time. Unfortunately things are a bit hectic at the moment..

[2016-11-28 10:00] stlemon commented on #687
I met the same problem.

[2016-11-28 10:08] kristiandupont commented on #674
@zhouxin1233 the problem of installing for React Native on Windows is almost solved in #689, so that will be included in the next release that will probably be some time early December. As for using Realm on Windows (via Node or .Net), that's harder to say but we're working on it :-)

[2016-11-28 11:52] LiuC520 opened #699 "Can't find variable: Symbol----android"
Can't find variable: Symbol
<unknown>
    constants.js:30
<unknown>
    constants.js:29

android build successfull,but got the wrong position: realm/lib/browser/index.js,line 22, ----> realm/lib/browser/constants.js,line 29 and 30,

].forEach(function(name) {
keys[name] = Symbol();

what can i do ?

[2016-11-28 11:55] kristiandupont commented on #697
@haiyangjiajian With "realm crashes", do you mean that the object server crashes? Or do you have an app (in React Native?) that crashes?

[2016-11-28 12:02] kristiandupont commented on #670
@flyingace we're sorry that this issue remains. We will look into it as soon as we can but a couple of things have higher priority at the moment.

[2016-11-28 12:08] kristiandupont commented on #699
Hi @LiuC520, we're already tracking this issue in #683. Sorry that we don't have a fix yet.

[2016-11-28 12:08] #699 closed

[2016-11-28 13:50] stewart42 commented on #687
I have this issue as well.

[2016-11-28 14:33] kristiandupont opened #700 "Avoid calling process.exit in sigint/exception handling"
See https://github.com/realm/realm-js/pull/675#issuecomment-263275285 -- it shouldn't be reverted but we should figure out how to let users attach custom handlers. Perhaps through the use of `eventEmitter.once`.

[2016-11-28 14:40] sorenvind commented on #700
Just a small remark: It's important that realm-js either does everything internally or provides a handler that downstream users can call in their handlers. I.e. the user should not be required to pass a handler that realm-js then calls.

[2016-11-28 15:13] dccarmo commented on #473
We're still seeing this on 0.15.0:
![pasted image at 2016_11_28 11_40 am](https://cloud.githubusercontent.com/assets/638474/20673432/49251310-b56c-11e6-8e43-f5df4ec74b8c.png)

Reloading the app usually fixes it, so we're not too worried, but it'd be good to know if it's something in our code or not.

[2016-11-28 15:59] alazier commented on #473
@dccarmo this looks like a bug on our side and may only be an issue when using chrome debugging. Will look into it.

[2016-11-28 16:02] dccarmo commented on #687
Having the same thing, I wasn't even aware it was related to Realm.

[2016-11-28 16:31] bmunkholm commented on #697
and which version?

[2016-11-28 18:27] cobarx commented on #687
This would be great to get fixed pretty soon. It makes it hard to work in Android Studio.

[2016-11-29 02:26] haiyangjiajian commented on #697
@kishikawakatsumi   the app(in React Native) crashes . @bmunkholm version 0.14.3 . thanks

[2016-11-29 09:48] radu-tutueanu opened #702 "Add a test for #679"
We need a test for #679

[2016-11-29 09:50] radu-tutueanu opened #703 "Fix and enable the test disabled in #679"
synchronizeChangeswithTwoClientsAndOneUser was disabled in #679

Because of https://github.com/realm/realm-object-store/issues/243, we cannot have one user opening the same realm twice in one process.

@alazier @mrackwitz

[2016-11-29 09:51] #678 closed

[2016-11-29 15:21] Nicomalacho commented on #687
i have the same issue.

[2016-11-29 15:49] Nicomalacho commented on #683
Having the same bug

[2016-11-29 17:14] dccarmo opened #704 "Realm doesn't store anything on first run"
I'm currently working on a React Native project using Realm to persist data. I've run into this strange behaviour where on the first run of the app, Realm doesn't persist anything.

Here's the flow:

1) Run the app for the first time

2) Login (and theoretically persist data with no error)

3) Try to access data (error)

4) Reload app

5) Back to Login view, but this time when I do log in, it save

[2016-11-29 19:06] wochinge opened #705 "Realm returns empty data field"
Hi there,

**Goals**
I try am trying to save an image to realm and then read it.

**Expected results**
The database query should return the ArrayBuffer which represents the data of the image.

**Actual results**
Saving the ArrayBuffer seems to work as `realm.create` returns a valid object. When trying to read the image from the database, it only returns the id field, but the image data is empty.

[2016-11-30 05:03] readytopark commented on #428
+1 nativescript!

[2016-11-30 07:47] ryutamaki commented on #698
Appreciate for that, Kristian!

[2016-11-30 12:26] wochinge commented on #705
I worked around by storing the image with the local file system and just saving the URI with realm.

[2016-11-30 13:00] radu-tutueanu opened #706 "Even if specifying a path, folders are created in the CWD"
Even if you specify a path for a synced realm, a folder for the realm is still create  {{ ./realm-object-server/$hash}}
e.g. {{ ./realm-object-server/505e07b4-97c7-4638-b386-11882ce5b2ad}}

[2016-11-30 13:48] alazier commented on #706
I think this might be an object store issue. @austinzheng ?

[2016-11-30 16:09] tristanbbq opened #709 "Error when running gradle task SendAnalyticsTask: Cannot run program "npm" (in directory)"
Gradle build fails in task SendAnalyticsTask when trying to get version:

https://github.com/realm/realm-js/blob/c8e4dc39c09d5161347a4ef2d2d2f5d7e5564c92/react-native/android/publish_android_template#L71

with error:
[code]

I double checked that the directory specified existed, and ran manually `npm --silent run get-version` in that directory and it worked fine.

[2016-11-30 16:11] tristanbbq commented on #709
Just found out this is a duplicate of https://github.com/realm/realm-js/issues/709 - sorry about that, closing this one

[2016-11-30 16:11] #709 closed

[2016-11-30 16:14] tristanbbq commented on #687
Same here, changing to `/usr/local/bin/npm` does fix the issue temporarily.

[2016-12-01 07:23] venkyc07 commented on #683
am also having the same issue

[2016-12-01 10:30] colinramsay commented on #593
0.15.1-rc still hangs for me.

[2016-12-01 12:11] kristiandupont commented on #690
Hi @rpereira, from a quick glance your code looks solid. I will try and see if I can replicate the problem.

[2016-12-01 12:35] jaisonveneri commented on #674
@kristiandupont I am waiting too. Thanks

[2016-12-01 18:18] nhachicha commented on #670
Hi @flyingace

Is it possible to share your project (even privately at help@realm.io)

The Android app start an Http Server (listening on `8082`) to process commands from Chrome  debugger, ex: `create_realm`, `call_method` etc. (hence the adb port reverse)

I think when your app crashes it doesn't start the Http server correctly...

Can you share the Logcat? do you see the `Starting the debugging

[2016-12-01 18:32] nhachicha commented on #704
Hi @dccarmo
does this happen on Android or iOS or both?
is it possible to share the project so we can try to reproduce? help@realm.io
Cheers

[2016-12-01 18:47] nhachicha commented on #687
Hi @davidstoker

Android Studio doesn't inherit the environment variables you defined in your shell.
we have similar problem in [realm-java](https://github.com/realm/realm-java) where we use `launchctl setenv` to work around the issue.

In your case a quick work around, is to start Android Studio from the shell (ex: on OSX) `~/Applications/Android\ Studio.app/Contents/MacOS/studio&` this will inhe

[2016-12-01 19:05] dccarmo commented on #704
Found the issue, it was something on my code. Sorry about that.

[2016-12-01 19:05] #704 closed

[2016-12-01 22:34] larkost opened #711 "Timeouts waiting for realm-test-names"
In testing `macos_react_tests` both `debug` and `release` have been sporadically failing with the message:
```*** Terminating app due to uncaught exception 'ConditionTimeout', reason: 'Timed out waiting for: realm-test-names'```

This appears to be a legitimate (i.e. not CI-related) problem, probably in the test. An example of it can be found in the runs of either of those in this CI run:

https:/

[2016-12-02 02:05] Nicomalacho commented on #683
any solution, i can't use realm on android. i'm thinking on using some other library.

[2016-12-02 05:51] YouYII commented on #428
+1 Nativescript, please!

[2016-12-02 09:42] rpereira commented on #690
Thanks for your time @kristiandupont.

[2016-12-02 11:20] colinramsay opened #713 "Jest with Node 7+"
I would like to run tests under NodeJS v7.2. As of v7, the node ABI version was switched from 48 to 51. This causes problems with realm.

[code]

[2016-12-02 11:52] #713 closed

[2016-12-02 19:33] lakhman opened #714 "Cannot evaluate module realm : Configuration with name 'default' not found. - Android Studio"
I got the following error in **Android Studio** when using realm in a RN project.

![screen shot 2016-12-02 at 19 00 07](https://cloud.githubusercontent.com/assets/1582690/20847180/db6bd4e2-b8c4-11e6-8681-9465aa72369e.png)

[code]

The full log from the IDE can be found here (I truncated above): http://pastebin.com/71ufJf6Q

I've installed and updated my `ANDROID_NDK` path to: `/Users/username/Lib

[2016-12-02 20:43] vaibhawc commented on #363
This is actually good, but why this name?

[2016-12-03 04:04] kapusta commented on #674
FWIW, I seeing the same install issue on a **raspberry pi** using node6/npm3 (and out of curiosity I also tried node4/npm2 and get the same install error).

[code]
So, afaict, it's not just a Windows install issue (meanwhile, it installs as expected on my Macbook running 10.11.6).

[2016-12-03 06:28] marcus433 opened #715 "Exposing begin_transaction & close_transaction"
By having explicit control over opening and closing transactions it can be possible to run asynchronous code inside a transaction.

e.g. currently the below code would close the transaction before the coroutine completes as it isn't synchronous.
[code]

However, with explicit control of begin / close we could still have synchronous transactions while allowing for asynchronous functions to run.
[co

[2016-12-03 12:24] Arman92 opened #716 "gyp error: No such file or directory: ...\src\node\gyp\realm.sln.gyp.up7p0k"
I've been trying to install realm on my react-native project, but I'm getting this strange error:

OSError: [Errno 2] No such file or directory: 'D:\\reactProject\\node_modules\\realm\\build\\src\\node\\gyp\\realm.sln.gyp.up7p0k.tmp'

Node version: v6.9.1
NPM version: 3.10.8

react-native module version: 0.39.0
react module version: 15.4.1

And I must mention I'm using Windows 10 build version 143

[2016-12-03 13:17] avatsaev commented on #428
Come on realm, nativescript support! Do it for the kids

[2016-12-03 15:54] EricCarrGH commented on #674
Installing Realm 0.14.3 (Node@7.2.0 and React Native 0.39) completed without errors for me on Win10.

npm install --save realm@0.14.3

[2016-12-03 16:53] EricCarrGH commented on #633
To get LINK to work, you need to disable the "postlink" commands, which currently don't seem to support windows.

1. In the project folder, open node_modules\realm\package.json and remove the "postlink" lines within "rnpm". Here is the line I had to remove:

`"postlink": "node_modules/realm/scripts/rnpm-postlink.js"`

NOTE: It looks like the "postlink" command adds libcc and libz frameworks. I was

[2016-12-03 22:43] mattisx commented on #471
I'm getting this upgrading my project to RN 0.39 (npm install react-native@0.39 --save && react-native upgrade) and not doing any other changes.

[2016-12-03 23:31] igoryarovoy commented on #683
MainApplication.java added +

+ import io.realm.react.RealmReactPackage;

@Override
    protected List<ReactPackage> getPackages() {
      return Arrays.<ReactPackage>asList(
          + new RealmReactPackage(),
          new MainReactPackage()
      );
    }

[2016-12-04 02:49] haiyangjiajian commented on #697
any update?

[2016-12-05 10:08] geldarhb commented on #611
Hey all,
We're getting this as a root cause for crashes reported by several users in our Production env. Mainly after CodePush downloads a new update for the app, and is about to restart the app.

Would really appreciate it if someone can shed some light on how can it happen in Production... :/

Thanks!
Guy

[2016-12-05 10:26] MasonIngram commented on #503
Working well for me, Thanks lot

[2016-12-05 12:02] mackram commented on #683
I can confirm for react-native 0.39 and realm 0.15.0 the solution by @igoryarovoy works for me as well. I am not sure if this is an issue from the realm project or more from the rnpm tool.

[2016-12-05 12:14] kristiandupont commented on #363
Because this method is meant as a utility for tests only.

[2016-12-05 12:19] kristiandupont commented on #716
There are problems using Realm RN on Windows (tracked in #674). We are working on a solution and hopefully this will fix your problem as well.

[2016-12-05 12:19] #716 closed

[2016-12-05 19:29] nhachicha commented on #683
Hi @snsekar I think it's a problem with `rnpm` it's updating the `settings.gradle` but not the `MainApplication`, hence the work around from @igoryarovoy

anyway we should start using `react-native link` since `rnpm link` is now supported inside React Native tooling.

[2016-12-05 19:32] nhachicha opened #719 "Switch to `react-native link`"
Update doc & switch to `react-native link` since `rnpm` is now part of  React Native.
https://github.com/realm/realm-js/issues/683

[2016-12-05 20:11] radu-tutueanu opened #720 "Set the root dir used for the object server including the metadata dir"
According to https://github.com/realm/realm-object-store/issues/263#issuecomment-263949456
We need support for setting the root dir used by OS
We currently have a workaround for the ROS to have the server running without being able to set the path.

@alazier

[2016-12-05 20:23] AresDev commented on #261
+1

[2016-12-05 21:11] Nicomalacho commented on #683
@igoryarovoy answer works for me, using RN 0.37 and Realm 0.15

[2016-12-06 04:34] snsekar commented on #683
@nhachicha Thanks for fixing the issue.

[2016-12-06 04:34] #683 closed

[2016-12-06 13:55] Arman92 commented on #491
Any updates on this issue?

I have the same issue, debugging is really a pain, why does realm make so many rpc calls for get_property?
Does it call the get_property "Every Time" I access a prop of an object?

[2016-12-06 15:30] AresDev commented on #428
+1 Nativescript

[2016-12-07 06:31] Arman92 commented on #450
Looking forward to see `IN` condition support in realm js :-)

[2016-12-07 07:00] jianglinchun opened #721 "http 404 - realm-v0.15.0-node-v46-win32-x64.tar.gz"
npm install realm
……
node-pre-gyp info check checked for "E:\react-native\AwesomeProject\node_modules\realm\compiled\node-v46_win32_x64\realm.node" (not found)
node-pre-gyp http GET https://static.realm.io/node-pre-gyp/realm-v0.15.0-node-v46-win32-x64.tar.gz
node-pre-gyp http 404 https://static.realm.io/node-pre-gyp/realm-v0.15.0-node-v46-win32-x64.tar.gz
node-pre-gyp ERR! Tried to download(404):

[2016-12-07 07:34] jianglinchun commented on #721
npm install rnpm -g
rnpm install realm
rnpm-install info Module realm has been successfully installed & linked

solved ....

[2016-12-07 07:34] #721 closed

[2016-12-07 08:16] zhenglingxiao commented on #687
In my macOS Sierra, the following works for me.
1) Reboot mac and press cmd+r when booting up. Then input `csrutil disable` in utilities > terminal, and then reboot mac.
2) After reboot, now I can run `sudo ln -s /usr/local/bin/npm /usr/bin/npm`.
3) Make `csrutil enable` just like step 1.

[2016-12-07 09:26] mrackwitz opened #722 "Publish releases from CI on GitHub"
Including the changelog.

/c @radu-tutueanu @alebsack

[2016-12-07 15:30] tristanbbq commented on #687
@zhenglingxiao what is that `csrutil disable` and `csrutil enable` doing exactly? do you really need those steps to symlink `usr/bin/npm` -> `/usr/local/bin/npm/` ?

[2016-12-07 19:20] gustavorozolin commented on #683
@igoryarovoy Thanks

[2016-12-08 01:34] zhenglingxiao commented on #687
In macOS Sierra，this is [System Integrity Protection](https://developer.apple.com/library/content/documentation/Security/Conceptual/System_Integrity_Protection_Guide/ConfiguringSystemIntegrityProtection/ConfiguringSystemIntegrityProtection.html). If we don't run `csrutil enable`, it will have the error `Operation not permitted` when run `sudo ln -s /usr/local/bin/npm /usr/bin/npm`. I found this in

[2016-12-08 09:00] #719 closed

[2016-12-08 11:34] geldarhb opened #726 "Inserting strings with Emoji to Realm"
Hey all,

We've tried to insert a string with an Emoji into Realm (in React Native) but the DB didn't play well and rejected the insert.

Does anyone know if there's an issue with Emoji in Realm, or am I missing smtng here... ?

Thanks,
Guy

[2016-12-08 16:49] laclance commented on #527
I have the same issue on ios.
react-native: 0.38.0
ios: 10.0
osx 10.11.6

[2016-12-08 16:58] laclance commented on #527
Fixed by closing packager again, closing simulator and running npm cache clean, npm start and react-native run-ios

[2016-12-08 22:11] nhachicha commented on #714
Hi @lakhman
`node_modules/realm/android` shouldn't be empty.

There seems to be different problem here...

Can you please first make sure the installation is correct, we updated recently the [install guide](https://realm.io/docs/react-native/latest/#installation)

Try building first from the command line using `<Project-Name>/react-native run-android`
if this works, then try starting Android studi

[2016-12-09 08:08] AllenHK commented on #473
Same issue on version 0.15.0.

[2016-12-09 08:50] alazier commented on #558
Looks like this is fixed.

[2016-12-09 08:50] #558 closed

[2016-12-09 17:07] dwsc opened #729 "Realm Result has no addListener method"
I'm using Realm 0.15.0 in React Native.

I'm trying to add a listener to a realm result per the documentation [1].  When trying the following:

I receive:

Using the debugger, I can see that a "Results" object is returned with a "Collection" prototype.
Looking at the Results object methods available in the debugger, I do not see "addListener".  It almost looks like the result object matches that o

[2016-12-09 17:39] lakhman commented on #714
Thanks, I found the issue in that ticket #687.

https://github.com/realm/realm-js/issues/687

For now I changed the `npm` path in `node_modules/realm/android/build.gradle` around line 71 from:

[code]

to:
[code]

Android studio now works as expected, not a permanent solution, but works for now.

Thanks!

[2016-12-09 17:39] #714 closed

[2016-12-09 19:59] RyGuyM commented on #473
Upgraded to react-native@0.39.1 and it seemed to resolve the issue for me. Previously I was on react-native@0.36.0 and it was an issue there.

[2016-12-09 23:32] rpereira commented on #690
Hi @kristiandupont. Are there any news on this regard? Thanks.

[2016-12-09 23:47] sambwest opened #730 "Ambiguous error - Error: 'Property' must be of type: string"
Hi,

I have an issue with the error messages. I am getting the following error:

Error: 'Property' must be of type: string

I obviously have a problem with my data but I have no clue _which_ property is being provided the wrong data. Is there anyway the message could be updated to indicate where the problem lies? Or, if I'm just being dumb, point me to where I can see what property is having issue

[2016-12-10 00:32] sambwest commented on #730
After allot of trial and error this error seems to be if the primary key property is missing on a newly created object. So, I guess it'd be good if the error message said that.

[2016-12-10 05:45] laclance opened #731 "Array must contain values for all object properties realm"
I am using realm with react-native and if I have 1 to many relationship but an object is not related to anything i get "Array must contain values for all object properties realm". Is there any way to make a relationship optional?

[2016-12-10 07:45] alazier commented on #731
Use an object to specify an object with keys for each property. You can omit object or other optional properties on creation to set them to null

[2016-12-10 08:23] laclance commented on #731
Sorry Im not following, what object do you speak of? Say for example this is my db:

TodoList.schema = {
  name: 'TodoList',
  properties: {
    todos: {type: 'list', objectType: 'Todo'},
  }
};

Todo.schema = {
  name: 'Todo',
  properties: {
    content: {type: 'string'},
    todoList: {type: 'TodoList')
  }
};

Do you mean i must change todos to {type: 'list', objectType: 'object'}

[2016-12-10 08:27] alazier commented on #731
No that schema is fine. I think the problem you are having is when calling `realm.create`. I suspect you are doing something like `realm.create('TodoList', [])` which would give you the error you are seeing. If this is what you are doing you should change it to `realm.create('TodoList', {})`

[2016-12-10 08:29] alazier commented on #731
Or to be more explicit
[code]

[2016-12-10 08:29] laclance commented on #731
yes exactly. is there no way to handle an empty array?

[2016-12-10 08:30] laclance commented on #731
like when there are no todos but the TodoList still exists

[2016-12-10 08:30] alazier commented on #731
```realm.create('TodoList', { todos: [] });```

[2016-12-10 08:30] laclance commented on #731
but then i get that error

[2016-12-10 08:39] alazier commented on #731
Can you post the code which produces the error?

[2016-12-10 08:43] alazier commented on #729
This method is broken in chrome debugging but should work otherwise. There is a partial fix in version `0.15.1-rc` which adds the method in chrome debug mode although it still does not yet work in call cases. We should hopefully have a full fix for this soon.

[2016-12-10 08:48] laclance commented on #731
const items = [{
  "contributors": [],
  "category": [{
    "title": "Trigonometry",
    "lang": "en_US",
    "template": "default",
    "createdBy": 1,
    "updatedBy": 1,
    "parentCategory": null,
    "context": 1,
    "id": 1,
    "createdAt": newDate("2016-11-01T16:57:18.835Z"),
    "updatedAt": newDate("2016-11-01T16:57:29.101Z")
  }],
  "baseContent": [{
    "content": "Arc Ratio",
    "ty

[2016-12-10 11:06] Arman92 commented on #716
Ok thank you, however I switched to a better OS ;-)

[2016-12-10 21:49] lakhman commented on #730
These types of errors are a pain to debug, we really need better error reporting for this, this ends up taking so much time to track down (removing items one at a time) - a simple message like "Property 'date' must be of type: date" would be so useful and save so much time, even trying to track down the error with the debugger is difficult due to how the objects are structured.

[2016-12-10 23:55] mschipperheyn commented on #473
Still have this on RN 0.39.1

[2016-12-11 08:24] laclance commented on #731
Ah, my apologies, items has to be an object. realm.create('BaseTerm', {items}); works. Thank you for your time.

[2016-12-11 08:58] laclance commented on #731
It does not save the values though. Do I have to iterate the array and add objects 1 at a time?

[2016-12-11 15:48] alazier commented on #730
This is definitely something we want/need to improve. Thanks for the feedback.

[2016-12-11 16:24] alazier commented on #731
Yes exactly. Something like ```items.forEach((item) => realm.create('BaseTerm', item))``` should work.

[2016-12-12 01:56] laclance commented on #731
Cool. Thank you.

On 11 Dec 2016 6:24 PM, "Ari Lazier" <notifications@github.com> wrote:

[2016-12-12 03:10] ax88 opened #733 "Realm Mobile Platform compatible with React Native ?"
Hello,
I saw there is a "The Realm Mobile Platform" section on the documentation of Realm database for Objective-C, Java, Swift and Xamarin, but none for react native.
Is it compatible with the realm mobile platform?
If no is it planned to be compatible with react native ?

[2016-12-12 12:48] kristiandupont commented on #733
Hi @ax88, no, it's not compatible at this point. We are working hard on making it though, so stay tuned!

[2016-12-12 12:48] #733 closed

[2016-12-12 12:50] #731 closed

[2016-12-12 12:54] kristiandupont commented on #726
Hi @geldarhb, there might well be an issue, I don't think we've tried inserting strings with emojis. What do you mean it rejects the insert? Does it throw an exception or is the property simply not updated?

[2016-12-12 12:59] kristiandupont commented on #715
This is an interesting idea. Thank you for the feedback and kind words!

[2016-12-12 13:37] #661 closed

[2016-12-12 14:30] nhachicha commented on #630
Hi @jrichardlai

this happen at the [Object Store level](https://github.com/realm/realm-object-store/blob/e807c4505d4185ec1923622f53a5c762d8f5def7/src/shared_realm.cpp#L458)
This indicate that you're trying to start a write transaction while another one is on going.

This also might be related to your OutOfMemory, if you maintain a long running write transaction...

are you trying to access the Re

[2016-12-12 14:39] #720 closed

[2016-12-12 15:13] radu-tutueanu opened #734 "PR jobs do not clean up the workspace"
After a build is done, the jobs do not clean up the files, so that each PR run takes 1GB on the slaves.

[2016-12-12 17:39] lakhman commented on #507
If I create a bunch of objects, then delete, them, then create them again, it takes twice as much space - it doesn't just reuse the existing space of the old data, I have a realm file which grows up to 2mb when logging users in and out (and saving data).

Code is simply:

[code]

This does a "soft delete" where it removes it from the database (can be viewed in realm browser), but the file size rem

[2016-12-12 20:16] bosung90 commented on #674
Getting this issue also.

[code]

[2016-12-13 01:15] yonkshi commented on #583
We have attempted to follow @MSLaguana's method without success :/ I hope the official fix is coming soon. Unable to debug with Realm is currently the biggest reason why we haven't deployed Realm to our production app yet.

[2016-12-13 04:50] deodeveloper opened #736 "VS code debugging crashes with react native and realm-js, also debug crashes on nuclide"
Actual Behavior

debugging crashes on react native 0.39, vscode 1.7.2, realm 0.15.0
Similar crashing happens on nuclide too.
Expected Behavior

Could able to debug the app with Realm-JS
Software versions

React-Native VS Code extension version: 1.7.2
VSCode version: 1.7.2
OS platform and version: mac os 10.12.1
NodeJS version: 7.2.1
React Native version: 0.39
Outputs (Include if relevant)

[vscode

[2016-12-13 04:51] deodeveloper commented on #736
Please refer to issue [](https://github.com/Microsoft/vscode-react-native/issues/363)

[2016-12-13 12:03] kristiandupont commented on #690
Hi @rpereira, sorry I got caught up but I finally had a chance to look at this.
We should improve the error messages here but basically what happens is that as you are changing the `seen` property on your objects, you are also modifying the `unseen` result -- as soon as you set it to true, it is removed from the collection. `forEach` gets confused by this and in the end will try to give you an obj

[2016-12-13 13:05] alazier commented on #690
Or maybe you could try calling `snapshot` before doing the enumeration? This would prevent the Results from being updated without needed to make a copy https://realm.io/docs/react-native/0.15.0/api/Realm.Results.html#snapshot

[2016-12-13 15:26] alazier commented on #734
What exactly do we want to clean up? @larkost any suggestions on how to cleanup only the successful jobs?

[2016-12-13 15:41] radu-tutueanu commented on #734
We could delete the binaries - both downloaded and created by the build - at the end of the job. If the job fails,  the step that clears the binaries will not have been run.

[2016-12-13 16:54] lakhman commented on #736
I get this same error when trying to use the new webstore react native debugger feature.

https://blog.jetbrains.com/webstorm/2016/11/webstorm-2016-3/

WebStorm 2016.3.2
Build #WS-163.9166.30, built on December 12, 2016
JRE: 1.8.0_112-release-408-b2 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

[2016-12-13 16:55] MSLaguana commented on #583
It seems that react-native has changed over the past few months; now it defines `window` so checking for the existence of `window` no longer indicates chrome. I also saw that realm is checking for `(''+process) == [object process]` and that fails in vscode because we don't expose the process object to the app. If realm requires this kind of access, or we can do something else to assist them, that'

[2016-12-13 17:39] larkost commented on #734
I will take this one, it should be easy to do and I am already working on that JenkinsFile so have it open already.

@alazier: I am pretty sure that @radu-tutueanu is talking about deleting the workspace. In the rare case that it would be useful, this will mean that we will not have access to the contents of the folder after a build for troubleshooting purposes. But in most cases that should be ad

[2016-12-13 19:51] emanuelez opened #739 "The test-runners branch on CI is failing"
See here: https://ci.realm.io/job/realm/job/realm-js/job/PR-738/3/execution/node/162/log/

[2016-12-13 19:53] emanuelez opened #740 "Android tests on CI tend to hang forever"
A timeout would be nice, but we need to figure out the realm issue

[2016-12-13 20:32] maotora opened #741 "Not compatible with javascript template literals filtered(`name = ${name}`)"
Hi,

I was passing my query conditions using Javascript es6 template literals and noticed an error

    'number = "111122"':1:0: Invalid predicate.

and the condition was

[code]

also tried

[code]

The condition would later go to a `realm.objects.filtered(condition)` to make a query which it then brings that error i showed.

It doesn't bring any error when i use normal string concatenation howev

[2016-12-14 03:01] deodeveloper commented on #736
It works only with chrome debugger, not with Webstorm, VS Studio or Nuclide.
**** Please fix it or provide a work around so that we can use an ide to use realm.js

[2016-12-14 06:40] wjyx1lalala commented on #370
when i first use realm in for app, the Simulator show undefined is not an object (evaluating '_NativeModules$Realm.debugHosts').Can i get any solutions to fix this bug ?

[2016-12-14 14:06] kristiandupont commented on #642
Was fixed with #718

[2016-12-14 14:06] #642 closed

[2016-12-16 02:44] jatazoulja commented on #687
I am also having this issue, I am using a non standard RN directory structure (in which my android project is located somewhere else).
I have to comment out that line
`   // version = "npm --silent run get-version".execute(null, projectDir).text.trim()`
in order to make it work... its a hack for me on my local machine but I think I need a permanent solution for this. having a multiple developers w

[2016-12-16 20:04] bdash opened #745 "Reloading a React Native app when using Remote JS Debugging causes leaks"
While looking into #552 I noticed that hitting Cmd-R in the ReactExample app while remote debugging is enabled results in a large part of the native object graph leaking (JavaScript context, open Realms, and any live Realm objects).

To reproduce:

1. Build ReactExample for iOS simulator.
1. Run it under Instruments' Allocations instrument.
1. Enable Remote JS Debugging (Cmd-D, Debug JS Remotely).

[2016-12-17 00:00] bdash commented on #473
Reopening as this won't be addressed until realm-js updates to a version of the object store that includes realm/realm-object-store#297.

[2016-12-17 16:24] lakhman commented on #507
I figured out the unexpected growth of file size, it was related to:

https://github.com/realm/realm-browser-osx/issues/71

Using the Realm Browser in OSX (while developing), causes the file size to grow and not reuse the existing space. Once you close the Realm Browser Instance, the file size works as expected.

+1 for a `compact` method, would be nice to reclaim users disk space as required.

[2016-12-19 02:33] jamesaspence opened #746 "Auto increment id?"
Hello,

I'm liking Realm so far! I was wondering if auto incremented primary keys or ids would be supported something / is supported already. I didn't see anything in the docs about it.

[2016-12-19 06:33] gozur commented on #261
+1

[2016-12-19 11:11] nhachicha commented on #687
Hi @jatazoulja
Have you tried one of the suggestions above?
This is an issue on AndroidStudio not using the environment variables

I don't see how this could be an issue for CI, I believe you're not using AndroidStudio within your CI machine to build your project, and you're rather building from command line which should find `npm` if the PATH is configured correctly

Cheers,

[2016-12-19 21:46] rpereira commented on #690
Thanks @kishikawakatsumi. My workaround solution was the same. However, I'm looking for something more performant. @alazier, can you please elaborate how to use the `snapshot`?

Thanks for your time guys.

[2016-12-20 00:50] kaurag007ph commented on #428
+1 Nativescript

[2016-12-20 01:22] bradmartin commented on #428
Ping for NativeScript (I like to be different) and no one cares about github 'voting' it's totally ignored on most public repos so I'm here to annoy all of you.

[2016-12-20 03:40] markrookie opened #749 "Stuck: Building on xcode, it stopped at React | Running 2 of 2 custom shell scripts."

[2016-12-20 03:41] markrookie commented on #749
![2016-12-20 11 40 42](https://cloud.githubusercontent.com/assets/2282832/21337558/288b972a-c6a9-11e6-85f8-db5c0405246d.jpg)

[2016-12-20 04:10] markrookie commented on #749
xcode 8.1 macOS Sierra 10.12

[2016-12-20 09:04] valentinstoychev commented on #428
I think @blagoev already started an implementation of Realm for NativeScript https://twitter.com/_blagoev/status/801437111182233600

[2016-12-20 14:30] kristiandupont opened #750 "Optimize package size"
Currently, the entire package adds a significant overhead. This is an issue when using it in, say, Electron where it will add to the final binary size.
Perhaps the postinstall script could remove anything not related to the platform you are developing for.

[2016-12-20 14:49] alazier commented on #750
We should also just make sure we aren't downloading anything unnecessary. Could also consider doing a pre-gyp like setup for rn if the android or ios binaries are the culprit. Lastly we could see if we can slim down the dependent binaries. Might be a lot in there we don't actually need.

[2016-12-20 15:28] #529 closed

[2016-12-20 15:57] kristiandupont opened #751 "Sync for React Native"

[2016-12-20 16:09] kristiandupont commented on #746
Hi James,

sorry, we do not support it currently. You can see a discussion of the same request for Java here: https://github.com/realm/realm-java/issues/469

[2016-12-20 16:09] #746 closed

[2016-12-20 16:10] kristiandupont commented on #749
Hi Mark, could you give us a few more details? Are you sure this is related to Realm?

[2016-12-20 16:10] #674 closed

[2016-12-20 16:12] kristiandupont opened #752 "Add test harness for Electron"

[2016-12-20 16:17] #627 closed

[2016-12-20 16:17] #630 closed

[2016-12-20 16:18] #593 closed

[2016-12-20 16:21] bourgois commented on #674
Great! Thanks @kristiandupont Can you push a new release with those changes?

[2016-12-20 16:22] mattisx commented on #674
Good job guys!

[2016-12-20 17:02] croth53 commented on #261
+1 IONIC2 support is wanted

[2016-12-20 17:44] EricCarrGH commented on #674
Awesome job!

[2016-12-20 18:56] #631 closed

[2016-12-20 19:01] #740 closed

[2016-12-20 22:54] mschipperheyn commented on #473
Any eta on that?

[2016-12-21 01:06] nhachicha opened #753 "UglifyJS causing RealmTests#testSchema to fail"
Unit Test failling: https://ci.realm.io/job/realm/job/realm-js/job/master/21/testReport/junit/(root)/RealmTests/testSchema/

[2016-12-21 03:19] chuhongliang opened #754 "Build on Xcode it failed at RealmJs.build"
the error details

/bin/sh -c /Users/fzt/Library/Developer/Xcode/DerivedData/test-dzesprjyobkfwghgrsswhfzjslgg/Build/Intermediates/RealmJS.build/Debug-iphonesimulator/RealmJS.build/Script-F63FF2C51C12462600B3B8E0.sh

Downloading dependency: core 2.1.4
Using cached core from TMPDIR
core/librealm-ios.a: Lzma library error: Corrupted input data
tar: Error exit delayed from previous errors.
Command /b

[2016-12-21 04:59] trungtamai94 commented on #674
Nice

[2016-12-21 05:17] chrischjh opened #756 "would it consume too much memory to sort large data set?"
Hi there, is the sorting being done purely in memory? for example if I need to sort 5 million data, would it consume too much memory? thanks

[2016-12-21 05:17] Turkules commented on #674
any idea when the changes will be available via npm

[2016-12-21 15:50] kristiandupont commented on #752
Possibly using [Spectron](http://electron.atom.io/spectron/)

[2016-12-21 16:02] krasnokojiy commented on #261
+1

[2016-12-21 17:59] sivamamidi-REISys commented on #428
+1 Nativescript

[2016-12-21 18:14] larkost opened #759 "Run packager directly"
In the `start_packager` method in `test.sh` we are starting up `node` implicitly using `node_modules/react-native/packager/packager.sh`. That (two line) script in turn is the one to start `node`. Because of that indirection we had to eventually end the packager by using `pkill node`, which is a bit of using a cannon to kill a fly.  Rather if we started `node` in the same way as that script (by cal

[2016-12-21 19:43] dccarmo opened #760 "Suggestion: add a "toPlainObject" call to Realm.Object"
I've been struggling a lot with this. Also, it's not the first time it's been asked (https://github.com/realm/realm-js/issues/323).

In the meantime, any suggestion on how to do this, specially when you have a complex schema (specifically, deep copy a `Realm.Object` to a plain `Object`)?

I tried using lodash's `cloneDeep` (https://lodash.com/docs/4.17.2#cloneDeep), but strangely it only works whe

[2016-12-22 05:35] havishhuda commented on #370
+1

[2016-12-22 06:20] vishadpatel22 opened #761 "symbol() varible not find constant.js file when const Realm = require('realm'); in android react native"

[2016-12-22 12:20] #566 closed

[2016-12-22 12:20] #583 closed

[2016-12-22 12:20] #648 closed

[2016-12-22 12:20] #736 closed

[2016-12-22 13:44] vishadpatel22 commented on #370
undefined is not an object (evaluating '_NativeModules$Realm.debugHosts')

[2016-12-22 13:45] vishadpatel22 commented on #370
in Android Reactnative

[2016-12-22 13:45] vishadpatel22 commented on #370
how to solved this error

[2016-12-22 15:02] vishadpatel22 opened #762 "undefined is not an object (evaluating '_NativeModules$Realm.debugHosts') react-native android"
undefined is not an object (evaluating '_NativeModules$Realm.debugHosts')

[2016-12-22 18:47] larkost commented on #734
As part of #712 (112cda2e) we put in a few lines that will delete the directory on the way out for all successful builds. That should take care of this problem, while leaving broken builds around for a while.

However, I should note that other builds in the same PR, that happen to run on that same client machine will empty out that directory as the first thing that they do, so even broken builds d

[2016-12-22 18:47] #734 closed

[2016-12-23 15:40] reformer commented on #741
I'm facing same issue Invalid predicate.
My filter criteria is
`filterCriteria = Ids.map((value) => 'Id = ' + "'"+value+"'").join(' OR ')`
output of above code is "Id = 'MD00078'"
My calling stuff `databaseHelper.retriveValueInTable(databaseHelper.getRealmObject(), "MedRecords", filterCriteria, null);`

My Method fetching data from database
[code]

My Schema
name: 'MedRecords',
  properties:{

[2016-12-23 20:50] alazier commented on #741
@kristiandupont what is the actual issue here? Or have we not figured it out yet?

[2016-12-25 01:29] deodeveloper commented on #736
How do I apply this fix in my current project since there is release tag yet?

[2016-12-25 10:28] khuongdv commented on #428
+1 for NativeScript :)

[2016-12-25 19:34] konrin commented on #261
+1

[2016-12-26 06:27] imjared commented on #762
OP didn't really provide much info in terms of a submission but I can follow up here and say I'm seeing similar behavior in the iOS simulator.

I'm using
`"react-native": "^0.38.1"`
`"realm": "^0.15.0"`

My sim is an iPhone 6 running iOS 9.1.

Upon loading the sim, here's the output I get:
<img src="https://cloud.githubusercontent.com/assets/525011/21476782/d548dca2-cb09-11e6-8f54-9349a66a6316.png

[2016-12-28 03:39] MiyazakiKaito commented on #762
I'm also having this issue.

[2016-12-28 08:30] kristiandupont commented on #762
Are you getting this while using chrome debugging? I think it might be solved by #742 which will be in the next release that will be out this week.

[2016-12-28 08:33] kristiandupont commented on #761
This is solved with #742 which is included in the next release that will be out this week.

[2016-12-28 08:33] #761 closed

[2016-12-28 08:37] kristiandupont commented on #754
Hi @chuhongliang, could you provide a bit more info? It sounds like you downloaded a corrupted file, did you try running this multiple times?

[2016-12-28 09:25] kristiandupont commented on #741
Hi @maotora, are you seeing this on iOS, Android or in the chrome debugger? I am unable to reproduce the problem using your code, so there must be something else going on.

[2016-12-28 11:43] vaibhawc opened #763 "Ability to observe individual objects"
I am big fan of both realm and react native and realm has made me love writing apps even more.
If only there was a thing like a listener on individual object, it would have been great.
Also, should I expect anything like this in near future?
I have seen this discussion on some other thread too, but in a nested object, it doesn't send out notifications on modifying an object of a list child.
There

[2016-12-28 12:35] kristiandupont commented on #763
Yes, this feature exists in some of the other SDK's and will be added React Native as well but we can't give a timeline at this point.
Thank you for the kind words!

[2016-12-28 15:05] imjared commented on #762
Can verify that this doesn't seem to be an issue if DevTools aren't enabled.

[2016-12-28 15:46] rafaz182 commented on #674
Worked for me @EricCarrGH. Thank You.

[2016-12-28 16:16] #753 closed

[2016-12-28 16:28] #473 closed

[2016-12-28 16:45] #552 closed

[2016-12-29 02:21] cobarx commented on #687
is it possible to manually set the path for that command like you would on the shell? Something like:
`PATH=$PATH:/usr/local/bin npm --silent run get-version".execute(null, projectDir).text.trim()`

Gradle won't accept this particular syntax, but there may be some variation that does work properly.

While the workarounds do handle this, nearly every Realm developer who's targeting iOS with React N

[2016-12-29 05:04] vishadpatel22 commented on #762
create new project and install realm.

On 28-Dec-2016 8:35 pm, "Jared" <notifications@github.com> wrote:

[2016-12-29 07:40] jhorman opened #764 "Release mode build throwing error"
An app I have been building with Realm, which works great in unit tests, and in Debug mode, seems to throw an exception in Release mode.

[code]

I have found various references to `Object type not found in schema` online, but

1. I don't have a data type called "e". Is this the result of RN minifying the code?
2. I made sure I don't have any code attempting to create > 1 Realm db. __That said, ac

[2016-12-29 12:24] martigasco commented on #343
@astigsen I'm thinking your suggested solution would take a heavy penalty at creation time, especially in mass insertion scenarios (like syncing with a remote API), wouldn't it?

The fastest way I can think of inserting a big tree of data is precisely inserting a parsed JSON tree into the parent model, which has "list" references to its children, and many levels down the same way. This would be on

[2016-12-29 12:51] kristiandupont commented on #343
@martigasco did you see the example above? I agree that it's suboptimal but I wouldn't quite call it a nightmare. There is some added performance overhead but it *is* just a matter of setting a reference so I doubt it will be too costly.
We will implement proper backlinks as the other SDK's have, there are just a number of other things that have priority as well so we can't quite say when that wil

[2016-12-29 13:32] nhachicha commented on #764
Hi @jhorman
RN uses `UglifyJS` to obfuscate the code for the `release` target. You might be hitting the same issue  we had for some unit tests, when used in `release` mode. https://github.com/realm/realm-js/pull/755

Maybe you can override the configuration of your locally installed `UglifyJS` (I believe under `node_modules/react-native/packager/react-packager/src/JSTransformer/worker/minify.js`)

[2016-12-29 14:04] chancethecoder opened #765 "Error importing realm-js to Electron"
I tried import realm-js in my electron app.

at first, i installed and used `require('realm')` in my javascript code.

but when i started app, error occured like this

[code]

as you see, log's path is
/home/youngkyun/git/multipad/node_modules/realm/compiled/**electron-v1.4_linux_x64**/realm.node

and installed path what i found was
/home/youngkyun/git/multipad/node_modules/realm/compiled/**node-v

[2016-12-29 14:19] nhachicha commented on #756
Hi @chrischjh
the [C++ core](https://github.com/realm/realm-core) uses `std::sort` on B+tree, so roughly speaking it should require ~ **100MB**, that's:

- 16 bytes per entry for sorting = 80MB
- The returned `TableView` stores row numbers as 32-bit integers, meaning that the memory requirements of storing 5 million entries in a TableView are about the same as storing 5 million 32-bit integers, =

[2016-12-29 18:31] rafaelcorreiapoli opened #766 "Realm is not defined (React-native + Debug JS Remotely)"
Hi!
When I turn on the Debug JS Remotely feature on my Android emulator, I get this error

![err](https://cloud.githubusercontent.com/assets/12840136/21550837/2557e0bc-cde4-11e6-8487-6c4dd44814cd.png)

When the Debug JS Remotely is Off, I get no errors

Android: API 17
React-native: 0.39.2
Realm: 0.15.2

[2016-12-29 23:19] jhorman commented on #764
If I turn off mangle, in the minify.js file, our app starts working again, but that can't be the solution right?

[2016-12-29 23:25] astigsen commented on #343
There is no need to call `write` just to get the reference. You can obtain that outside the write transaction. You only need that when modifying data.

[2016-12-29 23:39] jhorman commented on #764
It turned out btw that setting the realm `path` didn't help. I had confused myself.

[2016-12-30 00:51] chrischjh commented on #756
Hey thanks for the answer, then I think it would not consume the memory of my Node.js process, right? That's exactly what I'm looking for. By the way, I'm using levelUp as my local cache, however the sorting has to be done in node.js process memory, also asked the same question to PouchDB, looks all levelDown db clients work on the similar way.

[2016-12-30 00:51] martigasco commented on #343
@kristiandupont I agree it's just some added performance overhead in most "lightweight" cases, but I'm facing an scenario where the data insertion i'm performing is taking 21 seconds so far, without setting this backlink references (only the "children" list-kind), so I'm thinking it could only increase this long time, considering we're talking about a mobile platform 😅

@astigsen I understand, but

[2016-12-30 01:29] astigsen commented on #756
With Realm all the query processing (including sorting) happens off-heap (it is entirely managed by the C++ part of the library), so it does not affect node's internal memory use (and is for the same reason not something node has to spend time garbage collecting afterwards).

[2016-12-30 01:42] martigasco commented on #343
I just tried to apply this procedure to the first two levels of children in my tree (the top level model has 6 items, the second level 34, and the third 466). Just by doing a 3-level nested loop through each one of these in order to assign a reference to the parent (from the upper iteration), the insert time went from 21 seconds to more than 12 minutes (I say more than 12 because I stopped it befo

[2016-12-30 01:51] bdash commented on #343
@martigasco, in my opinion it would be best to file a new issue that includes more detail about what you're doing, including the relevant portion of the code you're using. That will avoid muddying up this issue which is tracking exposing Realm's backlinks in the JS SDK. It's likely that we can help you improve your approach if we can see the code you're using.

[2016-12-30 02:13] martigasco opened #767 "Slow performance when inserting a tree of JSON data and backlinking"
As suggested by a contributor in another issue #343  (about backlinking), I'm opening this due to a really slow performance when trying to store a reference to the parent in every children of a 3-level deep JSON tree data, apart from embedding each level of children to the parent.

For the sake of the issue, I prepared an example set of 3 levels of data (Continent,Country,City), with my correspond

[2016-12-30 02:14] martigasco commented on #343
@bdash Just did it, thanks! #767

[2016-12-30 04:25] #756 closed

[2016-12-30 08:26] kristiandupont commented on #764
@jhorman we made a new release yesterday. Could you try updating and see if it helps?

[2016-12-30 08:29] jamesaspence commented on #683
Fixed for me too. Can we get this in the official documentation somewhere? I spent a few hours scratching my head on this issue.

[2016-12-30 08:34] kristiandupont commented on #683
I'm sorry this issue is such a pain. The new release hopefully helps slightly and I will update the documentation until we can get rid of it completely.

[2016-12-30 08:59] #684 closed

[2016-12-30 08:59] kristiandupont commented on #766
Thank you for the report. Did this error start after updating realm, or was this a new project?

[2016-12-30 09:01] kristiandupont commented on #765
Hi @chancethecoder, just to be clear, we are not officially supporting Electron yet. People have managed to make it work but we haven't put in the work to offer proper support yet. I will look into this when I have some time.

[2016-12-30 09:03] kristiandupont commented on #767
Thank you for reporting this. I will look into it when I have some time.

[2016-12-30 09:20] stel commented on #765
@chancethecoder try to use [electron-rebuild](https://github.com/electron/electron-rebuild) to rebuild Realm against the currently installed Electron version.
[code]

[2016-12-30 11:08] tofrookie opened #768 "react native how to get realm data size"
i need show the app cache size and data size
how to get realm data size

[2016-12-30 11:11] nhachicha commented on #764
@jhorman the goal of turning off the mangle is to check in your code which object/function was causing the issue in release mode.

Example:
let's say we have a Realm schema defined like this

[code]
if you use the function name as a key in a Map, the name will be changed to `a` for example
which might be a problem for you, if you've set up the value elsewhere using the string `"PersonObject"`

[2016-12-30 12:07] raymondctc commented on #766
I encounter the same problem. It seems that starting from 0.39.2, the `navigator.product` object in `getContext()` is always returning `ReactNative` no matter whether it is doing remote debug. It's returning something like `Gecko` in version 0.38.1

Therefore, my temporary solution is that replacing the line in the switch statement:
`realmConstructor = Realm` with `realmConstructor = require('./br

[2016-12-30 13:06] kristiandupont commented on #766
Argh, just as I updated the constructor detection. Thanks for the info, I will fix this!

[2016-12-30 13:42] csotiriou commented on #766
+ 1. Same thing happens on iOS, after updating to RN 0.39

[2016-12-30 13:49] nhachicha commented on #768
There is no public API exposed for this, but you can use the [file path](https://realm.io/docs/react-native/0.15.0/api/Realm.html#path) where your Realm is stored to calculate the file size

[2016-12-30 16:52] csotiriou commented on #766
It's worth noting that when I downgraded my RN version to 0.38 it worked when debugging in Chrome. However, when debugging with Visual Studio Code, the same thing happens, even with React Native 0.38.

[2016-12-30 18:37] jhorman commented on #764
Yes, you were right. I did have a few places doing `type.constructor.name` to get the type name back. I switched to `type.schema.name` and things started working again. Might be worth a note in your docs. (maybe there already is one somewhere).

[2016-12-30 18:37] #764 closed

[2016-12-31 04:01] chancethecoder commented on #765
@kristiandupont thank you!

[2016-12-31 09:17] reformer commented on #741
@maotora  I think the issue is datatype. Realm "number" column has int datatype and you passing number in string datatype. That's why it shows you invalid predicate. Your query string is like "number = 11111" not like "number = "11111" ".

[2016-12-31 15:09] SrihariThalla commented on #751
@kristiandupont Do you have any ETA?

[2016-12-31 16:13] barvian commented on #713
How was this resolved?

[2016-12-31 16:16] colinramsay commented on #713
We use `yarn`. When you run `yarn add jest`, it installs the correct compiled version of `realm.node` however if you use `yarn install` then it doesn't install it. This was causing problems on our CI setup and so we solved it by simply running `yarn add realm` after `yarn install`. I didn't have time to track down whether this was an issue with yarn or with realm.

[2016-12-31 16:36] barvian commented on #713
Thanks a lot for the feedback! I'm also using yarn but I can't seem to get it to install realm.node. You didn't have to run a script or anything?

[2016-12-31 16:37] colinramsay commented on #713
Other than the dance I describe above, no. I think it's somehow handled by npm/yarn:

https://github.com/realm/realm-js/blob/master/package.json#L84

[2016-12-31 16:45] barvian commented on #713
Which versions of realm, react-native, jest, and yarn are you using, if you don't mind me asking?

[2016-12-31 16:48] colinramsay commented on #713
I can't remember what we were using at the time but we're currently on:

- Node 4.5
- Jest 17.0.3
- Realm 0.15.1-rc
- Yarn 0.16.1

[2016-12-31 17:07] barvian commented on #713
Whoa, that version of Realm seemed to work form me. Thanks a lot for the help!

[2016-12-31 17:54] maotora commented on #741
Thank you guys,

and am really sorry for the delay as i have been working with something else and not sure how to get instant github notifications.

I commited the project to buyer but i'm pretty sure @reformer 's solution should work.
I have an issue with doing `int` instead of `Number` on types (in realm and mongoose).

@kristiandupont i'm using Android with just the command line.

I will fire u

[2016-12-31 17:54] #741 closed

[2016-12-31 17:57] maotora commented on #741
I just checked the docs the datatype is `int` and not `Number` @reformer .

considering this example on realm docs.

[code]

[2017-01-01 14:07] AzSiAz opened #769 "Deactivate mixpanel"
Hello,

I just tried to run my nodejs project without internet and it crashed right away since realm can't make a request to api.mixpanel.com.

Is there a way to handle the error so it doesn't crash ? or remove analytic if there is no internet connection ?

[code]

[2017-01-01 15:06] fealebenpae commented on #769
Hey @AzSiAz,

To disable analytics you can export the `REALM_DISABLE_ANALYTICS` environment variable in your shell.

[2017-01-02 02:28] #768 closed

[2017-01-02 09:09] kristiandupont commented on #751
@SrihariThalla not at this point, sorry. But it's what I am working on :-)

[2017-01-02 09:48] AzSiAz commented on #769
Oh perfect, I will be using this until next release with #770, thank you :)

[2017-01-02 12:56] reformer commented on #741
@maotora  Yes my friend glad to  you found where was the issue lies. I also many times stuck in Realm issues. But it got resolved after seen documentation carefully. Of course Realm has to be mature much more like other databases.

[2017-01-02 14:25] IvanAR commented on #261
+1

[2017-01-02 19:06] dalinaum opened #772 "TypeError: hex is not a function"
I used Realm Node.js and encounted the following error:

[code]

If I comment out `nodeRequire('./submit-analytics')('Run');` in `node_modules/realm/lib/index.js`, it works.

[2017-01-02 19:29] dalinaum commented on #772
I found the following issue:
https://github.com/nodejs/node/issues/8053

If I uses v4.4.7, I get the above error. If I uses v4.5.0, it works.

[2017-01-03 01:51] hangwoo commented on #766
unlink and uninstall realm 0.15.2. then install 0.15.0 realm and react native link so disappear this bug

[2017-01-03 05:31] SrihariThalla commented on #751
Thanks for the heads up @kristiandupont I'll be waiting for it ;)

[2017-01-03 09:35] kristiandupont commented on #772
@dalinaum thank you for reporting this, that's a bug.

[2017-01-03 10:28] csotiriou opened #773 "More understandable error reporting while doing realm.write()"
When trying to write objects with nested lists, I frequently end up getting this:

[code]

React native points to the write transaction, and realm does not tell you the name of the property which has the error. It only implies that "some property, somewhere" should be a string, and it isn't. This causes many problems when consuming a big web service, with hundreds of objects inside lists returned,

[2017-01-03 10:36] kristiandupont commented on #773
You are absolutely right, this is something that needs to be improved.

[2017-01-03 11:57] csotiriou commented on #773
Thanks for confirming.

Sorry if that sounds pressing but do you have an estimate on when do you intend to take a look at it?

 It's getting really difficult to debug in my case, I am writing hundreds of unit tests to test very simple things. Any suggestions on workarounds (even ugly) would be great in my case. I suspect this is the case with many other devs.

[2017-01-03 14:16] #769 closed

[2017-01-03 14:25] #772 closed

[2017-01-03 14:40] #754 closed

[2017-01-03 18:19] colinramsay commented on #713
We're now using a different approach, forcing the install of the binaries.

[code]

[2017-01-04 04:38] llearn commented on #261
+1

[2017-01-04 07:59] kristiandupont commented on #713
It appears that this issue is resolved in Yarn: https://github.com/yarnpkg/yarn/pull/800 -- maybe try upgrading it?

[2017-01-04 21:44] CreatineDevelopment commented on #571
I've confirmed this issue happening as well on a real device.  My error message reads

`Realm is not defined`

All references to Realm except for the const declaration have been removed and the error still appears.  I have re-run `react-native link realm` as well and still no luck.

[2017-01-04 22:01] romanlv commented on #280
This converts it to array of plain objects `result.map(x => Object.assign({}, x))`

[2017-01-05 08:36] kristiandupont commented on #571
@CreatineDevelopment Which version of Realm is this? 0.15.2?

[2017-01-05 09:41] sorenvind opened #779 "Client Permission API: Expose schema and accessor for management-Realms"
To be feature compatible with other SDKs.

[2017-01-05 10:11] kristiandupont commented on #491
@invibot, sorry, not at this point. I will keep this issue updated when I make some progress.

[2017-01-05 12:52] antoxi4 opened #782 "Support for React Native v0.40.0"
When you can fix import ReactBridge?)

[2017-01-05 14:04] kristiandupont commented on #782
Turns out that RN 0.40.0 has major breaking changes that we need to address: https://github.com/facebook/react-native/releases/tag/v0.40.0

[2017-01-05 15:42] antoxi4 commented on #782
@kristiandupont  This is what i mean)

[2017-01-05 15:43] CreatineDevelopment commented on #571
Yes.  I just installed it yesterday.  Double checked package.json and I'm on 0.15.2

[2017-01-05 19:31] jhorman commented on #578
+1

[2017-01-05 19:32] schnecle commented on #578
+1

[2017-01-05 19:45] jhorman commented on #578
We are experiencing this same issue in the iOS simulator. Remote debugging just breaks for us.

[2017-01-05 21:54] evollu commented on #687
I'm using nvm, so npm is even buried in user folder

[2017-01-06 07:42] hybrisCole commented on #370
I have this very basic realm mock

[code]

[code]

That .default is bc I'm on typescript heh, you should take it away if you go with es*

[2017-01-06 09:06] kristiandupont commented on #571
Got it, I will investigate this then. Thank you!

[2017-01-06 09:28] SongYunSeop commented on #765
@chancethecoder did you fixed this error with `electron-rebuild`?

[2017-01-06 09:37] kristiandupont commented on #765
Note that we've seen [this](https://github.com/electron/electron-rebuild/issues/137) problem appear with the newest version of `electron-rebuild`. It seems that they have fixed it so it shouldn't be a problem for long.

[2017-01-06 09:39] SongYunSeop commented on #765
@kristiandupont Thank you!

[2017-01-06 11:10] mrackwitz commented on #706
This is tracked by https://github.com/realm/realm-object-server/issues/669.

[2017-01-06 13:30] #766 closed

[2017-01-06 13:35] mrackwitz opened #783 "No way to access the deleted objects on collection notifications"
The docs state this isn't possible yet, but support for this would be coming soon. I haven't found any issue tracking this though.

[code]

[2017-01-06 18:22] austinzheng commented on #706
Has this bug been fixed, @alazier? If there's any outstanding work you need from me let me know.

[2017-01-06 19:37] matheusrocha89 commented on #428
+1 for NativeScript!!! Come on guys 😄

![image](https://media.giphy.com/media/3o7TKMYyfgiDoIaVwI/giphy.gif)

[2017-01-06 20:23] sir-gon commented on #455
IMHO this feature MUST be come in the core. filtered() can use complex sub-objects properties.

[2017-01-06 20:42] bdash commented on #437
Support for this was added to core in realm/realm-core#1969 / realm/realm-core#2011.

[2017-01-07 09:54] csotiriou commented on #782
I can confirm that React Native 0.40 does not work with Ream.

It crashes with this message when trying to import Realm for the first time.

<img width="377" alt="screen shot 2017-01-07 at 11 53 16" src="https://cloud.githubusercontent.com/assets/1228484/21740888/f02a4338-d4cf-11e6-9d2f-7696046042cf.png">

[2017-01-09 10:45] csotiriou commented on #773
@kristiandupont do you have an estimation on that? We are building a fairly complex application and it's getting increasingly difficult to debug (hours per wrong field), even with excruciating unit testing.

[2017-01-09 14:05] kristiandupont commented on #773
I'm looking into it now. It will be at least improved in the next release, if not completely fixed.
I'm closing this issue as it's a duplicate of #730.

[2017-01-09 14:05] #773 closed

[2017-01-09 15:15] dondragon2 commented on #428
+1 for NativeScript

[2017-01-09 17:16] mytototo opened #786 "Cannot sync with Node.js"
Hi all,

This is my first project with Realm so this is probably a dumb question.
Even following the docs I can't make the sync works between a Node.js app and a Realm platform.

Here is the code:

[code]

Issues :
- `Realm.Sync` does not exist so I can not associate a user to the sync.
- Probably because of this, nothing happens on the platform.

What am I doing wrong?

Thanks for your help.

[2017-01-09 21:40] avatsaev commented on #428
how much more votes do we need for this?

[2017-01-10 10:36] kristiandupont opened #787 "More descriptive error message when creating objects"
If setting a property to the wrong type when creating an object, you still get the vague error message `'Property' must be of type: string` etc.

[2017-01-10 11:43] alazier commented on #783
Do you need this in the context of the global notifier? If so it exposes the old Realm in which case you should be able to access deleted objects from the old realm.

[2017-01-10 11:52] afortaleza commented on #428
+1 for Nativescript

[2017-01-10 12:41] #730 closed

[2017-01-10 13:01] stefalda commented on #428
+1

[2017-01-10 14:43] fealebenpae commented on #782
Hey @antoxi4,

I tried to reproduce this using the latest version of Realm on npmjs.com, using the following:
[code]

<details>
  <summary>Here's how my package.json looks like</summary>

[code]
</details>
<br />
Please let me know what's the error message that you get and how I can reproduce it for easier debugging.

[2017-01-10 16:03] kristiandupont commented on #640
This is being tracked in #643

[2017-01-10 16:03] #640 closed

[2017-01-10 16:06] kristiandupont commented on #571
Closing this as it's a duplicate of #562

[2017-01-10 16:06] #571 closed

[2017-01-10 16:11] #739 closed

[2017-01-10 16:14] #634 closed

[2017-01-10 16:19] #266 closed

[2017-01-10 16:20] kristiandupont commented on #206
Tracked with #491

[2017-01-10 16:20] #206 closed

[2017-01-10 16:23] kristiandupont opened #788 "Encryption key persistence on Android"

[2017-01-10 17:11] mrackwitz commented on #783
Initially I thought to use plain collection notifications on a synced Realm, but I'm now relying on the global listener instead as a workaround. This is good for now and not blocking me in any way.

[2017-01-10 20:55] csotiriou opened #789 "Realm 0.15.3 w/ Jest unable to find module realm.node"
Hello,
After upgrading  to realm 0.15.3, my Jest unit tests stopped working. I have tried both npm and Yarn to install my node modules, but still, it seems that realm.node cannot be found. My app in React Native runs correctly.

It seems similar to this: #713 but I have also tried npm to no avail.

[code]

EDIT: It was working just fine with both yarn and npm in Realm 0.15.0
EDIT2:

After some tim

[2017-01-10 21:14] csotiriou commented on #789
After some time debugging, I think I have a good idea why this happens.

I believe the problem lies in the script "install.js"

It seems that in order to install realm.node, the script checks if it is in a react-native environment, by trying to require the react-native package.

The thing is, that when running unit-tests, we are not inside a react-native environment, we are in the node environment

[2017-01-10 22:05] ianpward commented on #783
Found the answer `var oldRealm = changeEvent.oldRealm.objects("RealmObject"); let deletedTask = oldRealm[index]; `

We should expose this in our docs @bigfish24

[2017-01-11 09:31] kristiandupont commented on #789
@csotiriou, you are right, that is exactly what happens: as we detect you are developing for React Native, we don't install the Node binaries. The reason is partly to cut down installation time but mostly because we don't yet support Node on Windows, so installing Realm on a Windows machine (even if developing for React Native) would fail.

But this is obviously not the way to go as we still need

[2017-01-11 09:37] kristiandupont commented on #786
Hi @mytototo, which operating system are you developing on? We released a version yesterday that includes a fix for sync on MacOs, perhaps upgrading will help you?

[2017-01-11 09:42] kristiandupont commented on #762
Are you still experiencing this problem?

[2017-01-11 10:12] #789 closed

[2017-01-11 10:15] csotiriou commented on #789
Thanks for the quick resolution!

Until realm-js 0.15.4 is released, I will use the workaround.

[2017-01-11 12:44] #553 closed

[2017-01-11 12:47] mschipperheyn commented on #782
I recommend adding some release notes clearly stating this upgrade moment as it will be breaking depending on the RN version in use.

[2017-01-11 12:52] kristiandupont opened #791 "Add missing API's for chrome debugging"
A number of API's, especially related to sync, are missing from the chrome debugging proxies.

[2017-01-11 12:52] kristiandupont opened #792 "Add Session api"

[2017-01-11 12:52] kristiandupont opened #793 "Add error handling api"

[2017-01-11 12:56] kristiandupont commented on #751
Splitting this up into sub tasks and closing.

[2017-01-11 12:56] #751 closed

[2017-01-11 12:57] kristiandupont opened #794 "Progress notification"

[2017-01-11 12:57] fealebenpae commented on #782
Hey @mschipperheyn,

We didn't make any changes to Realm for React Native 0.40 (breaking or otherwise), but merely upgraded our test and example apps to the latest React Native to verify everything works.

As far as I can tell, the same Realm package should work on 0.40 and earlier.

[2017-01-11 12:57] kristiandupont opened #795 "Client reset"

[2017-01-11 14:05] kristiandupont commented on #789
@csotiriou the new version is out. Try and see if that helps.

[2017-01-11 14:10] csotiriou commented on #789
@kristiandupont It works. thank you.

[2017-01-11 18:40] mytototo commented on #786
@kristiandupont The connection with `Realm.Sync` looks like to work fine. No code error at this level. I have one question though. Why the connection close just right after I start it?

The error is:

[code]

Here is the code:

[code]

I read from the docs sometimes the path looks like `realm://localhost:9080/~/whatEver` but I don't know why. This path needs to be relative to a specific user id, a

[2017-01-11 20:31] berkayk commented on #687
Having the same problem on windows as well.

[2017-01-12 06:09] antoxi4 commented on #782
@fealebenpae Thanks. I'll try to install again)

[2017-01-12 14:09] mrackwitz commented on #779
I updated the title of this issue to differentiate this from exposing the permission-Realm based API in the client SDK.

[2017-01-12 16:39] mrackwitz opened #798 "Enumerating on collections via forEach should be implicitly safe to mutations"
When you are in a write transaction and enumerate on a collection, this should implicitly take place on a snapshot, so that it is safe to making mutations while enumerating. Otherwise objects would be removed when they aren't matching the query anymore. e.g.
[code]
Given this query would contain two instances, this would fail in the second call of the enumeration block, because the first instance

[2017-01-13 05:03] keyyuki opened #799 "error when install Realm on window"
Hi all,

I have try to install Realm on window for new project react-native, but it fall

step I did:

create new react-native project
 `react-native init TestRealm`
`cd TestRealm`

And then install Realm

`npm install --save realm`

And link

`react-native link realm`

Then run

`react-native run-android`

but it have error

[code]

I did step by step like [https://realm.io/docs/react-native/late

[2017-01-13 09:44] kristiandupont commented on #799
Hi @keyyuki did you install the Android dependencies like it says in https://facebook.github.io/react-native/docs/getting-started.html ?

[2017-01-13 09:58] keyyuki commented on #799
Hi @kristiandupont,

I did. In fact, I tried to install new react-native without realm, it work. Any project I have done work too, but when I try to install realm to a new react-native project, it still error.
Now I'm trying to install new react-native project with realm version 0.14.3 as suggest of @EricCarrGH in https://github.com/realm/realm-js/issues/674 and will report you as soon as possibal

[2017-01-13 10:06] keyyuki commented on #799
Hi @kristiandupont,

It work, when I change version realm to 0.14.3, it work.

There is content of package.json file, hope it help you.
[code]
"node": v6.9.2
"npm": v3.10.9

[2017-01-13 10:12] kristiandupont commented on #799
Ok, I'll investigate this when I get some time. Thank you for reporting.

[2017-01-13 10:13] #762 closed

[2017-01-14 07:40] g6ling commented on #141
In my case, I think realm as apiServer.
If I send data, I receive the response, and I update my store with the response.

So I made `ImmutableRealm` function.

[code]

and I made API functions.

[code]

Use this like API.

If you redux-saga, you can use like below.
[code]

[2017-01-16 12:39] alazier commented on #791
What else is there other than sync and the change notification apis? Everything that has unit tests should be working

[2017-01-16 13:01] #782 closed

[2017-01-16 13:02] kristiandupont commented on #791
Yes, that's it. :-)

[2017-01-17 00:18] jamieathans commented on #428
+1 for Nativescript

[2017-01-17 12:05] kristiandupont commented on #786
Hi @mytototo, yes, the url needs to include the path of a realm. The tilde character allows you to have specific realms for each user.

[2017-01-17 14:13] mytototo commented on #786
Ok I see. Thanks for the explanation.

[2017-01-17 14:13] #786 closed

[2017-01-17 15:43] mrackwitz opened #802 "Client Permission API: Expose schema and accessor for permission-Realms"

[2017-01-18 15:45] fealebenpae opened #804 "Marshal sync callbacks onto the JS thread"
Without this we get assertion failures in React Native on iOS and segmentation faults in JavaScriptCore on Android because the JavaScript state is not meant to be accessed on other threads.

[2017-01-20 01:06] istx25 commented on #309
Hi @johntom! Are you still in need of assistance with this issue?

[2017-01-20 04:47] astigsen opened #805 "Support all Predicate features in queries"
* [ ] LIKE
* [ ] Collection Aggregates: `.@count`, `.@sum`, `.@avg`, `.@min`, `.@.max`.
* [ ] Subqueries
* [ ] Keypath substitution `%K`

[2017-01-20 05:06] astigsen opened #806 "Guide does not mention how to do substitutions in queries"
Can you use `%@` as in NSPredicate or `$x`? It is not mentioned anywhere in the guide, but the API reference says `$x` is used for placeholders.

We should update the guide, and check if the NSPredicate syntax is supported as well?

[2017-01-20 05:10] astigsen opened #807 "Support aggregates on collections"
`.sum()`, `.min()`, `.max()`, `.avg()` should be supported on any collection.

[2017-01-20 05:12] astigsen opened #808 "Bulk update of collections"
Like you can do in Cocoa with KVC, you should be able to call something like `.update(property, value)` on any collection to do bulk updates.

[2017-01-20 07:10] estevan086 commented on #428
1+ for Nativescript, please.

[2017-01-20 11:54] avatsaev commented on #428
i think they are too busy with mobile platform to even consider nativescript right now, too bad because NS is gaining in traction fast because of Angular

[2017-01-20 15:43] reformer opened #810 "Issue while inserting data Xcode 8.2, iOS 10, React Native 0.32 Realm"
Hi Team,

I'm developing an application in which i create iOS app using React Native. My system specification is,

**XCode 8.2, iOS 10, iPad Air Simulator/iPhone 6/7 S plus simulator, React Native 0.34.1, Realm 0.14.3 and Objective-C language.**

Using above application i can able to create table, insert, update and delete data.

Now i insert  Graph library https://github.com/danielgindi/Charts. i

[2017-01-20 21:18] charlespeters commented on #762
@kristiandupont i'm experiencing this on iOS

[2017-01-21 20:31] joshuapinter opened #811 "[React Native] Can't connect to Realm Server."
Hey Guys,

I've been trying to get the preview release of `0.15.5-rmp-beta.1` working with my React Native application but running into some trouble.

Would be great to get some help on the issue and could be beneficial to others trying to get it to work.

Here are my steps so far:

1. Downloaded the Realm Object Server for Mac.

2. Launched `start-object-server.command`.

3. Created an admin user

[2017-01-22 15:18] fealebenpae commented on #811
Hey @joshuapinter,

Do you get any error messages in the app's log output, or in the server's output?

[2017-01-22 15:23] joshuapinter commented on #811
@fealebenpae When logging in it returns null for `error` and an empty hash `{}` for `user`. The "realm" gets created, which can be seen in the Realm dashboard. And then my execution stops.

[2017-01-22 15:34] fealebenpae commented on #811
`Realm.Sync.User`'s properties are defined on its prototype, so the object itself won't have any enumerable own properties. Try printing `user.server` or `user.identity` and those ought to return meaningful values.

What do you mean by "execution stops" - does the app hang or crash?

[2017-01-22 16:11] joshuapinter commented on #811
Going to try again right now and get back to you right away. Would love to get this working today.

[2017-01-22 16:26] joshuapinter commented on #811
Okay, so you're right. `user.server` and `user.identity` both return good strings:

[code]

Trying to isolate the error right now.

[2017-01-22 16:31] joshuapinter commented on #811
Hmm... I think I know what the current problem might be.

Before adding the sync I was just doing:

[code]

But now because the realm DB is initiated in a callback, I'm returning an undefined.

Is there a way that I can create the Realm and then add the sync on after initiating it? Or is there a better way that you can think of doing this?

Thanks!

[2017-01-22 16:40] fealebenpae commented on #811
I'm afraid you'd need to make your access to the realm asynchronous. I would export a promise that logs in and returns the realm.

Right now we don't have the ability to create a realm without a user and then, at a later time, upgrade it with a sync config.

[2017-01-22 16:41] joshuapinter commented on #811
Okay, let me try that and let you know how it goes. Thanks for your help with this.

[2017-01-22 17:20] joshuapinter commented on #811
Hey @fealebenpae. I can't seem to get any of the records to come back. After connecting to my realm with the same above code, I try and get some records but nothing:

[code]

However, I used the Realm Browser to connect to the Realm and add a couple of rows there.

Because of this I'm getting an error like this:
`_Realm2.default.objects is not a function. (In '_Realm2.default.objects('Relationship

[2017-01-22 17:43] fealebenpae commented on #811
The realm will most likely be empty immediately after you create it until it has synchronized with the server. I suggest adding a change listener:
[code]

How do you export the realm?
Here is how I would do it:
[code]
and to use it:
[code]

[2017-01-22 19:18] segphault commented on #750
I'd appreciate anything you can do to get the package size down. Of the 135MB used on disk, about 100MB appear to be the OS X binaries with debugging information (e.g. `node-sync-1.0.0-BETA-6.3/osx/librealm-node-dbg.a` is 63MB by itself) and then there's another 20MB  or so for Android React Native binaries.

[2017-01-22 20:28] joshuapinter commented on #811
Okay, I setup my Realm file and include just how you have it. Now I'm running into this error:

[code]

Using the same URL, username and password that is working fine on my Realm Browser.

Any ideas?

[2017-01-22 21:09] fealebenpae commented on #811
I suggest deleting your app from the device/simulator - it seems that you're trying to log in to the same server using a different address string (e.g. `localhost` vs `127.0.0.1`).

The logged-in users are persisted to disk by default and are automatically loaded so that you don't have to hit the auth server all the time. You can find all the user objects, even the ones created in another launch o

[2017-01-23 11:37] #804 closed

[2017-01-23 11:46] kristiandupont commented on #810
Yeah, this is a known issue. Using two versions of Realm in the same executable will cause linking conflicts. We might be able to fix this, but we can't give a timeline for it at this point.

[2017-01-24 03:27] ajonno opened #812 "Issue installing/recognising realm-0.15.5-rmp-beta.1.tgz"
This is for a React Native project. I think I'm just not importing this .tgz correctly. Here's what I've done:

1. react-native init realmrn
2. downloaded and placed the file "realm-0.15.5-rmp-beta.1.tgz" into root dir of the react native app
![image](https://cloud.githubusercontent.com/assets/3005269/22233021/34fc764c-e241-11e6-9a72-4f219cf1303b.png)

3. npm install --save ./realm-0.15.5-rmp-beta

[2017-01-24 09:19] kristiandupont commented on #812
It looks like you are doing everything right. Could you try accessing simply the `Realm` class to see if you successfully imported anything or if it is in fact lacking the `Sync` bits?

[2017-01-24 19:11] charlespeters opened #813 "Clean State vs Migration"
Messing around with how to structure schemas. How would I just start over versus writing migrations?

[2017-01-24 23:30] ajonno commented on #812
thanks Kristian. i did try that should have included for you. there dont seem to be any sync objects. if i inspect the Realm instance -- var realm = new Realm() ;-- it looks like the screenshot here. I also took a look inside the node_modules folder,  /realm/package.json looks like it IS the correct beta version. Maybe I'll send you the RN project (minus the node modules) and you can take a look?

[2017-01-25 00:07] fealebenpae opened #814 "Add option to delete realms if a migration is needed"
Like in [Swift](https://realm.io/docs/swift/2.3.0/api/Classes/Realm/Configuration.html#/s:vVC10RealmSwift5Realm13Configuration28deleteRealmIfMigrationNeededSb).

[2017-01-25 09:16] kristiandupont commented on #813
Hi @charlespeters, is your app in production? If you would rather manually transform your data, you can always open another realm with a specific path and manually copy over every object.

[2017-01-25 09:18] kristiandupont commented on #812
Please be aware that Chrome debugging doesn't work with sync yet, it's one of the issues I am currently working on (#791). So for the moment, you will have to rely on a more manual approach of writing info in, say, a text label etc.

[2017-01-25 09:24] ajonno commented on #812
ok no worries. ill do that now and let you know. also emailed you a link to the test project i'm using.

[2017-01-25 09:44] ajonno commented on #812
just tested - if i new up a Realm class like so:
[code]

works fine, i can write to it, read from it etc.

is this what you wanted me to check?

[2017-01-25 09:56] kristiandupont commented on #812
Yes. So apparently, you have a version of realm without sync. I don't understand how that could happen. I will take a look at the project you sent me and try to see if I can spot a problem with it.

[2017-01-25 10:16] ajonno commented on #812
thanks Kristian, appreciate your help.

[2017-01-25 11:53] camslaz commented on #762
@kristiandupont I'm also getting this error.

`"react-native": "0.40.0",`
`"realm": "^0.15.0",`

[2017-01-26 01:02] ajonno commented on #812
hey Kristian - just checking in to see if you had a chance to look at this today ?

[2017-01-26 01:59] astigsen opened #815 "Manual transactions"
Add methods for manual transactions: `startTransaction()`, `commitTransaction()` and `rollbackTransaction()`.

These methods are needed when you have transactions that spans multiple callbacks that you cannot wrap in a single closure.

[2017-01-26 02:01] ajonno opened #816 "How to use/package a Realm file in React Native ?"
I've got a realm file "cleverbean.realm" that I want to reference in React Native. My first thought was I could just place the file ("cleverbean.realm") into its own directory in the React Native project, and then reference that when instantiating the realm.

I copied a realm file into a path off root.  ie
[code]
![image](https://cloud.githubusercontent.com/assets/3005269/22316592/53f4e8f4-e3c2-11

[2017-01-26 07:51] gkTim commented on #261
Any news on this?

[2017-01-26 10:25] akashdmahali commented on #437
@bdash  is this support available for the react native too ?? I started with realm for react native 3-4 days back but sorting based on nested keys doesnt seem to work

[2017-01-26 11:09] mongris commented on #736
@kristiandupont #742 is not fix the issue
App always crash when start from VS Code debugging

I am using:
"react-native": "0.40.0",
"realm": "^0.15.4",

[2017-01-26 11:33] kristiandupont commented on #812
Hi @ajonno, so it seems to work on my machine. Your code contained a masked out ip address -- are you running the object server on a different machine? Try tunning it locally. Also, does the server output say anything when you try to connect?

[2017-01-26 13:21] sharq1 opened #817 "Getting `Unknown execution context` on Android."
I discovered that `navigator.product` equals `ReactNative`, but `typeof Realm` is `undefined`, thus following error.

Tried different emulators and different API's (23 and 25).

At the same time it works in the same app on iOS.

[code]

[2017-01-26 13:24] kristiandupont commented on #817
Hi @sharq1 did you remember to run `react-native link realm` on your project?

[2017-01-26 13:29] sharq1 commented on #817
@kristiandupont I did not, indeed.
Thank you very much and sorry for taking your time.

[2017-01-26 13:29] #817 closed

[2017-01-26 13:30] kristiandupont commented on #817
Well, you still pointed out to me that you were getting the wrong error message so I need to fix that, thanks!

[2017-01-26 14:44] stel opened #818 "Electron and sandboxing on macOS"
Bindings should handle if it's build for using in Electron app and use the system API to get writable directories for any internal data in sandbox.

Right now `realm-object-server` is created in the working directory that crashes the app.

[2017-01-26 21:14] bdash commented on #437
This issue tracks exposing core's support to React Native and Node.

[2017-01-26 22:38] ajonno commented on #812
thanks for doing that Kristian. i'm trying to connect to an AWS instance. Realm browser works fine so i know the backend is functioning/up. ill try running against a local Mac instance as you've said and see how it goes.  in terms of server output when trying to connect - i didn't look closely there so shall also do that today. ill let you know how it all goes once done.

[2017-01-27 11:08] ajonno commented on #816
this was entirely my mistake - i had some Realm instantiation logic in componentWillMount() without realising, and that was the cause of the problem. moved to constructor all fine now.

[2017-01-27 11:08] #816 closed

[2017-01-28 14:46] amanthegreatone opened #819 "ObjectSchema error"
Hi,

I am trying to initialize a new realm and getting this ObjectSchema error.

this is my realm.js

[code]

here is my Country.js file with schema definition

[code]

This is the error i get
![screen shot 2017-01-28 at 8 11 47 pm](https://cloud.githubusercontent.com/assets/24354452/22397375/19d35662-e596-11e6-817d-71c35ee4666d.png)

Is something wrong with the export import const Schema as when

[2017-01-28 15:46] antoxi4 opened #820 "Not work case insensitive"
I try filter items with this query

`items.filtered('actualName CONTAINS[c] $0', 'паркова');`

and items result is zero. but if i change query string for
`items.filtered('actualName CONTAINS[c] $0', 'Паркова');`
 then result is right.

RN 0.38
IOS, ANDROID.
Realm 0.15.4

[2017-01-28 15:55] antoxi4 opened #821 "Not work not equal"
This query not work

`items.filtered('storeTypes.id != $0', 'intrist-west_Y000000003');`

result is all entries in table.

RN 0.38
Realm 0.15.4
IOS, Android

[2017-01-28 17:08] fealebenpae commented on #819
You need to either `import { Country } from './schemas/Country'`, or `export default = { ... }`.

[2017-01-28 17:22] amanthegreatone commented on #819
aaah. noob mistake! thanks :)

[2017-01-28 17:22] #819 closed

[2017-01-29 21:02] hisham opened #822 "Realm requires gradle 2.2?"
I'm getting this error when building android app with realm. So there is no support for gradle version 2.14.1 currently?

`Error:Gradle version 2.2 is required. Current version is 2.14.1. If using the gradle wrapper, try editing the distributionUrl in <path>gradle-wrapper.properties to gradle-2.2-all.zip.
`

[2017-01-30 06:23] amanthegreatone commented on #408
getting the same error for android but not for ios.

[2017-01-30 13:03] kristiandupont opened #823 "Walkthrough docs for sync"

[2017-01-30 18:12] amanthegreatone commented on #141
trying to wrap my head around this, came across this repo https://github.com/bosung90/RNStorage.

Can someone strip down to fundamentals and explain how the data flows and how data updates are handled (redux store and realm).

Lets say we get data into realm from a server API. What should be sent from realm to the redux store? Should we send Realm Results or strip down the values and populate norm

[2017-01-31 13:07] fealebenpae commented on #138
As of https://github.com/facebook/react-native/commit/07553d0f1c61173edad804c4e7a93c902719e05b React Native requires iOS 8.0.

[2017-01-31 13:07] #138 closed

[2017-01-31 13:07] #791 closed

[2017-01-31 14:17] Dragas commented on #799
I did run into same issue, but after commenting out the `version` in `..\node_modules\realm\android\build.gradle` another error popped up.
[code]

[2017-01-31 16:51] istx25 commented on #821
Hi @antoxi4. Thanks for reaching out. We'll be in touch with a solution or follow-up questions soon. :-)

[2017-01-31 16:52] istx25 commented on #820
Hi @antoxi4. Thanks for reaching out. We're working through a bit of backlog and will be in touch with a solution or follow-up questions soon. Cheers! :)

[2017-01-31 16:52] istx25 commented on #816
Happy to hear you resolved the issue, @ajonno. Let us know if you need help with anything else.

[2017-01-31 16:53] istx25 commented on #822
Hi @hisham. Thanks for reaching out. We're working through a bit of backlog but someone will follow-up with you with more information soon. Cheers!

[2017-01-31 18:56] prashantrishu opened #826 "Windows 7 realm installation issue"
![image](https://cloud.githubusercontent.com/assets/8378405/22479612/65f6bb92-e7bc-11e6-9247-628118a04cd0.png)
I'm getting the error after npm install on windows 7 (node 7.0) . I'm running the terminal in Admin mode.
 I was able to link it successfully.
![image](https://cloud.githubusercontent.com/assets/8378405/22479722/d1de57b6-e7bc-11e6-819b-8e46ae5bb9f5.png)

When I run-android, I'm getting th

[2017-01-31 21:56] #779 closed

[2017-02-01 12:42] juhasuni commented on #432
+1
Any news about this topic? React Native Windows is definitely missing Realm.

[2017-02-01 13:01] radu-tutueanu opened #827 "Crash when receiving "Access token expired (202)""
The node-server-sdk crashes when receiving a "Access token expired (202)" message from the server.

Stacktrace
[code]

[2017-02-01 13:19] #792 closed

[2017-02-01 13:19] #793 closed

[2017-02-01 15:31] radu-tutueanu commented on #827
cc @kristiandupont @fealebenpae

[2017-02-01 15:51] istx25 commented on #762
Please provide a project that reproduces this issue and/or any additional information that you can provide that'd put us in the right direction to resolve it.

[2017-02-01 15:52] istx25 commented on #762
And please file a new issue (referencing this one) once you do.

[2017-02-01 16:16] gritzko opened #829 "isValid for js objects"
In js, we have no way of knowing whether the inner Realm object is still alive.
That may generate plenty of intermittent bugs if:

1. a developer does not check for object liveness in other ways (list membership, etc)
2. a developer can't check for object liveness at all (e.g. a handle is given to React or other framework)

Solution: add `isValid()`, like in the .NET version.

[2017-02-01 16:23] rdagger opened #830 "Exponent Support"
Any chance of adding support for React Native [Exponent](https://getexponent.com/)?

[2017-02-01 17:16] radu-tutueanu commented on #827
I'll also check with the latest master - might be fixed by https://github.com/realm/realm-js/commit/5183ff9a8c176b56186c77ff1d57fcbcbe4b32b9

[2017-02-01 19:34] anders-g-hansen commented on #687
Was seeing this problem on windows even though npm was in the path.  Was able to resolve the issue by adding the npm file extension (see below).

[code]

[2017-02-01 19:40] radu-tutueanu commented on #827
@fealebenpae : Using the latest master, the client disconnects when the token expires but does not try reconnect:

[code]

[2017-02-01 19:41] radu-tutueanu commented on #827
I did use the node-server-sdk

[2017-02-01 23:16] j2kun commented on #789
I am working on a project using realm 0.15.4 and I experienced this bug, and the workaround did indeed fix it. Are you certain this was fixed? The problem could be that I had not installed node-pre-gyp before `npm install`ing the project, but I didn't see any error messages...

[2017-02-01 23:29] fealebenpae commented on #789
@j2kun realm has an internal dependency on `node-pre-gyp` and that should be installed automatically. Do you use `npm@2` and not a newer version, by any chance?

[2017-02-01 23:39] j2kun commented on #789
I saw that node-gyp was installed in my project's `node_modules`, but I still encountered the error above. What fixed it for me was to install it with `-g`.

(I apologize, I am quite new to node, and I am still learning how all these CLI tools and packages are related)

[2017-02-01 23:45] fealebenpae commented on #789
@j2kun I think our `scripts/install.js` which invokes `node-pre-gyp` expects the `npm@3` behavior where `realm` and `node-pre-gyp` will be adjacent to each-other in your `node_modules` folder. `npm@2` creates deep hierarchies, so that `node-pre-gyp`, as a dependency of realm, will be placed in `node_modules/realm/node_modules` instead of in `node_modules`.

This doesn't seem to be the problem in y

[2017-02-02 05:57] atom2ueki opened #835 "realm.write return changed data"
is there any plan make realm.write return the data write into realm database, so that easy to handle data return without query again from realm? #

[2017-02-02 06:49] csotiriou commented on #835
I have found that you can already do that, albeit with a less-than-graceful way.

Pseudocode:

[code]

[2017-02-02 11:38] bartoszwrobel opened #836 "Insert more then x documents blocks UI"
Hi,
I have strange problem. This is my sample code:

[code]

The problem is, when I insert more then 1175 documents (e.g. call twice save() or change i < 1176) the react-native UI is blocked. Checked on different devices, always number of documents which block UI is the same. This is not a fault of documents count, but documents size. When change some strings length - can insert more documents, et

[2017-02-02 12:40] gritzko opened #837 "Auto-edit of MainApplication.java"
Some overly smart build script edits the Android boilerplate, apparently.
It does so repeatedly (mistakenly), adding double lines.
Which results in a mystical error message.
This time, I observed this when building a fresh checkout of RealmTasks.

[code]

Grep did not find the offender (`grep -ri RealmReactPackage *`)
attn @fealebenpae

[2017-02-02 13:08] fealebenpae commented on #837
That seems to be the `react-native link` CLI tool at work - it doesn't pick up that the package has already been added because of the indentation, I think. We should remove all mentions of Realm from `MainApplication.java`, run `react-native link realm` and commit the changes.

[2017-02-02 13:13] gritzko commented on #837
Done

[2017-02-02 14:11] gritzko opened #838 "data source crashes the app"
if we change
[code]
to
[code]
we get a core dump.
Which is shocking for a JavaScript developer.
Apparently, some null check is missing somewhere.

[2017-02-02 14:14] fealebenpae commented on #838
What is the stack trace of the dump? Running in Xcode ought to give us a nicely formatted trace.

[2017-02-02 14:15] gritzko commented on #838
[code]

[2017-02-02 14:41] fealebenpae commented on #838
Looking at the trace, `objc_exception_rethrow ()` seems to indicate that there has been an unhandled Objective-C exception. Is there something in the Xcode output window that mentions an exception?

[2017-02-02 15:56] fealebenpae opened #840 "Proactive token refresh"

[2017-02-02 15:59] fealebenpae commented on #827
@radu-tutueanu I believe this was fixed in 1.0.1. I know you've done some testing, but please post any findings you have here.

I created #840 to track the remainder of the work needed to proactively refresh the access token so as to not rely on reconnects.

[2017-02-02 18:09] atom2ueki commented on #835
@csotiriou thanks

[2017-02-02 18:09] #835 closed

[2017-02-03 01:03] radu-tutueanu commented on #827
It was fixed, the only issue a little problematic is the fact that it takes 10-15 seconds to reconnect. I think that can be changed, for example Java reconnects immediately. #840 would fully fix the issue though.

[2017-02-03 10:31] kristiandupont commented on #826
This seems to be a duplicate of #687, so I will close it and refer you to that. Perhaps [this](https://github.com/realm/realm-js/issues/687#issuecomment-276757579) is helpful?

[2017-02-03 10:31] #826 closed

[2017-02-03 10:34] kristiandupont commented on #830
According to their [FAQ](https://docs.getexponent.com/versions/v13.0.0/introduction/faq.html), it's not possible to add native modules so that makes it impossible for us to support :-(

[2017-02-03 10:34] #830 closed

[2017-02-03 10:36] #837 closed

[2017-02-03 10:36] #827 closed

[2017-02-03 10:36] #823 closed

[2017-02-03 10:37] #643 closed

[2017-02-03 10:37] #813 closed

[2017-02-03 10:38] kristiandupont commented on #811
@joshuapinter, did you resolve this?

[2017-02-03 11:23] kristiandupont commented on #822
@hisham yes, I'm afraid Gradle 2.2 or higher is required.

[2017-02-03 13:54] DomiR commented on #687
What about nvm users?
This is  /Users/***/.nvm/versions/node/v7.1.0/bin/node

Why not read version directly from package like the applicationId? The npm command only echoes the version anyways.

[2017-02-03 15:40] #840 closed

[2017-02-03 17:08] hisham commented on #822
@kristiandupont - Gradle 2.14 _is_ higher than 2.2. But your build refuses to compile because you need the lower Gradle 2.2 version. You have this as a dependency in your android/build.gradle: 'com.android.tools.build:gradle:1.3.1'. It should be changed to 2.2.3 so that it works with the latest gradle.

Can you reopen this issue as it's not resolved?

[2017-02-03 20:58] charlespeters commented on #813
@kristiandupont my app is still in development. i mostly just want a clean slate.

[2017-02-04 20:35] joshuapinter commented on #811
@kristiandupont Yes I did. I decided to hold off until the official release, which was a few days ago. I then spent this morning giving it another try and it worked liked a charm.

I'll let you know if I run into trouble again but I'll close this off for now.

Many Thanks!

[2017-02-04 20:35] #811 closed

[2017-02-05 15:58] remaerd opened #844 "REALM_ENABLE_SYNC is not working"
Hi,

I come from China and trying Realm with React-Native. It seems like Realm is hosting core and sync iOS library without CDN. I'm suffering with low connection speed with the realm.io server, the download speed is around -40KB/s, which means I cannot finish the download process. I need to download the library with Safari and ShadowSocks (Similar to VPN) to speed things up because curl do not go

[2017-02-05 18:03] akusany2 opened #845 "Remote-Local Sync"
Hi, how can I sync data between realm-mobile-database and realm-object-server? I've read the whole docs but could not find how to connect or sync those 2 realm files.
Is it done behind the scene?
Do I have to call a function for that?

I've raised a question regarding this same issue on stackoverflow too. [Link] (code sample are there)(https://stackoverflow.com/questions/42052337/realm-sync-remote

[2017-02-06 10:32] kristiandupont commented on #822
Ah, my apologies, you are right.

[2017-02-06 10:59] kristiandupont commented on #844
Hi @remaerd, I'm sorry that you are having download issues, I'll look into that.
As for disabling sync, that is possible but not something we officially support yet. We probably will at some point, but I can't give you a timeline just yet.

[2017-02-06 11:07] kristiandupont commented on #845
Hi @akusany2, I've commented on your SO post, so I will close this.

[2017-02-06 11:07] #845 closed

[2017-02-06 14:02] gritzko commented on #829
Pardon, it has isValid since last April.

[2017-02-06 14:02] #829 closed

[2017-02-06 14:20] kristiandupont commented on #836
Does the UI block indefinitely, or does it just hang for a while? As javascript is single threaded, you might want to split your transactions up and do a number of them instead.

[2017-02-06 14:36] kristiandupont commented on #844
Apparently, there was an issue with CloudFlare last week. Could you perhaps try downloading again and see if things have improved for you?

[2017-02-06 14:45] bartoszwrobel commented on #836
UI block indefinitely, whole app is not responding, I can just kill it and restart. I tried to smaller transactions, but it's not helping. After crossing some size app just hang, no errors, no anything. You tried to run this code? How many times you can tap and call save()? I can call it twice, but when second call finished - app crashes.

[2017-02-06 15:06] jruef commented on #261
+1

[2017-02-06 15:34] fever324 commented on #688
What is the third parameter's name? I was looking for it on your api doc website, but could not find it.

[2017-02-06 15:43] istx25 commented on #688
@fever324: Please file a new issue with your question as this one is quite old. However, feel free to reference this issue in the new one.

[2017-02-06 15:45] istx25 commented on #261
As far as I know, this is not something that we are actively working on right now.

[2017-02-06 16:04] fever324 opened #846 "Function result as default value"
Hi I was trying to set the default value of id to a function that generates an Id, and it is not working for me.

Could you take a look at it and let me know if anything is wrong?
Thank you!

Here is my schema
[code]

[2017-02-06 17:38] istx25 commented on #846
Hey @fever324, thanks for reaching out. I'll ping one of the engineers to look into this for you.

[2017-02-06 17:38] istx25 commented on #846
I'm not a JavaScript developer but is it possible that the spelling mistake: `ObejctId` could be related to your problem? I looked up [`bson-objectid`](https://github.com/williamkapke/bson-objectid) and its [usage docs](
https://github.com/williamkapke/bson-objectid#usage) point to it being `ObjectId` not `ObejctId`. If not, no worries but I thought I'd chime in.

[2017-02-06 17:41] fever324 commented on #846
Hi, thanks for getting back to me.

Sorry about the `ObejctId`, it's a typo on my side.
I have also verified that `typeof(ObjectId().id)` is a `string`

[2017-02-06 17:42] istx25 commented on #846
Sorry - so the problem has been resolved? Or was it unrelated? Thanks.

[2017-02-06 17:43] fever324 commented on #846
It's not resolved. ☹️

[2017-02-06 17:45] istx25 commented on #846
Okay, thanks for clarifying that for me (I'm in the process of learning JavaScript). One of the JavaScript engineers will be in touch soon to help you further debug the issue.

[2017-02-06 17:49] fever324 commented on #846
I'm not sure if providing functions as default value is supported in realm-js according to this pull request #414.

[2017-02-06 22:13] Steviey commented on #432
+1

[2017-02-07 08:22] danieljvdm commented on #683
I have a new problem with this. I'm using react-native-navigation (a pretty popular package) and it requires you to extend `NavigationApplication` in your `MainApplication.java`. This means that the solution here doesn't work since `getPackages()` doesn't override anything anymore. Any ideas?

[2017-02-07 12:22] gritzko commented on #838
Trying to reproduce. It only red-screens the app. No crash.

[2017-02-07 16:46] gritzko opened #848 ""Failed to login" does not help much."
Currently, realm-js errors do not give much of useful information.
Failed-to-login should be: no such server, server not responding, no such database, wrong credentials, wrong db instance, protocol version not supported, whatever.
The 10 most common errors must be recognized and relayed to UI.

[2017-02-08 07:18] jasonfma commented on #617
Latest error against `1.0.2`

<img width="332" alt="screen shot 2017-02-07 at 11 17 23 pm" src="https://cloud.githubusercontent.com/assets/7075070/22727065/b09a2592-ed8b-11e6-9342-c51f01c86874.png">

[2017-02-08 08:05] aparedes opened #850 "Unknown execution context on iOS Simulator with Remote JS Debugging"
1. Goals
Debug code with Remote JS Debugging.

2. Expected results
Debug code with Remote JS Debugging.

3. Actual results
Red error screen with title 'Unknown execution context'
![uec](https://cloud.githubusercontent.com/assets/480605/22728147/a8c1c11c-eddc-11e6-8bf8-0a651a2afdfa.png)

4. Steps to reproduce
* Create new project `react-native init TestRealm`
* Install Realm `npm install --save rea

[2017-02-08 08:18] lodev09 commented on #141
@jwhitley I'm doing exactly what you pointed above before I saw your post. I was googling if I'm doing the "right" thing too with realm + redux and found your post. Definitely ease my doubt with my implementation.

You're right about react-native and redux not knowing that something added/removed to realm's `Results` so I'm passing it as a "new" state to the reducer so UI gets updated.

I hope `re

[2017-02-08 11:06] kristiandupont commented on #850
Hi @aparedes did you run `react-native link realm`? This should be noted in the error message, I need to fix that..

[2017-02-08 11:07] kristiandupont commented on #690
Hi @rpereira sorry for the delay. Did you resolve this?

[2017-02-08 11:12] aparedes commented on #850
Yes, I did run `react-native link realm`.

I only get this error with the Remote JS Debugging activated, otherwise it works and I can write and read to/from the Realm database.

[2017-02-08 11:19] rpereira commented on #690
No @kishikawakatsumi. My last comment reflects the current status. Thanks.

[2017-02-08 14:43] kristiandupont commented on #850
I see, in that case something else is wrong. Thank you for reporting.

[2017-02-08 22:06] gpulido opened #852 "Node.js and Sync can't found 'User'"
Hello,
I'm trying to follow the documentation regarding using realm with Node.js and the sync functionallity.

I'm running the realm mobile plattform in a ubuntu 16.04 virtual machine and it is working properly.
I'm using node v7.5.0 and npm 4.1.2
I installed realm for nodeusing:
```npm install --save realm```

And I test it locally using the NodeInterprocess example and it is working.

However wh

[2017-02-09 05:19] amanthegreatone commented on #670
facing the same issue with both android genymotion emulator and real device. Developing on Mac.
Realm 0.15.0
RN 0.40.0

[2017-02-09 10:44] kristiandupont commented on #852
Sorry, sync is not available in the developer edition when running on Linux. I will make sure there is a descriptive error message for this.

[2017-02-09 11:23] gpulido commented on #852
Is sync available on any developer edition?

[2017-02-09 20:11] fabriciovergal commented on #491
I'm working around with this issue by using my [worker lib](https://github.com/fabriciovergal/react-native-workers) and loading  a pre generated jsbundle which contains all my queries.

[example](https://github.com/fabriciovergal/react-native-starter-kit) using worker lib and wrapping realm with graphql

[2017-02-10 01:02] JulianKingman opened #856 "add Realm.List with primaryKey to multiple Realm.Object's"
I'm trying to add the same Realm.List item to multiple Realm.Object's, is this possible?
E.g.
[code]
Currently this gives me a primary key error.

Related? https://github.com/realm/realm-js/issues/688

[2017-02-10 02:19] astigsen commented on #856
This is because you are creating the same object twice. You just have to create the object first and then add it to the lists:

[code]

[2017-02-10 11:32] JulianKingman commented on #856
Yep, that's perfect.

This is about what it ended up looking like:
[code]

[2017-02-10 11:32] #856 closed

[2017-02-10 14:39] JulianKingman commented on #760
This is really important for me. I'm trying to fetch all the records from storage, and using `map` or `forEach` for only 900 records takes over 10 seconds. Example:
[code]

[2017-02-10 15:44] joshuapinter opened #857 "Offline Access Using Sync."
Hey Guys,

I'm getting deep into integrating Realm Sync with my React Native app, [ntwrk](http://ntwrkapp.com/), which is currently running perfectly with a local-only Realm database.

I have the Realm Object Server running on a small Digital Ocean box with Ubuntu. I'm connecting to that Realm Object Server with both the simple Realm Browser and an XCode simulator running ntwrk. Everything works p

[2017-02-10 17:30] atom2ueki opened #858 "Bad user authentication (BIND, REFRESH) (203)"
get an error when trying use admin token access object server
Connection closed due to error reported by server: Bad user authentication (BIND, REFRESH) (203)

from docs: 203 “Bad user authentication (BIND, REFRESH)” Indicates that the server has produced a bad token, or that the SDK has done something wrong.
but the token get from admin_token.base64, how comes it will be wrong?

how to refresh a

[2017-02-10 17:35] istx25 commented on #857
Hey @joshuapinter. Thanks for reaching out. Someone will follow-up soon with some more information on your question. Cheers!

[2017-02-10 17:36] istx25 commented on #858
Hi @atom2ueki. Thanks for reaching out. Someone will follow-up with you soon. Cheers!

[2017-02-10 19:17] joshuapinter commented on #857
I'll add a second question here that isn't related but also of value. :)

I'm finding that when I'm instantiating Realm, it does a lookup to the server each time before returning the Promise. So everything I call Realm, it does this lookup.

Is it advisable to store your "Synched Realm" in a global variable scope or something, like `global.realm = realm`?

Doing some testing I find it's much quick

[2017-02-11 17:21] joshuapinter opened #859 "ERROR: Bad syntax in input message 'download ..."
Seeing this error while trying to run my app on an iPad device in debug mode. I can run perfectly fine with the simulator and my iPhone but the iPad halts during the download/sync and produces this error:

`ERROR: Bad syntax in input message 'download 1 370 2 370 8854247286728307845 2 50652 1 58995 31869`

And then it dumps out the rest of the data and closes the realm connection:

[code]

I'm on

[2017-02-12 12:34] martsie commented on #532
I just got this working in React Native without having to do a copyBundleRealmFiles.

If you use the library react-native-fs (https://github.com/johanneslumpe/react-native-fs) you can get the bundle path using its `MainBundlePath` method.

My Realm initialiser looks like:
`
const parksDb = new Realm({
  path: RNFS.MainBundlePath + '/realm.realm',
  readOnly: true
});
`
The database filename I bake

[2017-02-13 00:43] Cody-G-G commented on #799
Having same issue in 1.0.2. Simply commenting out that line seems to be fixing it so far at least....

[2017-02-13 04:02] fever324 opened #860 "List of primitive type in schema"
Hi,

How can I declare a schema that have a field that is a list of doubles?
I tried the following schema, but it's not working.
[code]

![image](https://cloud.githubusercontent.com/assets/3506383/22870653/32dcfc84-f177-11e6-81e8-751e3f9173a5.png)

[2017-02-13 04:05] fever324 opened #861 "Uniqueness based on two fields"
Is there any way to create an constraint that ensures the two fields combined together is unique in a table?

For example I would like to keep `id` as my primary key and want to make sure the combination of email and name is unique in the table.
[code]

[2017-02-13 12:05] kristiandupont commented on #861
Sorry, you will have to enforce that manually at this point. We are considering offering combined primary keys but it's still on the drawing board.

[2017-02-13 12:05] #861 closed

[2017-02-13 12:06] kristiandupont commented on #860
Currently, lists of primitive types are not supported. You will have to declare a class that contains a `double` property and create the list out of that. Suboptimal yes, and we are working on improving this.

[2017-02-13 13:55] kristiandupont commented on #852
Yes, it's available on MacOS. Whether it will be on Linux in the future, I am not in a position to say. It might happen but I can't promise anything. You are right that we need to document this.

[2017-02-13 17:08] anonymoushitec commented on #850
I got this issue, too. Does it fix yet?

[2017-02-14 02:09] stirman opened #862 "Any updates re: primitive type arrays?"
About to implement the object workaround to store a simple array of int's, but wanted to check if there was any progress on this issue?

Thanks!

[2017-02-14 09:28] kristiandupont commented on #862
It needs to be implemented in core first. You can follow that issue [here](https://github.com/realm/realm-core/issues/1881).

[2017-02-14 09:28] #862 closed

[2017-02-14 12:41] kristiandupont commented on #857
Hi Joshua, you have indeed run across something that we are still working on. Once you have a Realm and an established connection, going offline works just fine. But initially, you do need the network. Obviously this is something that we are fixing, stay tuned.
Storing a realm globally is not an antipattern. In other languages it would be more so, because threading issues can occur but obviously t

[2017-02-14 14:19] jankjr commented on #850
I tried to reproduce this problem, but its to be running fine on my computer, tried both iPhone SE and iPhone 6 simulators.

Looking at the `getContext` here [here](https://github.com/realm/realm-js/blob/master/lib/index.js#L57-L60), it seems to only work when useragent is set to contain Chrome. What debugger are you using?

Realm 1.0.2, Xcode 8.2.1, OSX 10.12.3

[2017-02-14 14:45] joshuapinter commented on #857
Awesome, thanks for the reply @kristiandupont. I figured you guys were still working on creating a local cache or something for offline usage.

Do you have a _(rough)_ timeline for this?

That being said, I think it's manageable for beta testing sync at this point.

[2017-02-14 15:08] aparedes commented on #850
I'm using Realm 1.0.2 / Xcode 8.2.1 / OSX 10.11.6 / React-Native 0.41.2 / Chrome 56

I can't reproduce it anymore, could be something with Xcode, that needed a restart or something.

[2017-02-14 15:08] #850 closed

[2017-02-14 15:48] fealebenpae opened #863 "Support Node.js on Windows"

[2017-02-15 11:35] #799 closed

[2017-02-15 11:50] nhachicha opened #865 "Android not building without `-PbuildWithSync=true` option"
Trying to compile ReactNative Android without sync doesn't work anymore, following the steps on the Readme (basically using `./gradlew publishAndroid`).

Ex: `rpc` will fail to compile because of missing definition (ex `SessionClass`) defined through the `DREALM_ENABLE_SYNC=1` set for Android via the  `buildWithSync` flag (ex: `./gradlew publishAndroid -PbuildWithSync=true`)

**Action**
Either:
-

[2017-02-15 11:59] nhachicha opened #866 "Analytics task `send` could be triggered without a build"
Current Gradle task `send` which sends analytics, should be triggered usually when the user perform a build, example: `react-native run-android`  or `./gradlew assembleDebug`

Currently the task is defined to execute during the Gradle configuration phase, this will be for example triggered when the user invoke `./gradlew tasks`

[2017-02-15 12:56] #866 closed

[2017-02-15 13:04] jjhesk commented on #527
@laclance i did what u exactly did and my problem is still exist here.

react-native: 0.41.2
ios: 10.0
osx 10.11.6
realm: 1.0.2

[2017-02-15 13:07] jjhesk opened #868 "[iOS] Cannot read property 'debugHosts' of undefined"
Hi There, i just did a vanilla installation for the realm specified here. However, i got this exception. I was not able to launch it at all. Its very similar to #527 and I read #392 for the fix but it doesnt work..

Steps Followed:

react-native init
npm install --save realm
rnpm link realm
react-native run-ios

react-native: 0.41.2
ios: 10.0
osx 10.12.1
realm: 1.0.2

I have the below installation

[2017-02-15 13:22] fealebenpae commented on #868
Hey @jjhesk,

Try calling `react-native link realm` instead of `rnpm link realm`.

[2017-02-15 13:37] kristiandupont commented on #820
Hi @antoxi4 sorry, sorting and case insensitive string matches in queries are only supported for character sets in ‘Latin Basic’, ‘Latin Supplement’, ‘Latin Extended A’, ‘Latin Extended B’ (UTF-8 range 0-591).

[2017-02-15 13:37] #820 closed

[2017-02-15 15:25] jjhesk commented on #868
[code]

[2017-02-15 15:26] fealebenpae commented on #868
That might be because you initially ran `rnpm link` :/ Could you try starting over?

[2017-02-15 15:54] zuhrulumam commented on #261
+1

[2017-02-15 15:58] danmatthews commented on #261
Damn, it's a shame that this isn't something that's actively being worked on - i think it's a big market potentially.

In the meantime, if you're not working on this, can someone close it and update it with some official news?

In the meantime guys - the best alternative is [PouchDB](pouchdb.com) with the [sqlite adapter](https://github.com/nolanlawson/pouchdb-adapter-cordova-sqlite).

[2017-02-15 16:18] aottenwess commented on #858
Hi @istx25 , I just experienced the same issue when trying to run my event listener on the AWS AMI, professional edition

[2017-02-15 16:44] jjhesk commented on #868
its the same.
[code]

[2017-02-15 16:48] fealebenpae commented on #868
My other suggestion is to completely restart the React Native packager and clean its `watchman` caches.

Also, does it work when you disable Remote JS Debugging in your app?

[2017-02-15 16:53] jjhesk commented on #868
@fealebenpae i saw the glitch maybe. I restart everything and the app compile and build correctly. and then the dashscreen poped up and then disappeared.

[2017-02-16 02:24] ianpward commented on #858
Hello, can you share the node.js code snippet you are using to log into the server?

[2017-02-16 04:39] jjhesk commented on #868
realm is not usable..

[2017-02-16 06:47] jruef commented on #261
@danmatthews yeah it's a shame. I also ended up using PouchDB with the sqlite adapter. I develop for react native so you can use [pouchdb-adapter-react-native-sqlite](https://github.com/noradaiko/pouchdb-adapter-react-native-sqlite) and [pouchdb-react-native](https://github.com/stockulus/pouchdb-react-native) :-)

@danmatthews by the way the first link in your comment is broken

[2017-02-16 09:15] thatsjm4u commented on #868
the Problem is Exist should i downgrade the react-native version to 0.40 for current build purpose until this issue resolve?

[2017-02-16 09:30] kristiandupont commented on #261
Yeah, sorry, the official news is that @istx25 is right. This is not something we are working on at the moment. I realize that it's a popular request and definitely something we will look into but at the moment, the JS team has plenty of work with the currently supported platforms. I'll keep the issue open as it's neither done nor rejected, just idle :-)

[2017-02-16 09:31] danmatthews commented on #261
No worries! Thanks for getting back to us and letting us know the status.

[2017-02-16 12:46] stefanwuest commented on #611
@geldarhb Hey, have you found out what the problem is?

[2017-02-16 13:33] kristiandupont commented on #611
@stefanwuest are you still getting this? Which version of Realm are you using?

[2017-02-16 13:37] kristiandupont commented on #846
Hi @fever324 sorry, we do not support functions as default values. For now, it's probably easiest to wrap `realm.Create` in another function if you want something like it.

[2017-02-16 13:37] #846 closed

[2017-02-16 13:38] kristiandupont commented on #859
Hi @joshuapinter does this error appear on the server?

[2017-02-16 13:40] kristiandupont commented on #857
Sorry, no timeline for it at this point. It's somewhat high priority though, but also something that interferes quite significantly with the whole connect/sign-in/sign-up process, so it needs to be thought out.

[2017-02-16 13:51] kristiandupont commented on #868
@jjhesk try `watchman watch-del-all` and `npm cache clean`

[2017-02-16 13:54] kristiandupont commented on #812
@ajonno, if you have further issues, please create new ones in Github. I'm closing this one.

[2017-02-16 13:54] #812 closed

[2017-02-16 13:59] stefanwuest commented on #611
I have crash reports on my production app. Can't reproduce it though.
Using `"realm": "^0.14.3"`

[2017-02-16 14:11] kristiandupont commented on #611
okay. Perhaps try upgrading. Or let me know if you get more information.

[2017-02-16 14:30] kristiandupont commented on #858
@atom2ueki are you running the server locally or on AWS?

[2017-02-16 14:59] joshuapinter commented on #857
@kristiandupont Understood. Meanwhile, is there a way to get the location of the local Realm file that is being used when Sync is setup. I know without sync I could do something like `Realm.defaultPath` to get the default path of the Realm file.

This might be an easy way of using the local version until a network connection is available.

Let me know. Thanks!

[2017-02-16 15:04] sonnguyenit commented on #826
@kristiandupont I can't find any solution in the link you refer.
I don't understand what about:
[code]

[2017-02-16 15:19] joshuapinter commented on #859
Hi @kristiandupont.

The output on the server is the following (I replaced some values with `abcd1234`):

[code]

[2017-02-16 16:11] jjhesk commented on #868
@kristiandupont i followed the steps. closed the simulator, close the console debugger, and exit. watchman clear, cache clean. And now I restart the app by `react-native run-ios` and I still get the same `debugHosts` error.

[2017-02-16 18:01] lodev09 commented on #491
I'm using [reactotron](https://github.com/infinitered/reactotron) debugger for fast debugging. See their Tips & Tricks so you can ditch `console.log` to `console.tron`. Also, `reactotron` displays realm `results` properties nicely as well (good for inspecting data).

Hope this helps.

[2017-02-16 18:35] lodev09 opened #870 "Create and Update NOT working on reload"
I'm currently following this doc:
https://realm.io/docs/javascript/latest/#creating-and-updating-objects-with-primary-keys

Basically, if I insert a data with primary key it should update the specified properties and "ignore" other properties -- it's not doing this at all. Although it doesn't insert a new row when the primary key is existing but it's setting those unspecified properties to NULL (o

[2017-02-16 22:40] martsie commented on #491
From what I've seen of reactotron there is no support for stepping through code or seeing the backtrace for exceptions (is that correct?).

Is the issue that realm calls get pumped through the network panel just for the purposes of debugging? I have a list of 3000 objects which loads instantly with debugger off and takes 1-2 minutes with debugger on.

If so, could somebody point me in the directio

[2017-02-16 23:35] lodev09 commented on #491
@martsie yes I think they don't have that feature yet. As for me, I can live with it by just inspecting data and doing some log traces until they fix this issue.

[2017-02-17 07:12] lnlfps commented on #850
I got this issue, too. if close the "Remote JS Debugging', it's works well.

[2017-02-17 08:07] lnlfps commented on #850
[code]

when Remote JS Debugging is off, the fragment return 'reactnative'.  if remote js debugging is on, return undefined, so ```throw Error("Unknown execution context");```

[2017-02-17 08:09] aparedes commented on #850
I had the same, but tried again a few days later and it worked. I didn't change a thing.

[2017-02-17 10:03] kristiandupont opened #871 "JS generator for the browser"

[2017-02-17 10:36] lodev09 commented on #870
I think I see where my problem is.. Sorry to bother you guys :)

[2017-02-17 10:36] #870 closed

[2017-02-17 14:00] aparedes commented on #850
Do you have the debugger with device toolbar on?<img width="26" alt="screen shot 2017-02-17 at 14 58 48" src="https://cloud.githubusercontent.com/assets/480605/23067941/bf6d7b58-f521-11e6-9668-384d7350de7f.png">

It seems that is the one causing the problems. Or at least for me.

[2017-02-17 15:05] nhachicha commented on #687
this should be fixed by https://github.com/realm/realm-js/pull/849

[2017-02-17 16:40] astigsen commented on #871
Seems like this has been added already: https://github.com/realm/realm-browser-osx/issues/144

[2017-02-17 16:50] istx25 commented on #870
No need to apologize, @lodev09! Happy to hear you resolved the issue. We're here if you need help with anything else. :)

[2017-02-17 21:23] fungilation opened #872 "react-native unlink fails"
I want to unlink before upgrading and then re-link. But this fails:
[code]

Later when I run react-native link, it says:
[code]

[2017-02-17 22:05] fungilation commented on #872
Resolved with deleting an orphaned library in Xcode. It's somehow broken and left as a Xcode library with no text label. Deleting it then react-native link again works.

[2017-02-17 22:05] #872 closed

[2017-02-17 22:57] L3V147H4N commented on #687
👍

[2017-02-18 17:19] sparameshwar opened #873 "Unknown named module: './submit-analytics' when debugging with vs code"
Not sure whether this is a VS code issue or a realm issue. When I debug my app using VS code, I get the following error. I see that all the other modules under node_modules/realm/lib are loaded properly but not submit-analytics.js. Let me know if you need more details.

[code]

[2017-02-19 10:05] avishayil commented on #873
+1

[2017-02-19 13:47] amirhaghajani opened #874 "Realm is not defined"
Realm dont work on debugging

[2017-02-20 00:06] AsimNet commented on #261
+1

[2017-02-20 06:15] roddogy63 commented on #429
+1

[2017-02-20 07:58] wjw2013-07 opened #875 "react native 接入 relam"
unknown execution context

[2017-02-20 11:03] RoyGoode commented on #428
+1 NativeScript

[2017-02-20 13:14] gritzko opened #876 "Intermittent React test fail"
[code]
once produced:
[code]

[2017-02-20 13:22] fealebenpae commented on #876
As far as I can tell the assertion at https://github.com/realm/realm-js/blob/master/tests/js/session-tests.js#L73 fails intermittently because the sync session hasn't been bound yet - it hasn't yet received an access token and a resolved server URL. This is especially prevalent when running React tests.

I think we ought to have a private event on the session object that's raised when the session

[2017-02-20 16:30] jimthedev opened #877 "Decorator support"
Hello,

I've written a library the provides basic babel decorator-legacy support to ES6 classes and was wondering if this is something best suited for userland or if you'd consider a PR?

npm.im/realm-util

Current syntax:

[code]

[2017-02-20 18:53] istx25 commented on #877
Hi, thanks for reaching out @jimthedev. Someone will review what you've provided/shared and follow-up with some thoughts or questions. Cheers!

[2017-02-20 18:55] istx25 commented on #875
Hi @wjw2013-07. Please provide more information about the problem you're experiencing and any code examples (if possible) and then we'll have more information to go on while trying to help you resolve the issue. Thanks!

[2017-02-20 18:56] istx25 commented on #874
Hi @amirhaghajani. Thanks for reaching out. Would you be able to provide more information about the problem you're experiencing and code samples and/or information about your dev setup so we have more information to go on while trying to help? Cheers!

[2017-02-20 18:57] istx25 commented on #873
Hi @sparameshwar (and @avishayil). Thanks for reporting this. Someone will review what you've shared and follow-up with you soon with more information and/or questions. Cheers!

[2017-02-20 18:58] istx25 commented on #872
Hi @fungilation. Thanks for reaching out. Glad to hear you resolved the issue. Please let us know if you need help with anything else! :)

[2017-02-20 23:09] Svoig commented on #428
+1 for NativeScript

[2017-02-21 05:35] amirhaghajani commented on #874
Hi. thank you for your attention.
When I turn on the Debug JS Remotely feature on my Android emulator, I get this error.
I used Realm 1.0.0
<img src="http://proxy.ge.tt/thumbnail/7p5f9vi2/0/user-wsnj0piiKpEEYHWu87s5f9ppOrwOjLK29B9Ca-/0x675.png?ofn=error.png&referrer=user-wsnj0piiKpEEYHWu87s5f9ppOrwOjLK29B9Ca-" alt="err" style="max-width:100%;">

[2017-02-21 05:40] amirhaghajani commented on #874
When I turn on the Debug JS Remotely feature on my Android emulator, I get
this error.
I used Realm 1.0.0

On Mon, Feb 20, 2017 at 10:26 PM, Willow Puge <notifications@github.com>
wrote:

[2017-02-21 06:29] amanthegreatone commented on #364
Hi,

I am getting an issue trying to do something like this. My schema:

[code]

Trying to find the user_id of a tenant from the list of tenants using this query. It is not filtering as expected and I am always getting the whole UserProfile object.

[code]

[2017-02-21 07:33] siwymilek opened #878 "Missing property value when update object"
I use Realm for React-Native iOS and it throws exception `missing property value for property name` when I try to update object. Those properties are required but as I understand, when update object passing all of them isn't necessery.

This issue occurs only for iOS, on Android works perfectly.

    realm.write(() => {
        for (let id in response.data.data.ratings) {
            realm.create(

[2017-02-21 07:57] #878 closed

[2017-02-21 12:01] radu-tutueanu commented on #876
We see this as well as part of the node-server-sdk tests.

[2017-02-21 12:03] radu-tutueanu opened #879 "Intermittent Async tests fail"
On the node-server-sdk tests, we have seen sporadic failures in the Async tests.

e.g.:

[code]

[2017-02-21 15:03] jimthedev commented on #877
@istx25 Great. Thanks!

[2017-02-21 15:03] barbatus opened #880 "Xcode stuck building RealmJS"
Brand new React Native app created wirh `react-native init` and added Realm NPM can't build hanging on the step 'Building ReamlJS'.
Steps to reproduce:
- `react-native create app`
- `cd app & yarn add realm --save`
- `react-native link`
- `open ios/app.xcodeproj` and Build

react-native-cli@2.0.1
Xcode@8.2.1

[2017-02-21 15:20] fealebenpae commented on #880
Hey @barbatus, could you please post the Build log from the Xcode Report navigator?

[2017-02-21 15:53] barbatus commented on #880
@fealebenpae thanks, I checked there (not very familiar withe xcode).
It's stuck on downloading https://static.realm.io/downloads/core/realm-core-2.3.0.tar.xz.
This link seems pretty slow.

[2017-02-21 16:16] fealebenpae commented on #880
Our downloads go through a Cloudflare CDN, and they seem to be having issues in some locations at the moment: https://www.cloudflarestatus.com. Unfortunately you might be affected. Hopefully this will be resolved soon. My suggestion is to try to wait it out - once the archive is downloaded it'll be cached locally.

[2017-02-21 16:21] barbatus commented on #880
@fealebenpae thanks!

[2017-02-21 16:21] #880 closed

[2017-02-21 17:04] istx25 commented on #364
Hi @amanthegreatone. Please file a new issue with all of this and we'll continue this there. Thanks.

[2017-02-21 17:05] istx25 commented on #874
Rather than a screenshot of your code, would you be able to provide the code itself @amirhaghajani?

[2017-02-22 04:49] amirhaghajani commented on #874
I've simplified my code and remove all things to show that it is not depends on my code.

<pre>
<code>
/**
 * Sample React Native App
 * https://github.com/facebook/react-native
 * @flow
 */

import React, { Component } from 'react';
import {
  AppRegistry,
  StyleSheet,
  Text,
  View,
    Button
} from 'react-native';

export default class smart01_dbTest extends Component {

    realm : undefine

[2017-02-22 08:07] AhsanWani commented on #670
+1,

[2017-02-22 09:20] amanthegreatone opened #881 "Filtering from a nested List Object"
Hi,

I am getting an issue trying to filter data from a nested list. My schema:

[code]
Trying to find the user_id of a tenant from the list of tenants using this query. It is not filtering as expected and I am always getting the whole UserProfile object.

[code]

sample userProfile object :

[code]

I want to find the user_id in tenant 2. Can someone help me with this query.

realm 0.15.4
RN 0.40

[2017-02-22 09:42] fealebenpae commented on #881
Hey @amanthegreatone,

realm-js doesn't support template literal strings in queries. You need to use the following format: `.filtered('tenants.tenant = $0', tenant)`.
Please let me know if this helps.

[2017-02-22 12:00] yblunan commented on #873
I found the error in  realm/lib/index.js
function getContext
The function retend "nodejs"  but not "reactnative"

[2017-02-22 16:29] lodev09 commented on #632
Normally you would want a wrapper for realm so I'm adding those shorthands to my wrapper class like `get()`, `first()`, etc. I loop through all my schema classes and inject these useful functions.

[2017-02-22 19:38] wilomgfx opened #883 "'objectType' must be of type : string"
Hi im getting this error as soon as i call one on my methods inside realm.ts which is below

My models with realm schemas (models.ts)

[code]
Where realm happens (realm.ts)

[code]

[2017-02-23 00:43] afces1 opened #884 "Support React Native installed with CocoaPods"
Goals: adding RealmReact 1.0.2 project into XCode with pod install of react-native@0.42.0.rc-3 will not result in compilation failure.

Expected results: success app build using RealmReact project with react-native@0.42.0.rc-3 inside XCode project.

Actual results: compilation failure on RealmReact.mm: 'React/RCTBridgeDelegate.h' file not found in RCTBridge.h.  This is most likely due to the iOS h

[2017-02-23 10:19] rdougan commented on #730
@kristiandupont I've noticed this same error on 1.0.0. It happened when a property of mine was **not** optional and I was trying to create it with a `null` value.

    properties: {
      ...
      email: { type: 'string' },
    }

    realm.create('FeedItem', {
      ...
      email: null,
    });

[2017-02-24 04:46] amanthegreatone commented on #881
Nope, this also doesn't work.

BTW the template literal strings does work for me perfectly in all other cases. I have a lot of queries like below that are working fine. Only having issues with the list.

`results = realm.objects(InternalTask.name).filtered(`tenant == "${tenant}" AND task_status == "${status}"`);`

[2017-02-24 10:25] fealebenpae commented on #881
Ah, sorry I didn't see this earlier, but you're trying to filter on the contents of a to-many relationship, which is definitely not supported.

Realm has a feature called inverse relationships which allows realm objects to access other objects that link to them in a specific relationship and these kinds of queries are usually implemented on top of this feature. [It's not implemented yet in realm-j

[2017-02-24 13:24] amanthegreatone commented on #881
thanks for clarifying everything :)

[2017-02-24 13:24] #881 closed

[2017-02-24 16:18] ronyv89 opened #885 "Must first create RPC session with a valid host"

[2017-02-24 17:31] danielmhanover opened #886 "Realm Endpoint Connection Error"
My Realm Object Server was working up until this morning. Now, attempting to connect to it yields this error:

Connection[1]: Resolving 'localhost:9080'
Connection[1]: Connecting to endpoint '127.0.0.1:9080' (1/1)
ERROR: Connection[1]: Failed to connect to endpoint '127.0.0.1:9080': Connection refused
ERROR: Connection[1]: Failed to connect to 'localhost:9080': All endpoints failed

I have not chn

[2017-02-24 18:33] istx25 commented on #886
What version of the ROS are you using and how are you deploying it? On macOS or on a server? Please share as much information as you can. Thanks!

[2017-02-24 18:34] istx25 commented on #885
Please provide more information.

[2017-02-24 20:13] thatjuan opened #887 "How to be defensive and avoid crashes on React Native?"
I'm working on a React Native 0.40 app that uses Realm JS 1.0.0. I am experiencing crashes when reading/writing and some odd behaviors. For example, one of the crashes only happens when I add a second record to the table.

When it crashes, the output prints:

    <Error>: MY_APP(18085,0x7000075ce000) malloc: *** mach_vm_map(size=18446744073345937408) failed (error code=3)
    	*** error: can't all

[2017-02-24 22:16] bmunkholm commented on #261
https://github.com/airamrguez/cordova-plugin-realm is making an attempt.

[2017-02-24 23:26] kr05 opened #888 "Error when installing RealmJS with Node.js on Windows"
I'm trying to install Realm javascript with "npm install --save realm" command, but I get the following error:

[code]

I noticed this problem was already fixed in #689 , which is why this has me quite confused.

npm version: 3.10.10
node version: 6.10.0

[2017-02-25 09:41] mbalex99 commented on #765
I have it working in the `main` process but if you try to access the realm in the `renderer` process then it will try to look for `react-native`

:-p

[2017-02-25 10:02] fealebenpae commented on #888
Hey @kr05,

Is this a React Native project? Currently realm-js on Windows can only be installed in a React Native project, provided the `react-native` module is installed first.

[2017-02-25 10:39] kr05 commented on #888
It isn't. The only thing I'm using is Node.js

In that case, would the only solution be using linux?

[2017-02-25 16:20] danielmhanover commented on #886
This issue was resolved. Apparently ROS can't handle DigitalOcean floating IPs

[2017-02-25 16:20] #886 closed

[2017-02-25 18:08] makeitnew commented on #884
Try adding `$(SRCROOT)/../../../../Pods/Headers/Public` to the "Header Search Paths" for the RealmReact target.

To do this:
1. Select the RealmReact project in your Xcode project
2. Select the RealmReact Target
3. Select "Header Search Paths" under the Build Settings tab
4. Add the above path to the the list of existing search paths. The path above assumes both your `Pods` directory and your `nod

[2017-02-25 22:37] fealebenpae commented on #888
Linux or macOS. We're working on adding support for Windows, though, so that should be available in the near future.

[2017-02-26 05:16] Cody-G-G opened #889 "Callback gets called on addListener"
When adding a listener for an object, the callback is called. This is very undesirable since my callbacks all trigger re-renders, and so since I register the listeners in the componentWillMount() method, the app freezes for a couple seconds when navigating to a screen for the first time, because of all the re-renders triggered when registering the listeners (I'm using realm-js with React Native).

[2017-02-26 15:31] #889 closed

[2017-02-27 01:54] mongris commented on #873
It's a new issue after VS Code 1.9.1 updated.
I were pull a request to fix VS Code crash issue in VS Code 1.9, but it's not working 1.9.1 now.
More information here: https://github.com/realm/realm-js/pull/855

I think realm-js should implement data request asynchronous.

[2017-02-27 06:47] ronyv89 commented on #885
Closing, since this is an already discussed issue about debugging on device.

[2017-02-27 06:47] #885 closed

[2017-02-27 12:18] neel132 commented on #486
A small update on above example to make it work flawlessly
[code]

[2017-02-27 16:24] fealebenpae commented on #887
Hey @thatjuan,

I'm afraid that we cannot really guard from crashes like that in JavaScript. Native crashes are signs of a bug, not an expected error condition - those are signified by JavaScript errors that you can `try/catch`. Programmer error when using Realm shouldn't lead to native crashes.

And yes, threading is not an issue for Realm on React Native because there is only ever one thread tha

[2017-02-27 16:26] gritzko commented on #873
Technically, you can safely delete submit-analytics, except it is the key symptom in our case :)

Regarding platform detection heuristics, there is a branch for that:  https://github.com/realm/realm-js/commit/f6347cf59fd71f90723f38f63152418ab642f348
I'll be happy if you'll find some regressions there.

VSCode 1.9.1 fast fix by mongers: https://github.com/realm/realm-js/pull/855#issuecomment-282658

[2017-02-27 17:26] istx25 commented on #889
Hi @Cody-G-G. Happy to hear you could resolve the issue. If you have any other questions or need help with anything else, let us know!

[2017-02-27 17:26] istx25 commented on #884
Hi @afces1. Thanks for reaching out about this. I recommend trying @makeitnew's suggestion but please let us know if that doesn't work or if you have any other questions.

[2017-02-27 17:27] wilomgfx commented on #883
?

[2017-02-27 17:28] istx25 commented on #886
Okay, sounds good. If you'd like ROS to work with Digital Ocean floating IPs, I recommend filing a feature request on https://github.com/realm/realm-mobile-platform/issues/new.

[2017-02-27 17:31] istx25 commented on #883
Hi @wilomgfx. Thanks for reaching out. My apologies for the delay in someone getting back to you. The Javascript team is rather small and one of our JS engineers is currently on vacation. We'll try to get back to you very soon though!

[2017-02-27 17:39] wilomgfx commented on #883
@istx25 great. No problem. Thank you!

[2017-02-27 17:48] fealebenpae commented on #884
Hey @afces1,

I don't believe we support installing via CocoaPods - only with npm and the React Native CLI. I'll add this to our backlog.

In the mean time, the workaround proposed by @makeitnew seems viable.

[2017-02-28 05:49] thatjuan commented on #887
Thanks for pitching in @fealebenpae

What I was referring to by guarding was not "catching" them, but rather preventing them.

I'd be happy to try and set up a constrained environment to reproduce the crashes, but for now, this is how I fixed them.

As I mentioned, I had set up a `getUserRealm()` function that returned a new Realm. I was calling that from every function that needed to use a realm.

[2017-02-28 09:06] michalpetrov commented on #617
Is there any workaround for this issue? It kind of sucks that I cannot debug my application because of realm.

[2017-02-28 12:07] #873 closed

[2017-02-28 21:42] jasonfma commented on #617
I've been using the default chrome/web browser debugger.

[2017-02-28 22:50] alazier opened #890 "Add argument checks for methods in user-methods.js"
As is nothing happens which is confusing. We should probably throw an error for an invalid number of arguments. I saw this behavior in node.

[2017-02-28 22:57] alazier commented on #890
Hmm - it could be that we are throwing an error but it isn't showing up in the console for node.

[2017-03-01 10:07] gritzko commented on #890
Either this https://nodejs.org/api/process.html#process_event_uncaughtexception or somebody eats it.

[2017-03-01 13:50] alazier commented on #890
Looks like we don't do any argument checking for the user-methods implemented in js: https://github.com/realm/realm-js/blob/master/lib/user-methods.js#L135

[2017-03-02 15:31] alazier commented on #883
I would guess your problem is in `saveUser`. Most likely one of `fullName`, `user`, `pw` is `undefined` or another data type other than a string. Or perhaps you need to explicitly specify your key names in the dictionary passed to `realm.create`?

[2017-03-02 18:21] wilomgfx commented on #883
I will investigate in that direction. Thanks ! I'll post back with results in a few.

[2017-03-02 21:07] jasonmerino opened #893 "Multiple realms in React Native don't query realm object server correctly."
I am having an issue dealing with multiple realms in React Native. I'm working on an app that allows users to use the app without having a subscription (using a local realm) and then at any point in their app journey they have the option of upgrading to a subscription with syncing (which uses sync to a realm object server).

When I start the app I check to see if they are using sync and if so I in

[2017-03-03 10:05] anhhuy1605 opened #894 "Can't run electron app built with Realm"
In my `main.js`, I only import `realm` package and run `console.log(Realm)` but when I packaged the electron app with `electron-builder` and run the app. I got this error:
[code]
I can run the app normally with `electron` binary

[2017-03-03 10:58] gritzko commented on #894
From what I see, it tries to create realm db dir at a wrong path. Probably, platform detection heuristics go wrong...

[2017-03-03 10:59] gritzko commented on #894
Normally, it should try to create a dir at "."
Is the current dir writeable in both cases?

[2017-03-03 12:44] mehdi-cit commented on #888
Hello @fealebenpae

How "near"? Not asking for an exact release date but would you say days, weeks or months?
Thanks

[2017-03-03 13:10] anhhuy1605 commented on #894
Thanks for your quick reply! I'm not sure which directory does `.` point to when I run the packaged app, I change permission of the directory that contains `.app` file to 766 and still get the same error.
<img width="1005" alt="screen shot 2017-03-03 at 20 06 53" src="https://cloud.githubusercontent.com/assets/2297242/23552175/26362458-004d-11e7-9d59-7ecd2f6d9afd.png">
I also try installing the ap

[2017-03-03 13:16] gritzko commented on #894
Looking at the screenshot, "." must be inside the app bundle. I see two issues here:

1. platform detection heuristics don't work as expected and
2. nobody catches the exception, that causes a core dump.

[2017-03-03 13:20] gritzko commented on #894
@alazier It seems to create Realm dir right on DLOpen.
Should we tell it to use some other dir somehow?
Or should we hardcode that to `~/Library/Realm`, for example?
electron can run on many platforms, that creates an interesting situation.

[2017-03-03 13:51] jasonmerino commented on #493
Hey @alazier, I'm curious on what the status on this is. I'm working on an app that was written in Obj-C and used core data's bi-directional relationship modeling and now am porting it to React Native and it would be lovely if I didn't have to do the JavaScript equivalent of what is described in this issue https://github.com/realm/realm-cocoa/issues/677 to get that to work.

Really enjoying realm

[2017-03-03 18:40] sparameshwar commented on #873
Deleting submit-analytics didnt work. I now get an error: "Unknown named module: './submit-analytics'". Reopening the issue. It will be good to have a build that fixes the issue.

[2017-03-03 18:42] sparameshwar commented on #873
I cant seem to reopen the issue. @gritzko - can you help reopen it?

[2017-03-03 20:06] gritzko commented on #873
@sparameshwar did you use the VS Code fast fix? https://github.com/realm/realm-js/pull/855#issuecomment-282658385

[2017-03-04 17:13] JulianKingman commented on #435
I'm creating a bridge in my experimental `realm` branch here https://github.com/DesignmanIO/react-native-meteor-redux#realm
There's an example you can test.

[2017-03-05 13:32] balibou commented on #435
It could be awesome if we could make work react native - realm - meteor, and solving performance issues !

[2017-03-06 09:00] gritzko commented on #706
related: #894

[2017-03-06 12:27] #871 closed

[2017-03-06 12:52] kristiandupont commented on #888
It's in the "weeks" category. :-)

[2017-03-06 12:56] kristiandupont commented on #493
While this is an important feature, there are a number of issues that are higher priority right now, so sadly this probably won't be available in the near future.

[2017-03-06 13:59] mehdi-cit commented on #888
Thank you @kristiandupont
For what's worth, I do believe that having realm-database ready for node.js/electron in all platforms (windows included) will bring a lot of attention to realm as a whole.
There's a very strong need for a light weight embedded database that can seamlessly work with node.js/electron and realm could be just that!

[2017-03-06 15:37] kristiandupont commented on #888
I hope you are right! 😄 Note though that we are not officially supporting Electron just yet, so that is also a bit into the future.

[2017-03-06 18:50] sparameshwar commented on #873
Yes, I did but it didnt help.

________________________________
From: Victor Grishchenko <notifications@github.com>
Sent: Friday, March 3, 2017 12:06 PM
To: realm/realm-js
Cc: Suresh Parameshwar; Mention
Subject: Re: [realm/realm-js] Unknown named module: './submit-analytics' when debugging with vs code (#873)

@sparameshwar<https://github.com/sparameshwar> did you use the VS Code fast fix? #855 (

[2017-03-06 18:57] dzuncoi commented on #450
@alazier Do you have roadmap for this feature yet?

[2017-03-07 09:07] JohnDerConsulter opened #897 "Value not convertible to a number"
Hello community :) I implemented lots of good working functionality with firebase -> realm. Now i tried to edit a structure and I am running through the wildest error messages.

**What is right for sure:**

**Firebase** sends the data
Data is **converted** (e.g. Firebase has "brands" as array -> is converted to a string for Realm Schema)
The error appears when firebase **updates**
Not every fireba

[2017-03-07 09:28] gritzko commented on #873
@sparameshwar Then, you may try using an older VS Code release while waiting for a new release that fixes the regression https://github.com/Microsoft/vscode-react-native/issues/406#issuecomment-282670868.

[2017-03-07 12:12] fealebenpae commented on #897
Hey @JohnDerConsulter,

The terseness of the error messages when creating an object is a known issue we're tracking in https://github.com/realm/realm-js/issues/787 and hoping to resolve in the near future.

What I would do with regards to debugging is to remove properties from the Realm schema one by one until the error goes away to figure out which property is causing this. The code in StackOverf

[2017-03-07 15:19] kristiandupont commented on #730
@rdougan yes, this is covered by #787. Sorry for the inconvenience, I hope we will get it fixed soon.

[2017-03-07 18:09] Cody-G-G commented on #789
I'm using realm@1.0.2 with react-native, npm@4.1.1, node@v6.4.0, on Windows. I am encountering the same issue detailed in the OP. I see mentioned that Node on Windows is not supported yet, but I was wondering whether there would be any workaround for it?

[2017-03-07 19:21] fealebenpae commented on #789
Yes, this is precisely the issue - Jest runs tests as Node.js code, and Realm is not supported in Node.js on Windows just yet, but it's something we're working on at the moment.

[2017-03-07 21:12] intelcoder opened #899 "Keep getting error message"
I am keep getting this errors. I have used lastest version of the realm and order version (0.14.0, 0.14.3)

[code]

## versions
[code]

I tried some suggestion from below link but none of this solve the problem.
[#799](https://github.com/realm/realm-js/issues/799), [#674](https://github.com/realm/realm-js/issues/674)

[2017-03-07 21:54] ianpward commented on #893
Looks like @teotwaki responded to you on StackOverflow, feel free to answer his questions there

[2017-03-07 22:24] #863 closed

[2017-03-08 07:17] kr05 commented on #888
I happily started running Realm from a machine running Ubuntu 16.04, when I noticed that RMP only works with Android/iOS. :(

Any suggestion/workarounds to getting it to work from a web app context?

[2017-03-08 10:25] kristiandupont commented on #888
@kr05 at the moment there isn't a lot you can do if you don't want to go with the [professional edition](https://realm.io/pricing/) -- but we are looking into different ways of alleviating this situation so stay tuned

[2017-03-08 10:38] kristiandupont commented on #450
@dzuncoi There are a number of query tasks we want to look into and hopefully soon, but no timeline yet, sorry.

[2017-03-08 10:41] dzuncoi commented on #450
@kristiandupont No problem, just want to know the timeline, I'm still fine with current query syntax :)

[2017-03-08 10:51] kristiandupont commented on #877
@jimthedev this is great, thanks for reaching out! I think it's a bit premature for us to start relying on decorators because we need to support a multitude of environments, but maybe we'll look into it at some point in the future.

[2017-03-08 11:44] gritzko commented on #899
Is this an error from Realm Java?
What are you trying to do, precisely?

[2017-03-08 12:08] gritzko commented on #897
solved, see SO http://stackoverflow.com/questions/42631219/realm-value-not-convertible-to-a-number

[2017-03-08 12:08] #897 closed

[2017-03-08 15:22] #888 closed

[2017-03-08 15:25] kristiandupont commented on #894
We are not officially supporting Electron yet, though people seem to manage to make it work here and there. The directory thing is a problem, especially if you want to put your app in the apple app store.

[2017-03-08 15:25] #894 closed

[2017-03-08 15:27] kristiandupont commented on #883
@wilomgfx is this still causing you trouble? Keep an eye out for #787 for tracking the error message.

[2017-03-08 15:27] #875 closed

[2017-03-08 15:29] kristiandupont commented on #874
@amirhaghajani sorry for the late reply, I've been on vacation. It looks like you need to add an import statement for Realm:
[code]

[2017-03-08 15:30] kristiandupont commented on #687
Is anybody here still having trouble with this or can I close it?

[2017-03-08 15:52] evollu commented on #687
I'm still having the trouble (mac user)

[2017-03-08 16:40] eduardomoroni commented on #545
Do we have this possibility on version 1.0.2?

[2017-03-08 21:38] wilomgfx commented on #883
Haven't got time to try it out. Had to fix some important issues. I will by trying tomorrow morning and ill post back if it worked or not. Thanks guys!

[2017-03-08 22:50] intelcoder commented on #899
I am trying to use realm for the react-native project and it throws error when it builds using command  **react-native run-android**

[2017-03-09 06:39] kr05 commented on #888
What would the professional edition allow me to do? I combed through the email and the scanner app, but I'm still clueless as to how I would run Realm from a website.

[2017-03-09 07:36] JohnDerConsulter commented on #897
The error got thrown through a wrong created date object. Solution was a try / catch block to see each child of created objects. Thx for help

[2017-03-09 09:20] kristiandupont commented on #545
@eduardomoroni sorry no, this is still not implemented.

[2017-03-09 10:01] gritzko commented on #894
@kristiandupont by the way, why don't we default to `~/.realm` ?

[2017-03-09 12:03] kristiandupont commented on #888
The node sdk in the professional edition includes sync. But maybe I am misunderstanding what you mean with "running realm from a website". You can use it in Node.js for your backend, in React Native for iOS and Android clients and soon via Electron for desktop apps. But not in a web based frontend at this moment.

[2017-03-09 13:41] #893 closed

[2017-03-09 16:03] wilomgfx commented on #883
ok its fixed, my problem was using the static property schema on my User object and passing the User constructor directly. Instead of doing :
[code]
I have to do :

[code]

[2017-03-09 16:04] #883 closed

[2017-03-09 16:06] wilomgfx commented on #787
I do agree we need more descriptive errors, if you look at my issue #883, the error does not really point out the real problem.

[2017-03-09 16:21] hengel2810 opened #902 "Running realm nodeJS on Raspberry Pi 3"
Hello guys,

I've developed a little smart home app on my Mac using nodeJS and realm. Now I want to run it on an Raspberry Pi 3, but I've no idea how I had to build and install realm for nodeJS.

Doing to normal install via npm gives the following error:

node server.js
/home/pi/localknixapi/node_modules/bindings/bindings.js:91
throw err
^

Error: Could not locate the bindings file. Tried:
→ /home

[2017-03-09 17:54] fotiDim commented on #852
@kristiandupont what is the reasoning behind making sync only available on MacOS? It doesn't make sense to me. If it's a server chances are it will be Linux.

[2017-03-09 20:39] jasonmerino commented on #893
@ianpward I've updated the issue here to reflect what I'm seeing. Looks like it is only an issue when initializing a local realm and a synced realm the first time the app launches. I've updated the stack overflow post as well. Hope you guys can reproduce on your side.

Thanks!

[2017-03-10 00:11] jasonmerino commented on #493
@kristiandupont thanks for the update. :)

[2017-03-10 04:06] MrHubble commented on #868
@jjhesk Did you solve this? I'm running into the same problem.

[2017-03-10 09:33] atom2ueki commented on #858
@kristiandupont I'm running on my Linode server inside a docker -> bbrodriges/realm-object-server

[2017-03-10 09:37] atom2ueki commented on #858
@ianpward
[code]

[2017-03-10 13:59] mehdi-cit commented on #888
Should we assume that realm database works for windows (including with electron under windows) since this issue has been closed?
https://realm.io/news/realm-javascript-node-js-windows/?utm_source=news-list&utm_medium=email&utm_content=rmp-content
I did read yesterday on real's website that the realm-database should work now anywhere javascript can work (including windows) but I wonder why isn't th

[2017-03-10 14:06] fealebenpae commented on #888
The Realm Mobile Database now works on Node.js on Windows, too. Electron on any platform is a separate target for us, but we've seen reports that it's possible to run Realm on Electron if you use `electron-rebuild`, but it's not something we support officially. You can see https://github.com/realm/realm-js/issues/765 for details.

[2017-03-10 15:01] mehdi-cit commented on #765
Thank you much for the clarifications.
Have a nice weekend

[2017-03-10 18:06] eduardomoroni opened #904 "README.md broken links"
Hey guys, we have some broken links on [README.md](https://github.com/realm/realm-js/blob/master/README.md)

We same some on the site as well.

[2017-03-11 01:02] ianpward commented on #904
Thanks @eduardomoroni what links are you referring to so we can track them down and fix them?

@pixelchef

[2017-03-11 01:23] eduardomoroni commented on #904
https://realm.io/docs/react-native/latest/#models
https://realm.io/docs/react-native/latest/#queries

[2017-03-11 02:59] stlemon opened #905 "realm is aleady open in another context on this thread"
![default](https://cloud.githubusercontent.com/assets/21324615/23819974/a830b020-0649-11e7-8f36-f19a253f8e9e.png)
version

[2017-03-11 02:59] #905 closed

[2017-03-11 03:03] stlemon opened #906 "realm is aleady open in another context on this thread"
![default](https://cloud.githubusercontent.com/assets/21324615/23819997/f677672e-0649-11e7-8f74-550697756850.png)
version
"realm": "^0.15.0",
"react-native": "^0.36.0"

Can you help me ? Thank you very much !
And if you can say Chinese ,I'll be very happy!

[2017-03-11 16:14] alazier opened #907 "testErrorHandling() is failing on linux when testing the node sdk"
[code]

This is blocking ROS development.

[2017-03-11 21:32] gpulido commented on #852
@kristiandupont Does the new universal Node.js support for windows announced here ([https://realm.io/news/realm-javascript-node-js-windows/](url) have Sync included?

[2017-03-12 05:52] intelcoder commented on #899
I am not sure which method fixed problem but it got fixed after I run react-native upgrade -> link again -> react-native run-android

[2017-03-12 19:53] Blacktoviche opened #908 "Any chance to support Cordova/Ionic2 yet ?"
I would love to use Realm in my Ionic2 projects as it will be a replacement for my SQLite
as you said in the readme you are planing to support Cordova.
Is there any timeline for ?

[2017-03-13 06:26] #899 closed

[2017-03-13 08:45] TareqElMasri commented on #428
+1 for Nativescript

[2017-03-13 12:40] kristiandupont commented on #852
@fotiDim the reason is that it's actually a paid feature, but we want to allow people to play with it.
@gpulido no, sync for Windows is not supported yet. This is for technical reasons purely though, I can't say if it will be in the developer edition when fixed.

[2017-03-13 12:41] kristiandupont commented on #908
Sorry, there is no timeline yet. Any updates will be announced in #261 -- please follow that.

[2017-03-13 12:41] #908 closed

[2017-03-13 12:46] gpulido commented on #852
@kristiandupont Thank you for clarify it.
Unfortunatelly, in my case,  I'm using it on a opensource project that I'm giving free so to pay 1800$ / month is imposible neither for me, neither for my "client" (a social archery club).
Have Realm though about using double licensing or giving licenses for open source and free projects?

[2017-03-13 12:54] kristiandupont commented on #852
This has been requested before. It's a reasonable request but at the time we are not considering it. Realm produces a lot of open source code -- the mobile database and all of the local sdk's are completely free and open source. The professional and enterprise editions of sync are the only products we charge for and we need to focus our efforts somewhat.
That is just the current situation though,

[2017-03-13 12:56] fotiDim commented on #852
@kristiandupont according to https://realm.io/pricing "Two-way, Realtime Synchronization" is supported for the Developer Edition. If this is only for MacOS you should explicitly mention that.

What about Server-side Access and Event Handling? Are they supported on any OS for the the Developer Edition?

[2017-03-13 13:01] Dids commented on #852
@fotiDim I know that the free edition of Realm Mobile Database works fine with Xamarin.Forms (.NET) apps, at least for iOS and Android.
That does make you wonder why JS would be any different from a technical standpoint.

[2017-03-13 13:35] amirhaghajani commented on #874
It works like a charm, thanks for your help

[2017-03-13 14:01] kristiandupont commented on #852
@fotiDim you are right, that is confusing. I will talk with marketing about that.
@Dids the Mobile Database (without sync) works on all those platforms. Sync is intentionally disabled in Node.js for Linux, and doesn't currently work on Windows. Sync is enabled in iOS and Android for both React Native and Xamarin.

[2017-03-13 14:03] #874 closed

[2017-03-14 09:03] kristiandupont opened #909 "Add `userInfo` map to `User.registerWithProvider`"
Like the other SDK's (like [.Net](https://realm.io/docs/xamarin/1.1.0/api/reference/Realms.Sync.Credentials.html#Realms_Sync_Credentials_Custom_System_String_System_String_System_Collections_Generic_IDictionary_System_String_System_Object__))

[2017-03-14 10:15] #887 closed

[2017-03-14 10:16] kristiandupont commented on #906
Hi @stlemon, can you share some code that produces this error?

[2017-03-14 10:45] kristiandupont commented on #902
Sorry, at this point, Realm is not supported on Linux on ARM processors. There should be no technical obstacles, so if you are up for it, you can build it yourself -- it's all open source. :-)

[2017-03-14 10:45] #902 closed

[2017-03-14 10:49] #711 closed

[2017-03-14 10:57] radu-tutueanu commented on #907
This has the same cause as #876

[2017-03-14 15:17] fealebenpae commented on #907
@radu-tutueanu I don't think it's the same as #876 - this one's on Node.js for another test case on another property.

@alazier I don't get this when running tests locally and it doesn't seem to show up in CI. Do you get it on latest master, or is it intermittent?

[2017-03-14 15:38] kristiandupont commented on #858
This all looks good. Are you absolutely sure you copied the entire admin token and nothing but it into your environment variable? If possible, could you try hardcoding it into your code to see if that makes a difference?

[2017-03-14 15:48] kristiandupont commented on #868
Are you using the latest version of Realm (1.1.1)? @MrHubble, are you getting the `debugHosts` or the "Unknown execution context" error?

[2017-03-14 16:15] fealebenpae commented on #907
Exploring this is going to take more time as we don't have the means to test sync on Linux out of the box.

[2017-03-14 17:18] funkyeah commented on #276
Also can confirm `adb forward tcp:8082 tcp:8082` fixed the issue for me.

If it helps anyone in the future my particular situation was:
1) I was using chrome debugger
2) had issues connecting to standalone React-Dev-Tools which suggests doing 'adb reverse tcp:8097 tcp:8097'.
3) re-enabled the chrome debugging and it no longer worked with the same error message as this issue
4) had to do both the `

[2017-03-14 18:53] agahEbrahimi commented on #850
I have the same problem
I didn't under what you mean by Remote JS debugging

[2017-03-14 19:40] aparedes commented on #850
I mean in Chrome Dev Tools

[2017-03-14 20:02] aparedes commented on #850
When you are in the phone or simulator, you enable the debugging and it opens chrome. In chrome, if you press the device toolbar on it shows the web view in a "mobile" view. That seemed to be causing some issues for me. When it was disabled, it was acting normal

[2017-03-15 00:48] MrHubble commented on #868
I'm using Realm 1.1.1

I saw the same behaviour as jjhesk:

with js remote debugger: I will get `debugHosts` error
without js remote deubugger: I will get `Unknown execution content`

It is now resolved for me. I believe I found the solution in another issue that was similar to:

- stop the package manager
- `yarn cache clean`
- `yarn start`

and then running the app again.

Sorry if that's a bit

[2017-03-15 05:52] stlemon commented on #906
I will share my code when I met this error later.

[2017-03-15 07:17] aksharpatel47 opened #911 "feature: Integration with React Native FlatList / SectionList"
React native recently introduced the FlatList, SectionList and VirtualizedList as better alternatives to the ListView ([blogpost](https://facebook.github.io/react-native/blog/2017/03/13/better-list-views.html)).  It would be ideal to have a realm component that leverages these for better performance.

[2017-03-15 07:44] #904 closed

[2017-03-15 09:48] kristiandupont opened #912 "Analytics rely on Buffer.from"
submit-analytics.js:92 uses `Buffer.from` which wasn't available in Node.js 4. We should use `new Buffer()` instead.

[2017-03-15 09:55] kristiandupont commented on #868
Well, that's better than nothing. @jjhesk, are you still having problems?

[2017-03-15 09:56] kristiandupont commented on #911
Yes, that is a nice idea and definitely worth looking into!

[2017-03-15 10:23] #912 closed

[2017-03-15 10:50] kristiandupont commented on #859
This could be a sign that your server and client are incompatible versions. Could you make sure you are using the latest version of the object server and of the js package and see if that helps?

[2017-03-15 11:47] blagoev commented on #687
@evollu  Can you check you are using the latest version of realm? I can't reproduce the issue with the latest changes on mac.

[2017-03-15 13:39] kristiandupont commented on #794
Docs for the .net api: https://realm.io/docs/xamarin/latest/#progress-notifications

[2017-03-15 14:01] zhuyifan2013 opened #914 "libGCDWebServers.a not found"
I drag the RealmReac.xcodeproj into my project and add libRealmReact.a as linked binary ,but when I build my project I got this error message.  What should I do??

`error: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/libtool: can't open file: /Users/rockvr/Library/Developer/Xcode/DerivedData/Test2D-gargqltptrilykhcxvplvutfnpkh/Build/Products/Debug-iphonesi

[2017-03-15 14:08] fealebenpae commented on #914
Hey @zhuyifan2013,

Why do you need to manually edit your Xcode project to add Realm? All you need to do is to run `react-native link realm` in your project after you install the realm npm package, provided the project has been created with `react-native init`.

If you cannot use the React Native CLI, then it's up to you to edit your Xcode scheme so that the RealmReact target has a dependency on t

[2017-03-15 14:57] #852 closed

[2017-03-15 15:21] zhuyifan2013 commented on #914
Hi @fealebenpae  ,
Thanks for your reply.
I'd like to introduce my scene:
I have two native projects (one for my personal test for some special reason) used one react-native codes (js files and node_modules ,etc.). So I could not use `react-native link realm` to link realm.
What I do now is drag the `RealmReac.xcodeproj` from node_modules/realm/react-native into my project, I found it has already

[2017-03-15 15:36] fealebenpae commented on #914
RealmReact.xcodeproj should include `vendor/GCDWebServer/GCDWebServer.xcodeproj` as a subproject. If you're building from the repository, you have likely not initialized git submodules.

[2017-03-15 15:52] zhuyifan2013 commented on #914
@fealebenpae  You are right !! you saved my day . Thanks very much.
But I have a question about this :
Why there is no error by React Native CLI , the node_modules/realm/vendor folder has no `GCDWebServer.xcodeproj` but it works well , is there some story behind `react-native link realm` ???

[2017-03-15 15:53] fealebenpae commented on #914
If you're using the npm package it already has the GCDWebServer code in it.

[2017-03-15 16:04] zhuyifan2013 commented on #914
Thanks, I should closed this issue first.
But I am sorry I am still curious about What is the different of  `1. react-native link realm` and `2. drag the `node_modules/realm/react-native/RealmReac.xcodeproj` into my project` ? (regardless of git clone realm-js project scene)  . Why the first has no error ? What else the `react-native link` do about `GCDWebServer ` ?

[2017-03-15 16:04] #914 closed

[2017-03-15 19:59] Talor-A opened #919 "live updating React Native FlatList with Realm"
Hi, I'm trying to use the new FlatList component with realm,  but it doesn't live update like it's supposed to. does using `Array.from()` on a Realm results object affect this?

my component looks like this:

[code]

[2017-03-16 03:05] evollu commented on #687
with android studio?

[2017-03-16 09:43] blagoev commented on #687
@evollu Yep. Android Studio builds and runs the project fine.

Can you check this file in your project
node_modules/realm/android/build.gradle

then try finding the getNpmVersion function in that file

it should contain this fix
https://github.com/realm/realm-js/pull/849/commits/acf315f2d8b1a99a31758135244501967999b655

If it does and you are still not able to build from within Android Studio then

[2017-03-16 14:07] blagoev commented on #822
@hisham I can't reproduce this with the latest version of realm and RN. Also tried with realm 1.0.1. Builds is ok. Can you confirm it is still failing on your side? Or it is fixed?

The latest version of RN is using 2.14.1 when you create a new project.

[2017-03-17 00:06] evollu commented on #687
yeah i tested in 1.1.1 and everything seems fine

[2017-03-17 07:44] atom2ueki commented on #858
@kristiandupont when I run this code, get `Realm.Sync.User.adminUser` -> TypeError: Cannot read property 'User' of undefined

[2017-03-17 08:56] kristiandupont commented on #858
Ah, that's because you are running on Linux! We do not support sync on Linux in the free version. Yes, this is not clear in our messaging and it's something that we need to improve.

[2017-03-17 08:57] blagoev commented on #687
thanks, closing this one

[2017-03-17 08:57] #687 closed

[2017-03-17 09:41] atom2ueki commented on #858
@kristiandupont oh...yea, no wonder same version of code and node, my mac able to run but my server cannot, but even when I use my mac, get this error (see pic below), I already give up 9443 https instead using 9080 now

<img width="1429" alt="screen shot 2017-03-17 at 5 36 50 pm" src="https://cloud.githubusercontent.com/assets/5100535/24037467/dfec977e-0b38-11e7-894b-d51ff41da1bf.png">

[2017-03-17 09:44] kristiandupont commented on #821
Hi @antoxi4, do you have a realm file that I can try to use to reproduce this?

[2017-03-17 09:48] kristiandupont commented on #858
Ok, so that means that the admin token is bad. Did you try hardcoding it into your code to see if that makes a difference? Otherwise, would it be possible for you to share your project with us at help@realm.io so I can try and see if I can reproduce it?

[2017-03-17 11:28] atom2ueki commented on #858
@kristiandupont I may misunderstand, is the realm object server not support on linux or realm.js not support on linux, because my object server inside a docker with ubuntu 14.04, will share my project to that email also, thanks

[2017-03-17 11:37] kristiandupont commented on #858
The object server can run on Linux just fine. It's the developer (=free) edition of the node.js sdk that doesn't support sync on Linux. I will take a look at your project.

[2017-03-17 12:20] kristiandupont opened #922 "Linter passes on CI even when there are errors"
It seems right now that even though CI does execute the lint target, it always passes even when there are linter errors.

[2017-03-17 13:13] #909 closed

[2017-03-17 14:07] joshuapinter commented on #857
Hey @kristiandupont, can I get an update on this. It's currently a blocker with going to production as a user that starts the app while on a train and in a tunnel can't see any of the data.

Am I missing something that would allow me to access to the local database whilst offline and Realm is periodically checking for an internet connection?

This seems like a big gap in the capabilities, so I'm l

[2017-03-17 14:08] kristiandupont opened #923 "Descriptive error message trying to access Sync on Linux"
As Sync is not available in the free edition on node on linux, we should produce an error rather than just a missing sync object.

[2017-03-17 17:13] fealebenpae commented on #857
Once you've logged a user in it's actually persisted internally by Realm across application runs until you manually log it out. You can find a map with all the logged-in users in `Realm.Sync.User.all` and you can use that to open a synced realm even when offline.

[2017-03-17 19:48] borapop commented on #868
Have the same problem. I did:

- stop the package manager
- `yarn cache clean`
- `yarn start`

Still having this issue

[2017-03-17 19:56] borapop commented on #868
I have solved issue by adding `libRealmJS.a` and `libRealmReact.a` to Linked Frameworks and Libraries. I'm using project with Cocoapods.

[2017-03-17 19:59] joshuapinter commented on #857
Oh,I didn't know that. Can you show me a little code on what that would like so I can give it a shot this evening.

Thanks.

On Mar 17, 2017, 11:13 AM -0600, Yavor Georgiev <notifications@github.com>, wrote:

[2017-03-18 09:44] Alappin commented on #894
@kristiandupont What is the estimated timeline for realm to officially support Electron since this is a much needed feature? As @gritzko suggested, having some sought of control with regards to where the realm files are to be stored e.g. ~/.realm would be great.

[2017-03-18 17:00] allenw23 opened #927 "addListener notification is empty (documentation only)"
When using addListener(objects, changes) on React Native iOS it always returns empty on the first notification and the second notification returns what should have been in the first one.

I found in results-tests.js below that first notification is empty.

Is this by design or am I doing something wrong here?  :grinning:

[code]

[2017-03-18 18:10] AnasMunir commented on #428
+1 for Nativescript

[2017-03-18 20:41] lfeddern commented on #816
Hi there,

I am trying to provide a path to instantiate a new realm with a path like so, to achieve the goal of prepopulating the database and then shipping it with my app:
[code]

However, whenever I then use the realm:

e.g.

[code]

I just get the error:

unable to open a realm at path 'database.realm.management'. Please use a path where your app has read-write permissions.

What am I doing wro